<div id="profile" class="page-layout simple tabbed" *ngIf="loaded">
  <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
    fxLayoutAlign.gt-sm="space-between end">
    <div *ngIf="user" class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="start center">
      <img class="profile-image avatar huge" [src]="getProfileImage()"
        [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }" />
      <div class="name" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
        {{ user.firstname }} {{ user.lastname }}
      </div>
    </div>

    <!-- <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{ value: '*', params: { delay: '200ms' } }">
      <button mat-raised-button color="accent" aria-label="Follow">
        Follow
      </button>
      <button mat-raised-button color="primary" aria-label="Send Message">
        Send Message
      </button>
    </div> -->
  </div>
  <div class="content">
    <div style="padding-top: 15px"></div>
    <!-- <mat-card class="org-card p-10 m-10">
      <h3>asdfasf</h3>
    </mat-card> -->
    <profile-form [user]="user"></profile-form>

    <app-local-repository-location-switch *ngIf="hasVolunteerRole()"></app-local-repository-location-switch>
  </div>
</div>