@import "src/@fuse/scss/fuse";

#profile {
  .header {
    height: 230px;
    min-height: 230px;
    max-height: 230px;
    background: url("/assets/images/backgrounds/dark-material-bg.jpg") no-repeat
      0 45%;
    background-size: cover;

    .profile-image {
      margin-right: 24px;

      @include media-breakpoint("sm") {
        margin: 0 0 16px 0;
      }
    }

    .name {
      font-size: 34px;
      color: #ffffff;

      @include media-breakpoint("sm") {
        margin-bottom: 32px;
      }
    }

    .actions {
      button {
        text-transform: none;
        padding: 0 16px;
        margin: 0 0 0 8px;
      }
    }
  }

  // .content {
  //   flex: 1;

  //   mat-tab-group {
  //     height: 100%;

  //     .mat-tab-body-wrapper {
  //       flex-grow: 1;
  //     }
  //   }
  // }
}

mat-divider {
  margin-top: 25px;
  margin-bottom: 25px;
}
