<div id="engagements" class="page-layout blank p-24" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <h1>Your Engagements</h1>
    <img class="header-icon" src="assets/icons/engagements.svg">
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <mat-tab-group dynamicHeight="true">

      <mat-tab label="Opportunities">
        <fuse-opportunities></fuse-opportunities>
      </mat-tab>

      <mat-tab label="Collaborations">
        <fuse-collaborations></fuse-collaborations>
      </mat-tab>

      <mat-tab label="Contributions">
        <fuse-contributions></fuse-contributions>
      </mat-tab>

      <mat-tab label="Encouragements">
        <fuse-encouragements></fuse-encouragements>
      </mat-tab>

      <mat-tab label="List">
        <fuse-projects></fuse-projects>
      </mat-tab>

      <mat-tab label="Calendar">
        <fuse-calendar></fuse-calendar>
      </mat-tab>

    </mat-tab-group>

  </div>
  <!-- / CONTENT -->

</div>
