<div class="page-layout blank right-sidenav p-24" fusePerfectScrollbar>

  <div class="header mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon class="iconButton" (click)="backClicked()" style="margin-left: 20px">keyboard_return</mat-icon>
    <h1>Task detail</h1>
    <mat-icon class="iconButton" *ngIf="showEdit(); else elsee" routerLink="/main/task-form/{{task.id}}" style="margin-right: 20px">edit</mat-icon>
    <ng-template #elsee>
      <div></div>
    </ng-template>
  </div>


  <mat-sidenav-container>

    <!-- CENTER -->
    <div class="center" fxFlex *ngIf="task">

      <!-- HEADER -->
      <div class="header p-24 mat-accent-bg" fxHide fxLayout="column" fxLayoutAlign="space-between start">
      </div>
      <!-- / HEADER -->

      <!-- CONTENT -->
      <div class="content p-24 mat-white-bg" fusePerfectScrollbar>
        <div>

          <mat-form-field>
            <input matInput placeholder="Name" [readonly]="true" [value]="task.name">
          </mat-form-field>

          <mat-form-field>
            <textarea matInput placeholder="Description" [readonly]="true" [value]="task.description" rows="10"></textarea>
          </mat-form-field>

          <mat-form-field>
            <input matInput [readonly]="true" placeholder="Start Date" [value]="task.startDate | date: 'dd.MM.yyyy'">
          </mat-form-field>

          <mat-form-field>
            <input matInput [readonly]="true" placeholder="End Date" [value]="task.endDate | date: 'dd.MM.yyyy'">
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Status" [readonly]="true" [value]="task.status">
          </mat-form-field>

          <mat-form-field>
            <p>Required Competences</p><b></b>
            <mat-chip-list>
              <mat-chip disabled *ngFor="let competence of task.requiredCompetences">{{ competence.name }}</mat-chip>
            </mat-chip-list>
          </mat-form-field>

          <mat-form-field>
            <p>Acquirable Competences</p><b></b>
            <mat-chip-list>
              <mat-chip disabled *ngFor="let competence of task.acquirableCompetences">{{ competence.name }}
              </mat-chip>
            </mat-chip-list>
          </mat-form-field>

        </div>

        <div>
          <button *ngFor="let workflowStep of workflowStepsDefault" (click)="executeNextWorkflowStep(workflowStep)" mat-raised-button
            color="primary">
            {{workflowStep.label}}
          </button>
        </div>

        <mat-divider></mat-divider>

        <!-- Custom Workflow Step Implementation -->

        <div *ngIf="workflowStepsAssignment.length > 0">
          <app-task-assign [workflowStepsAssignment]="workflowStepsAssignment" [participant]="participant" [task]="task" [workflowProcessId]="workflowProcessId"
            [marketplace]="marketplace"></app-task-assign>
        </div>

        <!-- End Custom Workflow Step Implementation -->
      </div>


    </div>
    <!-- / CONTENT -->

    <!-- SIDENAV -->
    <mat-sidenav class="sidenav right-sidenav " position="end" opened="true" mode="side" fuseMatSidenavHelper="task-detail-right-sidenav"
      mat-is-locked-open="gt-md">
      <fuse-task-timeline></fuse-task-timeline>
    </mat-sidenav>
    <!-- / SIDENAV -->
  </mat-sidenav-container>

</div>
