<div style="font-size: 18px; padding-left: 10px">
  <div>Nach Organisation filtern</div>
  <div fxLayout="row" fxLayoutAlign="start start">
    <div style="padding:3px"></div>
    <button
      mat-flat-button
      type="button"
      color="accent"
      style="height: 60px; min-width: 60px;"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <div
        style=" position: relative; width: 50px; height: 50px; padding-top: 7px; font-size: 18px; font-weight: 900"
      >
        Alle
      </div>
    </button>
    <div style="padding:3px"></div>
    <button
      mat-stroked-button
      type="button"
      color="accent"
      style="height: 60px; min-width: 60px;"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <div
        style=" position: relative; width: 50px; height: 50px; padding-top: 5px;"
      >
        <img
          style="object-fit: contain; max-width: 100%; max-height: 100%"
          src="../../../../assets/images/logos/FF_Altenberg.jpg"
        />
      </div>
    </button>
    <div style="padding:3px"></div>

    <button
      mat-stroked-button
      type="button"
      color="accent"
      style="height: 60px; min-width: 60px;"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <div
        style=" position: relative; width: 50px; height: 50px; padding-top: 5px;"
      >
        <img
          style="object-fit: contain; max-width: 100%; max-height: 100%"
          src="../../../../assets/images/logos/OERK_Sonderlogo_rgb_cropped.jpg"
        />
      </div>
    </button>

    <div style="padding:3px"></div>
    <button
      mat-stroked-button
      type="button"
      color="accent"
      style="height: 60px; min-width: 60px;"
      fxLayout="row"
      fxLayoutAlign="start center"
    >
      <div
        style=" position: relative; width: 50px; height: 50px; padding-top: 5px;"
      >
        <img
          style="object-fit: contain; max-width: 100%; max-height: 100%"
          src="../../../../assets/images/avatars/musikvereinschwertberg.jpeg"
        />
      </div>
    </button>
  </div>
</div>
