<div class="table">
    <mat-table
      #table
      [dataSource]="dataSource"
      *ngIf="dataSource.data.length != 0"
    >
      <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef
          >Name
        </mat-header-cell>
        <mat-cell *matCellDef="let ruleExecution">{{ ruleExecution.volunteer.username }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Status">
        <mat-header-cell *matHeaderCellDef
          >Status
        </mat-header-cell>
        <mat-cell *matCellDef="let ruleExecution">  {{ retrieveStatusValueOf(ruleExecution.status)}} </mat-cell>
      </ng-container>
      
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
      ></mat-row>
    </mat-table>

    <div
      class="no-data"
      *ngIf="dataSource.data.length === 0"
      style="font-size: 20px;"
    >
      Kein Freiwillger erfüllt Bedingungen.
    </div>
  </div>
  <!--(click)="onRowSelect(row)-->