@import "src/@fuse/scss/fuse";

.page-layout {


  .table {
    mat-row:nth-child(even) {
      background-color: #afcbe6;
    }

    mat-row:nth-child(odd) {
      background-color: white;
    }

    mat-row {
      cursor: pointer;
    }

    mat-row:hover {
      opacity: 0.5;
    }

    .mat-column-actions {
      flex: 0 0 55px;
    }

  }

  .mat-spinner {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
  }

}
