.overlay-content {
  .overlay-button {
    width: 100px;

    border-radius: 4px; 
    border-style: solid; 
    border-width: 1px; 
    border-color: currentColor; 

    background-color: white; 

    padding: 0 10px; 
    line-height: 20px;

    //center
    display: block; 
    margin: 0 auto;
  }

  .icon-wrapper {
    width: 65px; 
    height: 65px; 

    background: rgb(240, 240, 240); 
    outline-color: grey; 
    outline-style: solid; 
    outline-width: 1px;

    cursor: pointer;
  }

  .field-container {
    margin-top: -16px;

    .field-label {
      z-index: 1;
      display: inline; 
      position: relative; 
      top: 15px; 
      left: 8px;
      font-size: 12px; 
      background: white;
    }
  }

  .normal-label {
    z-index: 1;
    display: inline; 
    position: relative; 
    font-size: 12px; 
    background: white;
  }

  .properties-section {
    height: 143px; 

    overflow-y: scroll; 
    overflow-x: hidden; 

    .property-entry {
      cursor: pointer;
      .property-entry-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        width: 195px;      
      }
    }
    .property-entry:hover {
      background-color: rgb(62, 125, 219);
      color: white;
    }
  }

  .outline-border {  
    border: solid 1px rgb(80, 80, 80); 
    border-radius: 4px;
  }

}


:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix  {
  padding: 0em 0 10px 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding-left: 5px;
  padding-right: 5px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding: 0;
}

    