<h4>{{titleKey | translate}}</h4>

<form class="task-form" (submit)="save()" [formGroup]="taskForm">
  <mat-form-field class="full-width">
    <input matInput placeholder="{{'TASK.ID' | translate}}" [formControl]="taskForm.controls['taskId']">
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="{{'TASK.DESCRIPTION' | translate}}"
              [formControl]="taskForm.controls['description']"></textarea>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
