<!--
<div class="example-container">

  <mat-table [dataSource]="taskTypes">

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> 'Name' </mat-header-cell>
      <mat-cell *matCellDef="let taskTypes"> {{taskTypes.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> 'Description' </mat-header-cell>
      <mat-cell *matCellDef="let taskTypes"> {{taskTypes.description}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></mat-row>

  </mat-table>

</div>

-->

