
.add-table {
    height: 400px;
    overflow: auto;
}
  
table {
    width: 100%;
}

.mat-header-row{
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}

div#enumGraphContainer {
    z-index: 1;
  }

