<div #enumGraphContainer id="enumGraphContainer" style="border: black solid 2px; border-radius: 2px"></div>
<div fxLayout="row" fxLayoutAlign="start center">
    <button mat-raised-button (click)="onSaveClick()">Speichern</button>
    <button mat-raised-button (click)="onSaveAndBackClick()">Speichern und Schließen</button>
    <button mat-raised-button (click)="onBackClick()">Zurück</button>
</div>

<enum-options-overlay-control [displayOverlay]="displayOverlay" [overlayContent]="overlayContent"
    [overlayEvent]="overlayEvent" (overlayClosed)="handleOverlayClosedEvent($event)">
</enum-options-overlay-control>