<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli|Roboto:300,400,500,700|Google+Sans">


<div class="page-layout blank p-24" fusePerfectScrollbar>

  <div style="padding-top: 12px"></div>

  <div class="header p-16 p-sm-24" fxLayout="row" fxLayoutAlign="space-between center" style="margin-left: 0px">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div style="padding-top: 0px; z-index: 255; position: relative; width: 85px; height: 85px;">
        <img style="object-fit: contain; max-width: 100%; max-height: 100%" src="../../../../assets//images/logos/recruiter.jpg">
      </div>

      <h1 style="padding-left: 5px; font-size: 22px; color: white; padding-top: 50px">
        Recruiter: 'Best Jobs'</h1>
    </div>
    <!-- <div style="padding-left: 80px"></div> -->

    <div></div>

    <h1 style="text-align: end">Freiwilligenpasseinträge</h1>
    <!-- <div></div> -->
  </div>

  <div style="padding-top:15px"></div>

  <br>

  <div class="mat-card">

    <div style="padding-top: 20px" div>
      <div style="padding-top: 12px; padding-left: 50px; padding-right: 50px; padding-bottom: 12px">
        <mat-accordion style="padding: 10px 0;">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title fxLayout=row fxLayoutAlign="space-between center">
                <div fxLayout=row fxLayoutAlign="start start">
                  <img class="avatar" src="../../../../assets//images/avatars/Blair.jpg">
                  <div style="padding-left: 10px"></div>
                  <div style="padding-top: 7px; font-size: 19px">Toni Helfer</div>
                </div>
                <div fxLayout=row fxLayoutAlign="end center">
                  <!-- <div>Verified Status </div> -->
                  <div fxLayout=column fxLayoutAlign="center center">
                    <mat-progress-bar style="width:250px" class="green-yellow-progress" value=100>
                    </mat-progress-bar>
                    <div>Completely Verified</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel expanded=true>
            <mat-expansion-panel-header>
              <mat-panel-title fxLayout=row fxLayoutAlign="space-between center">
                <div fxLayout=row fxLayoutAlign="start start">
                  <img class="avatar" src="../../../../assets/images/avatars/weixlbaumer_small.png">
                  <div style="padding-left: 10px"></div>
                  <div style="padding-top: 7px; font-size: 19px">Markus Weixlbaumer</div>
                </div>

                <div fxLayout=row fxLayoutAlign="end center">
                  <!-- <div>Verified Status </div> -->
                  <div fxLayout=column fxLayoutAlign="center center">
                    <mat-progress-bar *ngIf="verifyStage==0" style="width:250px" class="green-yellow-progress" value=83>
                    </mat-progress-bar>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div style="padding-top: 20px"></div>

            <div fxLayout="row" fxLayoutAlign="start center">
              <div style="padding-right: 100px"></div>
              <img class="profile-img" src="../../../../assets/images/avatars/weixlbaumer.jpg">
              <div style="padding-right: 25px"></div>
              <div fxLayout="column" fxLayoutAlign="start start">
                <div style="font-size: 30px">Markus Weixlbaumer</div>
                <div style="padding-top: 20px"></div>
                <div style="font-size: 18px">Freiwillig seit: 2000</div>
                <div style="font-size: 18px"><strong>FF Altenberg</strong> und <strong>Schwertberg</strong></div>
                <a style="font-size: 15px; cursor: pointer">mehr</a>
              </div>

            </div>

            <div style="padding-top: 0px pr-20" fxLayout=row fxLayoutAlign="end center">
              <button class="mr-20" mat-raised-button type="button" (click)=pressedVerifyAll() color=primary> Verifiziere alle
                                </button>
            </div>

            <h2>Tätigkeiten</h2>

            <div *ngIf="tableDataSource.data.length > 0" class="tasksTable" fxLayout="column" fxLayoutAlign="none">
              <table mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8" class="mat-elevation-z8">
                <ng-container matColumnDef="taskName">
                  <th mat-header-cell *matHeaderCellDef> Tätigkeit </th>
                  <td mat-cell *matCellDef="let element"> {{element.properties[TASK_NAME].values[0]}} </td>
                </ng-container>

                <ng-container matColumnDef="taskType1">
                  <th mat-header-cell *matHeaderCellDef> Typ </th>
                  <td mat-cell *matCellDef="let element"> {{element.properties[TASK_TYPE_1].values[0]}} </td>
                </ng-container>

                <ng-container matColumnDef="taskType2">
                  <th mat-header-cell *matHeaderCellDef> Untertyp </th>
                  <td mat-cell *matCellDef="let element"> {{element.properties[TASK_TYPE_2].values[0]}} </td>
                </ng-container>

                <ng-container matColumnDef="taskDescription">
                  <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
                  <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DESCRIPTION].values[0]}} </td>
                </ng-container>

                <ng-container matColumnDef="taskDateFrom">
                  <th mat-header-cell *matHeaderCellDef> Datum </th>
                  <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DATE_FROM].values[0] | date:'dd.MM.yyyy hh:mm'}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="taskDateTo">
                  <th mat-header-cell *matHeaderCellDef> Ende </th>
                  <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DATE_TO].values[0] | date:'dd.MM.yyyy hh:mm'}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="taskDuration">
                  <th mat-header-cell *matHeaderCellDef> Dauer [h] </th>
                  <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DURATION].values[0]}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator [pageSize]="12" id="paginator" showFirstLastButtons></mat-paginator>


            <div class="no-data" *ngIf="tableDataSource.data.length === 0">
              Keine Tätigkeiten freigegeben!
            </div>






            <h2>Freigegebene Statistiken</h2>
            <div style="display:flex;" flexLayout="row">
              <div *ngIf="weekdayData" style="display:inline-block; width: 600px; " class="mt-20">
                <span style="padding-left: 10%; font-size: 18px;">Wochentag</span>
              </div>
              <div *ngIf="weekdayData" style="display:inline-block; width: 10%;" class="mt-20">
              </div>

              <div *ngIf="dayNightData" style="display:inline-block; width: 600px;" class="mt-20">
                <span style="padding-left: 10%; font-size: 18px;">Tageszeit</span>
              </div>
            </div>
            <div style="display:flex;" flexLayout="row">
              <div *ngIf="weekdayData" class="mt-20" style="display:inline-block; width: 600px; background:#F4F4F4; border-radius: 10px;">
                <div class="donut-parent">
                  <ngx-charts-pie-chart class="chart-container" [view]="[550, 550]" [results]="weekdayData" [animations]="animations" [labels]="true" [tooltipDisabled]="false" [legend]="false" [explodeSlices]="false" [doughnut]="true" arcWidth="0.6" scheme="cool">
                  </ngx-charts-pie-chart>
                </div>
              </div>
              <div style="display:inline-block; width: 10%; background:#fff;">
              </div>

              <div *ngIf="dayNightData" class="mt-20" style="display:inline-block; width: 600px; background:#F4F4F4;  border-radius: 10px;">
                <div class="donut-parent">
                  <ngx-charts-pie-chart class="chart-container" [view]="[550, 550]" [results]="dayNightData" [animations]="animations" [labels]="true" [tooltipDisabled]="false" [legend]="false" [explodeSlices]="false" [doughnut]="true" arcWidth="0.6" scheme="cool">
                  </ngx-charts-pie-chart>
                </div>
              </div>
            </div>

          </mat-expansion-panel>
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title fxLayout=row fxLayoutAlign="space-between center">
                <div fxLayout=row fxLayoutAlign="start start">
                  <img class="avatar" src="../../../../assets//images/avatars/Arnold.jpg">
                  <div style="padding-left: 10px"></div>
                  <div style="padding-top: 7px; font-size: 19px">Max Müller</div>
                </div>
                <div fxLayout=row fxLayoutAlign="end center">
                  <div fxLayout=column fxLayoutAlign="center center">
                    <mat-progress-bar style="width:250px" class="green-red-progress" value=85>
                    </mat-progress-bar>
                    <div>Partially Verified</div>
                  </div>
                </div>

              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title fxLayout=row fxLayoutAlign="space-between center">
                <div fxLayout=row fxLayoutAlign="start start">
                  <img class="avatar" src="../../../../assets//images/avatars/Henderson.jpg">
                  <div style="padding-left: 10px"></div>
                  <div style="padding-top: 7px; font-size: 19px">Heinz Fissler</div>
                </div>
                <div fxLayout=row fxLayoutAlign="end center">
                  <!-- <div>Verified Status </div> -->
                  <div fxLayout=column fxLayoutAlign="center center">
                    <mat-progress-bar style="width:250px" class="green-red-progress" value=100>
                    </mat-progress-bar>
                    <div>Completely Verified</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>