<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli|Roboto:300,400,500,700|Google+Sans">


<div class="page-layout blank p-24" fusePerfectScrollbar>

  <div style="padding-top: 12px"></div>

  <div class="header p-16 p-sm-24" fxLayout="row" fxLayoutAlign="space-between center" style="margin-left: 0px">
    <div fxLayout="row" fxLayoutAlign="start center">
      <div style="padding-top: 0px; z-index: 255; position: relative; width: 85px; height: 85px;">
        <img style="object-fit: contain; max-width: 100%; max-height: 100%" src="../../../../assets//images/logos/recruiter.jpg">
      </div>

      <h1 style="padding-left: 5px; font-size: 22px; color: white; padding-top: 50px">
        Recruiter: 'Best Jobs'</h1>
    </div>
    <!-- <div style="padding-left: 80px"></div> -->

    <div></div>

    <h1 style="text-align: end">Freiwilligenpasseinträge</h1>
    <!-- <div></div> -->
  </div>

  <div style="padding-top:15px"></div>

  <br>

  <div class="mat-card">

    <div style="padding-top: 20px" div>
      <div style="padding-top: 12px; padding-left: 50px; padding-right: 50px; padding-bottom: 12px">
        <mat-accordion style="padding: 10px 0;">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title fxLayout=row fxLayoutAlign="space-between center">
                <div fxLayout=row fxLayoutAlign="start start">
                  <img class="avatar" src="../../../../assets//images/avatars/Blair.jpg">
                  <div style="padding-left: 10px"></div>
                  <div style="padding-top: 7px; font-size: 19px">Toni Helfer</div>
                </div>
                <div fxLayout=row fxLayoutAlign="end center">
                  <!-- <div>Verified Status </div> -->
                  <div fxLayout=column fxLayoutAlign="center center">
                    <mat-progress-bar style="width:250px" class="green-yellow-progress" value=100>
                    </mat-progress-bar>
                    <div>Completely Verified</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>

          <mat-expansion-panel expanded=true>
            <mat-expansion-panel-header>
              <mat-panel-title fxLayout=row fxLayoutAlign="space-between center">
                <div fxLayout=row fxLayoutAlign="start start">
                  <img class="avatar" src="../../../../assets/images/avatars/weixlbaumer_small.png">
                  <div style="padding-left: 10px"></div>
                  <div style="padding-top: 7px; font-size: 19px">Markus Weixlbaumer</div>
                </div>

                <div fxLayout=row fxLayoutAlign="end center">
                  <!-- <div>Verified Status </div> -->
                  <div fxLayout=column fxLayoutAlign="center center">
                    <mat-progress-bar *ngIf="verifyStage==0" style="width:250px" class="green-yellow-progress" value=83>
                    </mat-progress-bar>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div style="padding-top: 20px"></div>

            <div fxLayout="row" fxLayoutAlign="start center">
              <div style="padding-right: 100px"></div>
              <img class="profile-img" src="../../../../assets/images/avatars/weixlbaumer.jpg">
              <div style="padding-right: 25px"></div>
              <div fxLayout="column" fxLayoutAlign="start start">
                <div style="font-size: 30px">Markus Weixlbaumer</div>
                <div style="padding-top: 20px"></div>
                <div style="font-size: 18px">Freiwillig seit: 2000</div>
                <div style="font-size: 18px"><strong>FF Altenberg</strong> und <strong>Schwertberg</strong></div>
                <a style="font-size: 15px; cursor: pointer">mehr</a>
              </div>

            </div>

            <div style="padding-top: 0px pr-20" fxLayout=row fxLayoutAlign="end center">
              <button class="mr-20" mat-raised-button type="button" (click)=pressedVerifyAll() color=primary> Verifiziere alle
                                </button>
            </div>

            <h2>Tätigkeiten</h2>
            TODO load ??

            <div fxLayout="row">

              <div fxFlex=3></div>

              <mat-table #table [dataSource]="dataSourceComp" fxFlex=90>
                <ng-container matColumnDef="label">
                  <mat-header-cell *matHeaderCellDef>Label</mat-header-cell>
                  <mat-cell *matCellDef="let entry">
                    {{entry.label}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="issuer">
                  <mat-header-cell *matHeaderCellDef>Issuer</mat-header-cell>
                  <mat-cell *matCellDef="let entry">

                    <img *ngIf="entry.issuer == 'ÖRK'" class="avatar" src="../../../../assets//images/logos/OERK_Sonderlogo_rgb.jpg">
                    <img *ngIf="entry.issuer == 'FF Altenberg'" class="avatar" src="../../../../assets//images/logos/FF_Altenberg.jpg">

                    <div>{{entry.issuer}}</div>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="date1">
                  <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                  <mat-cell *matCellDef="let entry">
                    {{entry.date1}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="date2">
                  <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                  <mat-cell *matCellDef="let entry">
                    {{entry.date2}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="evidence">
                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                  <mat-cell *matCellDef="let entry">
                    <a style="cursor: pointer">View Evidence</a>
                  </mat-cell>
                </ng-container>


                <ng-container matColumnDef="details">
                  <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
                  <mat-cell *matCellDef="let entry">
                    <a style="cursor: pointer">View Details</a>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="status">
                  <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                  <mat-cell *matCellDef="let entry">

                    <div *ngIf="entry.status=='clear'" fxLayout="row" fxLayoutAlign="start center">
                      <a>verify</a>
                    </div>

                    <div *ngIf="entry.status=='access_time'" fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="orange-fg">{{entry.status}}</mat-icon>
                      <div style="padding: 3px"></div>
                      <div>Outdated</div>
                      <div style="padding-right: 15px"></div>
                      <a>verify</a>
                    </div>

                    <div *ngIf="entry.status=='check'" fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="green-fg">{{entry.status}}</mat-icon>
                      <div style="padding: 3px"></div>
                      <div>Verified</div>
                      <div style="padding-right: 15px"></div>
                      <a>verify</a>

                    </div>

                    <div *ngIf="entry.status=='verifying'">
                      <mat-spinner diameter="20"></mat-spinner>

                    </div>


                  </mat-cell>
                </ng-container>

                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
              <!-- 
                <div fxFlex></div> -->
            </div>

            <h2>Freigegebene Statistiken</h2>
            <div style="display:flex;" flexLayout="row">
              <div *ngIf="weekdayData" style="display:inline-block; width: 50%; text-align: center;" class="mt-20">
                <span>Wochentag</span>
              </div>
              <div *ngIf="dayNightData" style="display:inline-block; width: 50%; text-align: center;" class="mt-20">
                <span>Tageszeit</span>
              </div>
            </div>
            <div style="display:flex;" flexLayout="row">
              <div *ngIf="weekdayData" class="mt-20" style="display:inline-block; width: 50%;">
                <div class="donut-parent">
                  <ngx-charts-pie-chart class="chart-container" [view]="[550, 550]" [results]="weekdayData" [animations]="animations" [labels]="true" [tooltipDisabled]="false" [legend]="false" [explodeSlices]="false" [doughnut]="true" arcWidth="0.6" scheme="cool">
                  </ngx-charts-pie-chart>
                </div>
              </div>

              <div *ngIf="dayNightData" class="mt-20" style="display:inline-block; width: 50%;">
                <div class="donut-parent">
                  <ngx-charts-pie-chart class="chart-container" [view]="[550, 550]" [results]="dayNightData" [animations]="animations" [labels]="true" [tooltipDisabled]="false" [legend]="false" [explodeSlices]="false" [doughnut]="true" arcWidth="0.6" scheme="cool">
                  </ngx-charts-pie-chart>
                </div>
              </div>
            </div>

          </mat-expansion-panel>
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title fxLayout=row fxLayoutAlign="space-between center">
                <div fxLayout=row fxLayoutAlign="start start">
                  <img class="avatar" src="../../../../assets//images/avatars/Arnold.jpg">
                  <div style="padding-left: 10px"></div>
                  <div style="padding-top: 7px; font-size: 19px">Max Müller</div>
                </div>
                <div fxLayout=row fxLayoutAlign="end center">
                  <div fxLayout=column fxLayoutAlign="center center">
                    <mat-progress-bar style="width:250px" class="green-red-progress" value=85>
                    </mat-progress-bar>
                    <div>Partially Verified</div>
                  </div>
                </div>

              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title fxLayout=row fxLayoutAlign="space-between center">
                <div fxLayout=row fxLayoutAlign="start start">
                  <img class="avatar" src="../../../../assets//images/avatars/Henderson.jpg">
                  <div style="padding-left: 10px"></div>
                  <div style="padding-top: 7px; font-size: 19px">Heinz Fissler</div>
                </div>
                <div fxLayout=row fxLayoutAlign="end center">
                  <!-- <div>Verified Status </div> -->
                  <div fxLayout=column fxLayoutAlign="center center">
                    <mat-progress-bar style="width:250px" class="green-red-progress" value=100>
                    </mat-progress-bar>
                    <div>Completely Verified</div>
                  </div>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>