@import "src/@fuse/scss/fuse";

.browse-dialog-content {
  h1,
  h2 {
    padding: 0;
    margin: 0;
  }

  .back-button {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 4px;
    cursor: pointer;
  }

  .back-button:hover {
    background-color: rgb(62, 125, 219);

    border-color: rgb(62, 125, 219);
    color: white;
  }

  .browse-table {
    overflow-x: hidden;
    overflow-y: scroll;

    display: block;

    border-style: solid;
    border-color: rgb(62, 125, 219);
    border-width: 2px;
    border-radius: 4px;

    table-layout: fixed;
    width: 450px;
    height: 179px;

    background-color: rgb(245, 245, 245);

    .table-row {
      min-height: 0px;
      padding-top: 4px;
      padding-bottom: 4px;
      cursor: pointer;

      .name-cell {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 205px;
      }

      .date-cell {
        font-size: 12px;
      }
    }

    .table-row:hover {
      background-color: rgb(62, 125, 219);
      color: white;
    }

    .table-header-cell {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 2;
      text-align: start;

      background-color: rgb(62, 125, 219);
    }
  }

  .search-field {
    width: 100%;
  }
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 10px 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding-left: 5px;
  padding-right: 5px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding: 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  // background-color: rgb(230, 228, 228);
  color: rgb(62, 125, 219);
}
