@import "../dialog-styles.scss";

.mat-dialog-title {
  margin: 0;

  h1 {
    padding: 0 0 6px 0;
    margin: 0;
  }
}

mat-dialog-content {
  height: calc(100% - 52px - 20px);
  overflow: hidden;

  h1,
  h2 {
    padding: 0;
    margin: 0;
  }

  .browse-dialog-content .browse-table {
    height: 197px;
    overflow-y: hidden;

    .table-header-cell {
      .table-header-label {
        cursor: pointer;
      }
      .table-header-label:hover {
        text-decoration: underline;
        width: max-content;
      }
    }
  }
}
