<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli|Roboto:300,400,500,700|Google+Sans">



<div class="page-layout blank p-24" fusePerfectScrollbar>

    This is the profile page
  
    Chart:

    <div fxLayout="row" fxLayoutAlign="space-around center" > 
        <canvas #myChart1 width="400" height="400">{{ chart1 }}</canvas>
        <canvas #myChart2 width="400" height="400">{{ chart2 }}</canvas>


        <div class="widget" fxFlex="100" fxFlex.gt-sm="33">

            <div class="fuse-card auto-width">

                <div class="p-16 pb-0" fxLayout="row wrap" fxLayoutAlign="start end">

                    <div class="pr-16">
                        <div class="h3 secondary-text">Visits</div>
                        <div class="font-size-54 font-weight-300 line-height-1 mt-8">
                            {{chart3meta.visits.value}}
                        </div>
                    </div>

                    <div class="py-4 font-size-16" fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="row" fxLayoutAlign="start center" class="green-fg"
                            *ngIf="chart3meta.visits.ofTarget > 0">
                            <mat-icon class="green-fg mr-4">trending_up</mat-icon>
                            <span>{{chart3meta.visits.ofTarget}}%</span>
                        </div>
                        <div fxFlex="row" fxLayoutAlign="start center" class="red-fg"
                            *ngIf="chart3meta.visits.ofTarget < 0">
                            <mat-icon class="red-fg mr-4">trending_down</mat-icon>
                            <span>{{chart3meta.visits.ofTarget}}%</span>
                        </div>
                        <div class="ml-4 text-nowrap">of target</div>
                    </div>
                </div>

                <canvas #myChart3 width="400" height="400">{{ chart3 }}</canvas>
            </div>
        </div>
    </div>

    <br>
    
    

    <div fxLayout="row" fxLayoutAlign="space-around center">

        <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                    fxLayoutAlign="space-between center">
                    <div class="h3 font-weight-900">{{widget0.title}}</div>

                    <!-- <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                            aria-label="more">
                        <mat-icon>more_vert</mat-icon>
                    </button> -->
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                    <div class="green-fg font-size-72 line-height-72">
                        {{widget0.data.count}}
                    </div>
                    <div class="h3 secondary-text font-weight-500">{{widget0.data.label}}
                    </div>
                </div>

                <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                    <span class="h4 secondary-text text-truncate">
                        {{widget0.data.extra.label}}:
                    </span>
                    <span class="h4 ml-8">{{widget0.data.extra.count}}</span>
                </div>
            </div>
        </fuse-widget>




        <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                    fxLayoutAlign="space-between center">
                    <div class="h3 font-weight-900">{{widget1.title}}</div>

                    <!-- <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                            aria-label="more">
                        <mat-icon>more_vert</mat-icon>
                    </button> -->
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                    <div class="grey-fg font-size-72 line-height-72">
                        {{widget1.data.count}}
                    </div>
                    <div class="h3 secondary-text font-weight-500">{{widget1.data.label}}
                    </div>
                </div>

                <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                    <span class="h4 secondary-text text-truncate">
                        {{widget1.data.extra.label}}:
                    </span>
                    <span class="h4 ml-8">{{widget1.data.extra.count}}</span>
                </div>
            </div>
        </fuse-widget>

        

        <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                    fxLayoutAlign="space-between center">
                    <div class="h3 font-weight-900">{{widget2.title}}</div>

                    <!-- <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                            aria-label="more">
                        <mat-icon>more_vert</mat-icon>
                    </button> -->
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                    <div class="orange-fg font-size-72 line-height-72">
                        {{widget2.data.count}}
                    </div>
                    <div class="h3 secondary-text font-weight-500">{{widget2.data.label}}
                    </div>
                </div>

                <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                    <span class="h4 secondary-text text-truncate">
                        {{widget2.data.extra.label}}:
                    </span>
                    <span class="h4 ml-8">{{widget2.data.extra.count}}</span>
                </div>
            </div>
        </fuse-widget>

        <fuse-widget class="widget" fxLayout="column" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row"
                    fxLayoutAlign="space-between center">
                    <div class="h3 font-weight-900">{{widget3.title}}</div>

                    <!-- <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button"
                            aria-label="more">
                        <mat-icon>more_vert</mat-icon>
                    </button> -->
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                    <div class="red-fg font-size-72 line-height-72">
                        {{widget3.data.count}}
                    </div>
                    <div class="h3 secondary-text font-weight-500">{{widget3.data.label}}
                    </div>
                </div>

                <div class="p-16 grey-50-bg border-top" fxLayout="row" fxLayoutAlign="start center">
                    <span class="h4 secondary-text text-truncate">
                        {{widget3.data.extra.label}}:
                    </span>
                    <span class="h4 ml-8">{{widget3.data.extra.count}}</span>
                </div>
            </div>
        </fuse-widget>
    </div>

    

</div>
