<div id="profile" class="page-layout blank p-24" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <h1>Your <span *ngIf="isMySelf()">"I"</span><span *ngIf="!isMySelf()">Profile</span></h1>
    <img class="header-icon" src="assets/icons/profile.svg">
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">
    <mat-tab-group dynamicHeight="true">

      <mat-tab label="About me">
        <ng-template matTabContent>
          <fuse-profile-about [participant]="participant"></fuse-profile-about>
        </ng-template>
      </mat-tab>

      <mat-tab label="Your Friends">
        <ng-template matTabContent>
          <fuse-profile-friends></fuse-profile-friends>
        </ng-template>
      </mat-tab>

      <mat-tab label="Your Repository" *ngIf="isMySelf()">
        <ng-template matTabContent>
          <fuse-profile-repository></fuse-profile-repository>
        </ng-template>
      </mat-tab>

      <mat-tab label="Your Marketplaces">
        <ng-template matTabContent>
          <fuse-profile-marketplaces [participant]="participant"></fuse-profile-marketplaces>
        </ng-template>
      </mat-tab>

    </mat-tab-group>
  </div>
  <!-- / CONTENT -->
</div>
