@import "common";

#profile {
  .header {
    height: 230px;
    min-height: 230px;
    max-height: 230px;
    background: url("/assets/images/backgrounds/dark-material-bg.jpg") no-repeat
      0 45%;
    background-size: cover;

    .profile-image {
      margin-right: 24px;

      @include media-breakpoint("sm") {
        margin: 0 0 16px 0;
      }
    }

    .name {
      font-size: 34px;
      color: #ffffff;

      @include media-breakpoint("sm") {
        margin-bottom: 32px;
      }
    }

    .actions {
      button {
        text-transform: none;
        padding: 0 16px;
        margin: 0 0 0 8px;
      }
    }
  }

  // .content {
  //   flex: 1;

  //   mat-tab-group {
  //     height: 100%;

  //     .mat-tab-body-wrapper {
  //       flex-grow: 1;
  //     }
  //   }
  // }
}

mat-divider {
  margin-top: 25px;
  margin-bottom: 25px;
}

.address-label {
  display: block;
  position: relative;
  top: 10px;
  width: max-content;
  background: white;
  color: grey;
  left: 8px;
  padding: 0 2px;
}

.weekday-label {
  color: black;
  width: 85px;

  @include media-breakpoint("lt-sm") {
    width: 100%;
    padding-bottom: 4px;
    text-align: center;
  }
}

.time-field {
  width: 75px;

  @media (max-width: 510px) {
    width: 140px;
  }

  @media (max-width: 450px) {
    width: 120px;
  }

  @media (max-width: 350px) {
    width: 70px;
  }

  // @media (max-width: 450px) {
  //   width: 50%;
  // }
}

.time-mid-label {
  margin: 0 12px;

  // @include media-breakpoint("xs") {
  //   width: 100%;
  // }

  @media (max-width: 510px) {
    width: 100%;
    display: block;
    text-align: center;
  }

  .und-label {
    width: 34px;
  }
}

.time-container {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;

  @media (max-width: 510px) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    place-content: center space-around;
    align-items: center;
  }
}

.divider-100-20 {
  width: 100%;
  display: block;
  border-bottom: 1px solid black;

  @include media-breakpoint("sm") {
    margin-left: 20vw;
    margin-right: 20vw;
  }

  @media (max-width: 450px) {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}

mat-accordion {
  margin: 12px 2px;
}

mat-expansion-panel {
  box-shadow: none !important;
  border: 1px black solid;
}

mat-expansion-panel-header {
  padding: 8px;
}

mat-expansion-panel-header:hover,
mat-expansion-panel-header.mat-expanded {
  background-color: rgb(4, 123, 202) !important;
  border-radius: 0;

  mat-panel-title {
    color: white;
  }

  mat-panel-description {
    color: white;
  }
}
