<div id="about" class="p-24" fxLayout="row wrap">

  <div class="repository-content" fxLayout="row wrap" fxLayoutAlign="center">

    <!-- chart -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                 fxFlex="100" fxFlex.gt-sm="100">

      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

        <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="h1">Your competence/skill distribution</div>
        </div>
        <div class="px-16 py-8" fxLayout="row" fxLayoutAlign="space-between center">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </fuse-widget>
    <!-- chart end -->

  </div>
</div>





