.task-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.task-form .full-width {
  width: 100%;
}

.edit-link {
  float: right;
}

.edit-link img {
  cursor: pointer;
  margin-top: -75px;
}
