@import "src/@fuse/scss/fuse";

.mat-dialog-title {
  margin: 0;
  display: block;
  position: relative;
  top: 0px;
  right: 0px;
  left: 0px;

  h1 {
    padding: 0 0 6px 0;
    margin: 0;
  }
}

mat-dialog-content {
  height: calc(100% - 52px);
  max-height: none;

  h1,
  h2 {
    padding: 0;
    margin: 0;
  }
}

mat-dialog-actions {
  display: none;
}
