<form *ngIf="attributeTarget" form name="form" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start"
 [formGroup]="ruleTargetAttributeForm">
  <div fxLayout="row" fxLayoutAlign="start start" style="padding-top: 12px" fxLayoutGap="15px">
    <mat-form-field *ngIf="classProperties && classProperties.length > 0" style="width: 225px">
      <mat-label>Attribut</mat-label>
      <mat-select formControlName="classPropertyId" [value]="attributeTarget?.classProperty?.id">
        <mat-option *ngFor="let cp of classProperties" [value]="cp?.id" (onSelectionChange)="onPropertyChange(cp, $event)">
          {{cp.name}} </mat-option>
      </mat-select>
      <mat-error *ngFor="let validation of targetValidationMessages.property">
        <mat-error class="error-message" *ngIf="ruleTargetAttributeForm.get('classPropertyId').hasError(validation.type) && 
         (ruleTargetAttributeForm.get('classPropertyId').dirty || ruleTargetAttributeForm.get('classPropertyId').touched)">
         {{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
  <div *ngIf="!attributeTarget?.classProperty?.id"> 
    <mat-form-field style="width: 150px">
      <input matInput placeholder="Wert"
        formControlName="value" />
    </mat-form-field>
    </div>
    <div *ngIf="formItem">
      <app-form-item [formItem]="formItem" [form]="ruleQuestionForm" 
         (tupleSelected)="handleTupleSelection($event)"></app-form-item>
    </div>
  </div>
</form>
<!--(change)="onChange($event)"-->