<div id="get-engaged" class="page-layout blank p-24" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <h1>Get Engaged</h1>
    <img class="header-icon" src="assets/icons/get-engaged.svg">
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                 fxFlex="100" fxFlex.gt-sm="70">

      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

        <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="h1">Marketplaces</div>
        </div>
        <div class="px-16 py-8" fxLayout="row" fxLayoutAlign="space-between center" style="min-height: 400px">
          <fuse-marketplaces></fuse-marketplaces>
        </div>
      </div>
    </fuse-widget>

  </div>
</div>
