@import "src/@fuse/scss/fuse";

.page-layout {

  .header {
    position: relative;
    flex: 1 0 auto;
    height: 90px;
    max-height: 90px;
    background: #458219;
    text-align: center;

    @include media-breakpoint('xs') {
      height: 240px;
      padding: 16px;
    }

    h1 {
      color: white;
      font-size: 40px;
      font-weight: 300;
      letter-spacing: 0.01em;
      text-align: center;
      margin-top: 0;
      margin-bottom: 0px;

      @include media-breakpoint-down('xs') {
        font-size: 24px;
      }
    }

    img.header-icon {
      left: 10px;
      padding: 16px;
      max-height: 100%;
      position: absolute;
      filter: brightness(0) invert(1);

      @include media-breakpoint-down('xs') {
        display: none;
      }
    }
  }

  .content {
    flex: 1;
  }
}
