<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
  <div *ngIf="participantRole === 'EMPLOYEE'">
    <a class="navbar-brand" href="">Employee</a>
  </div>
  <div *ngIf="participantRole === 'VOLUNTEER'">
    <a class="navbar-brand" href="">Volunteer</a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" *ngIf="isMenuVisible()">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="participantRole === 'VOLUNTEER'">
        <a class="nav-link" routerLink="/profile">Profile</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdown02" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">Task</a>
        <div class="dropdown-menu" aria-labelledby="dropdown02">
          <div *ngIf="participantRole === 'EMPLOYEE'">
            <a class="dropdown-item" routerLink="/task">Create</a>
          </div>
          <div *ngIf="participantRole === 'VOLUNTEER'">
            <a class="dropdown-item" routerLink="/available">Available</a>
          </div>
          <a class="dropdown-item" routerLink="/tasks">Overview</a>
        </div>
      </li>
      <div *ngIf="participantRole === 'EMPLOYEE'">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdown03" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">Task-Type</a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" routerLink="/taskType">Create</a>
            <a class="dropdown-item" routerLink="/taskTypes">Overview</a>
          </div>
        </li>
      </div>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="participant">
      <li class="nav-item">
        <a class="nav-link">{{participant.username}}</a>
      </li>
    </ul>
    <div>
      <img src="assets/exit.svg" (click)="logout()">
    </div>
  </div>
</nav>
