
mat-dialog-content {

  h1, h2 {
    padding: 0;
    margin: 0;
  }

  tr.entry:hover {
    margin: 5px;
    background-color: rgb(62, 125, 219);
    color: white;

    td.entrybutton {
      display: block;
      cursor: pointer;

    }
  }
  tr.entry {
    // padding: 25px;
    // margin: 25px;
    cursor: default;
    background-color: rgb(230, 228, 228)
    
  }

  td.entrybutton {
    display: none;
    div {
      outline-style: solid;
      outline-color: white;
      color: white;
    }
  }

  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  td.right {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  
}