<div class="page-layout blank right-sidenav" fusePerfectScrollbar>

  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <h1>Your Project</h1>
  </div>


  <mat-sidenav-container>

    <!-- CENTER -->
    <div class="center" fxFlex>

      <!-- HEADER -->
      <div class="header p-24 mat-accent-bg" fxHide fxLayout="column" fxLayoutAlign="space-between start">
      </div>
      <!-- / HEADER -->

      <!-- CONTENT -->
      <div class="content p-24 mat-white-bg" fusePerfectScrollbar *ngIf="project">
        <mat-form-field>
          <input matInput placeholder="Name" [readonly]="true" [value]="project.name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Description" [readonly]="true" [value]="project.description">
        </mat-form-field>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->


    <!-- SIDENAV -->
    <mat-sidenav class="sidenav right-sidenav " position="end" opened="true" mode="side"
                 fuseMatSidenavHelper="project-member-right-sidenav" mat-is-locked-open="gt-md">
      <fuse-project-member></fuse-project-member>
    </mat-sidenav>
    <!-- / SIDENAV -->

  </mat-sidenav-container>
</div>
