<div id="achievements" class="page-layout blank p-24" fusePerfectScrollbar>

    <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
        <h1>Überblick</h1>
        <img class="header-icon" src="assets/icons/achievements.svg">
    </div>

    <!-- HEADER END -->

    <div class="content" fxLayout="column" fxLayoutAlign="start center">
        <div style="margin-top: 10px;"></div>

        <div fxLayout="row" fxLayoutAlign="space-between" style="width: 100%;">
            <div class="third" fxLayout="column">
                <h2 style="font-size: 30px;">FF Eidenberg</h2>
                <div fxLayout=row>
                    <img src="../../../../assets/images/logos/FF_Altenberg.jpg" class="img">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Homepage: </td>
                                <td>ff-eidenberg.at </td>
                            </tr>

                            <tr>
                                <td>Dienstgrad: </td>
                                <td>Hauptbrandinspektor </td>
                            </tr>
                            <tr>
                                <td>Mitglied seit: </td>
                                <td>2003 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="third" fxLayout="column">
                <h2 style="font-size: 30px;">Rotes Kreuz Wilhering</h2>
                <div fxLayout=row>
                    <img src="../../../../assets/images/logos/OERK_logo_OOE.jpg" class="img">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Homepage: </td>
                                <td>roteskreuz.at/ooe/wilhering</td>
                            </tr>

                            <tr>
                                <td>Dienstgrad: </td>
                                <td>Haupthelfer</td>
                            </tr>
                            <tr>
                                <td>Mitglied seit: </td>
                                <td>2012 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="third" fxLayout="column">
                <h2 style="font-size: 30px;">Musikverein Schwertberg</h2>
                <div fxLayout=row>
                    <img src="../../../../assets/images/avatars/musikvereinschwertberg.jpeg" class="img">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Homepage: </td>
                                <td>musikverein-schwertberg.at</td>
                            </tr>
                            <tr>
                                <td>Dienstgrad: </td>
                                <td>einfaches Mitglied </td>
                            </tr>
                            <tr>
                                <td>Mitglied seit: </td>
                                <td>2015 </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- LOGOS END -->

        <!-- CHARTS BEGINN -->

        <div style="height: 60px;"></div>
        <h1 class="engagement">Engagement gesamt</h1>
        <div fxLayout="column" fxLayoutAlign="start center" style="width: 100%;">
            <div fxLayout="column" fxLayoutAlign="start center">
                <div>
                    <!-- <div class="treeParent1">
                            <ngx-charts-tree-map [customColors]="colors" [results]="durationTotal" [gradient]="gradient"
                                [animations]="animations" [valueFormatting]="valueFormattingDuration"
                                (select)="onSelect($event)">
                            </ngx-charts-tree-map>
                        </div>
                        <h2 class="total">Gesamt: {{sumDurationTotal}} Stunden</h2> -->
                    <div class="donut-parent-duration">
                        <ngx-charts-advanced-pie-chart class="chart-container" [results]="durationTotal"
                            [animations]="animations" [tooltipDisabled]="false" [customColors]="colors"
                            [valueFormatting]="valueFormattingDuration">
                        </ngx-charts-advanced-pie-chart>
                    </div>
                </div>
                <div>
                    <!-- <div class="treeParent1">
                            <ngx-charts-tree-map [customColors]="colors" [results]="numberTotal" [gradient]="gradient"
                                [animations]="animations" [valueFormatting]="valueFormattingNumber"
                                (select)="onSelect($event)">
                            </ngx-charts-tree-map>
                        </div>
                        <h2 class="total">Gesamt: {{sumNumberTotal}} Tätigkeiten</h2> -->
                    <div class="donut-parent-duration">
                        <ngx-charts-advanced-pie-chart class="chart-container" [results]="numberTotal"
                            [animations]="animations" [tooltipDisabled]="false" [customColors]="colors"
                            [valueFormatting]="valueFormattingNumber">
                        </ngx-charts-advanced-pie-chart>
                    </div>
                </div>
            </div>

            <div style="height: 80px;"></div>

            <h1 class="engagement">Engagement 2019</h1>
            <div fxLayout="column" fxLayoutAlign="start center">
                <div>
                    <!-- <div class="treeParent2">
                            <ngx-charts-tree-map [customColors]="colors" [results]="duration2019" [gradient]="gradient"
                                [animations]="animations" [valueFormatting]="valueFormattingDuration"
                                (select)="onSelect($event)">
                            </ngx-charts-tree-map>
                        </div> 
                        <h2 class="total">Gesamt: {{sumDuration2019}} Stunden</h2> -->

                    <div class="donut-parent-duration">
                        <ngx-charts-advanced-pie-chart class="chart-container" [results]="duration2019"
                            [animations]="animations" [tooltipDisabled]="false" [customColors]="colors"
                            [valueFormatting]="valueFormattingDuration">
                        </ngx-charts-advanced-pie-chart>
                    </div>
                </div>
                <div>
                    <!-- <div class="treeParent2">
                            <ngx-charts-tree-map [customColors]="colors" [results]="number2019" [gradient]="gradient"
                                [animations]="animations" [valueFormatting]="valueFormattingNumber"
                                (select)="onSelect($event)">
                            </ngx-charts-tree-map>
                        </div> 
                        <h2 class="total">Gesamt: {{sumNumber2019}} Stunden</h2> -->

                    <div class="donut-parent-duration">
                        <ngx-charts-advanced-pie-chart class="chart-container" [results]="number2019"
                            [animations]="animations" [tooltipDisabled]="false" [customColors]="colors"
                            [valueFormatting]="valueFormattingNumber">
                        </ngx-charts-advanced-pie-chart>
                    </div>
                </div>
            </div>
        </div>

        <div style="height: 60px;"></div>


        <div style="width: 100%;">
            <h1 class="engagement">Jahresvergleich Tätigkeiten</h1>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field class="matFormField">
                    <mat-label>Vergleichsjahr</mat-label>
                    <mat-select [value]="comparisonYear" (selectionChange)="onComparisonYearChanged($event.value)">
                        <mat-option value="2012"> 2012 </mat-option>
                        <mat-option value="2013"> 2013 </mat-option>
                        <mat-option value="2014"> 2014 </mat-option>
                        <mat-option value="2015"> 2015 </mat-option>
                        <mat-option value="2016"> 2016 </mat-option>
                        <mat-option value="2017"> 2017 </mat-option>
                        <mat-option value="2018"> 2018 </mat-option>
                        <mat-option value="2019"> 2019 </mat-option>
                    </mat-select>
                </mat-form-field>
                <div style="width: 50px;"></div>
                <app-share-menu class="shareMenu" [label]="'Vergleich'" (export)="exportChart($event)">
                </app-share-menu>
            </div>

            <div class="chartParrent">
                <ngx-charts-bar-vertical-2d [results]="comparisonData" [customColors]="colors" [animations]="animations"
                    [xAxis]="true" [yAxis]="true" [showXAxisLabel]="true" [showYAxisLabel]="true"
                    [xAxisLabel]="comparisonXlabel" [yAxisLabel]="comparisonYlabel" [roundEdges]="false" [legend]="true"
                    [legendTitle]="Legende" [showDataLabel]="true" [noBarWhenZero]="false">
                </ngx-charts-bar-vertical-2d>
            </div>
        </div>


    </div>

</div>