<div class="page-layout blank" style="height: 100%; overflow: hidden;">




  <div style="display: inline-block; position: relative; width: 100%" fxLayout=row>

    <div #mynetwork>
    </div>

    <div class=sidebar [ngStyle]="{'background-color': sidebarColor}">

      <div *ngIf="sidebarClosed" fxLayout="row" fxLayoutAlign="end start">
        <button mat-fab class="mat-warn" aria-label="New Class" *fuseIfOnDom matTooltip="New Class"
          matTooltipPosition="above" (click)="handleNewClicked()">
          <mat-icon>add</mat-icon>
        </button>

        <button mat-fab class="mat-warn" aria-label="New Class" *fuseIfOnDom matTooltip="Delete Class or Relationship"
          matTooltipPosition="above" (click)="handleDeleteClicked()">
          <mat-icon>delete</mat-icon>
        </button>

        <!-- <button mat-raised-button type="button" color="primary" (click)="sidebarClosed=false">Add Class</button> -->

      </div>

      <div *ngIf="!sidebarClosed">

        <div fxLayout="row-reverse">
          <!-- <button mat-fab class="mat-warn" aria-label="New Class" matTooltip="New Class" matTooltipPosition="above (click)="handleNewClicked()"> -->
          <mat-icon aria-label="close" matTooltip="close" matTooltipPosition="above" (click)="closeSidebar()"
            style="cursor: pointer">close</mat-icon>
          <!-- </button> -->
        </div>

        <div class="sidebar-content" [ngSwitch]="sidebarContentType">
          <div *ngSwitchCase="'none'">
            none works
          </div>

          <div *ngSwitchCase="'newClass'">
            <app-sidebar-new-class [marketplace]="marketplace" [configurableClasses]="configurableClasses"
              [relationships]="relationships" [network]="network"
              (sidebarCloseEvent)="consumeSidebarCloseEvent($event)"></app-sidebar-new-class>
          </div>

          <div *ngSwitchCase="'node'">
            <app-sidebar-node [marketplace]="marketplace" [configurableClass]="sidebarArgClass" [relationships]="sidebarArgRelationship" [network]="network"
              [relationships]="sidebarArgRelationship" (toggleEditMode)="consumeToggleEditModeEvent($event)" (rebuildNetwork)="consumeRebuildNetworkEvent($event)"></app-sidebar-node>
          </div>

          <div *ngSwitchCase="'edge'">
            edge works
            <app-sidebar-edge [marketplace]="marketplace" [relationship]="sidebarArgRelationship"></app-sidebar-edge>

          </div>

          <div *ngSwitchCase="'delete'">
            delete Clicked
            <app-sidebar-delete [marketplace]="marketplace" [configurableClassesCurrent]="sidebarArgClass"
              [relationshipsCurrent]="sidebarArgRelationship" [network]="network" (submitDeleteEvent)="consumeDeleteEvent($event)">
            </app-sidebar-delete>
          </div>
        </div>
      
      </div>
    </div>
  </div>
</div>