<div #contentDiv id="contentDiv" class="page-layout blank" fusePerfectScrollbar *ngIf="isLoaded">

    <div *ngIf="!showResultPage">
        <!-- <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block; z-index: 1;"> -->
        <div class="mt-24">

            <mat-accordion multi=true displayMode="flat">
                <app-form-entry-view [formEntry]="currentFormConfiguration.formEntry"
                    [formConfiguration]="currentFormConfiguration" [finishClicked]="finishClicked" expanded="true"
                    (result)=handleResultEvent($event) (tupleSelected)="handleTupleSelection($event)">
                </app-form-entry-view>
            </mat-accordion>

        </div>

        <div class="mt-20">
            <mat-accordion displayMode="flat">
                <mat-expansion-panel>
                    <mat-expansion-panel-header expandedHeight="40px">
                        <mat-panel-title>
                            Freiwillige Zuteilen (optional);
                        </mat-panel-title>


                    </mat-expansion-panel-header>

                    <div style="height: 200px; background-color: teal; color: white">
                        placeholder for table
                        <app-instance-creation-volunteer-list></app-instance-creation-volunteer-list>

                    </div>


                </mat-expansion-panel>
            </mat-accordion>
        </div>



        <div fxLayout="row" fxLayoutAlign="space-between center" class="pt-4 pb-20">
            <div></div>
            <div fxLayout="row">
                <button style="width: 100px" type="button" mat-raised-button color="primary"
                    (click)="handleFinishClick()">
                    Fertig
                </button>

                <div class="pr-8"></div>

                <button style="width: 100px" type="button" mat-raised-button color="basic" (click)="navigateBack()">
                    Abbrechen
                </button>
            </div>
            <div></div>
        </div>

    </div>

    <div *ngIf="showResultPage">
        <app-instance-creation-result [resultClassInstance]="resultClassInstance"></app-instance-creation-result>
    </div>



</div>