<div #contentDiv id="contentDiv" class="page-layout blank" fusePerfectScrollbar *ngIf="isLoaded">

    <div *ngIf="!showResultPage">
        <!-- <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block; z-index: 1;"> -->
        <div>
            <div class="m-24">

                <mat-accordion multi=true displayMode="flat">
                    <app-form-entry-view [formEntry]="currentFormConfiguration.formEntry"
                        [formConfiguration]="currentFormConfiguration" [finishClicked]="finishClicked"
                        (result)=handleResultEvent($event) (tupleSelected)="handleTupleSelection($event)">
                    </app-form-entry-view>
                </mat-accordion>

            </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="space-between center" class="pt-20">
            <div></div>
            <button type="button" mat-raised-button color="primary" (click)="handleFinishClick()">
                Finish
            </button>
            <div></div>
        </div>

    </div>

    <div *ngIf="showResultPage">
        <app-instance-creation-result [resultClassInstance]="resultClassInstance"></app-instance-creation-result>
    </div>



</div>