<div id="about" class="p-24" fxLayout="row wrap">

  <div class="repository-content" fxLayout="row wrap" fxLayoutAlign="center" class="taskTableDiv">

    <mat-table #table [dataSource]="dataSource" class="taskTable" *ngIf="commonProfile.taskList.length > 0">

      <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
        <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
        <mat-cell *cdkCellDef="let row">

          <button class="action-button" *ngIf="column.columnType == 'function' && column.cell(row) == 'SYNC'" (click)="synchronizeTask(row, column.marketplace)"
            mat-raised-button color="primary">Sync
          </button>
          <button class="action-button" *ngIf="column.columnType == 'function' && column.cell(row) == 'PUBLISH'" (click)="publishTask(row, column.marketplace)"
            mat-raised-button color="primary">Publish
          </button>
          <button class="action-button" *ngIf="column.columnType == 'function' && column.cell(row) == 'REVOKE'" (click)="revokeTask(row, column.marketplace)"
            mat-raised-button color="primary">Revoke
          </button>
          <div *ngIf="column.columnType == 'text'">
            {{ column.cell(row) }}
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <div *ngIf="!commonProfile || commonProfile.taskList.length == 0">
      <strong> No tasks found. Either you have no finished tasks or the local repository service is offline.</strong>
    </div>

  </div>
</div>
