<div #menubarContainer id="menubarContainer">
  <div fxLayout="row" fxLayoutAlign="start start">
    <div style="padding-right: 5px; padding-left: 5px"> </div>
    <div class="menuitem" (click)="openFileMenuItem($event)">File</div>
    <div style="padding-right: 5px; padding-left: 5px"> </div>
    <div class="menuitem">Edit</div>
    <div style="padding-right: 5px; padding-left: 5px"> </div>
    <div class="menuitem">View</div>
    <div style="padding-right: 5px; padding-left: 5px"> </div>
    <div class="menuitem">Extras</div>
    <div style="padding-right: 5px; padding-left: 5px"> </div>
    <div class="menuitem">Help</div>
  </div>
</div>

<div #fileMenuItemContainer id="fileMenuItemContainer">
  <div class="menuitem" (click)="showEmptyEditor()">New Configurator</div>
  <div class="menuitem" (click)="showOpenDialog()">Open Configurator</div>
  <div class="menuitem">Save Configurator</div>
  <div class="menuitem" (click)="createClassInstanceClicked(null)">New Editor</div>
</div>



<div #leftSidebarContainer id="leftSidebarContainer" style="border-right: solid 6px rgb(160, 160, 160)">
  <h3>MatchMaking Resource</h3>
  <div *ngFor="let p of sidebarPalettes">
    <!-- <h3 style="padding-left: 5px; padding-top: 2px">> {{p.label}}</h3> -->
    <div *ngFor="let item of p.items">

      <img class="center-image" draggable="true" src="{{item.imgPath}}" style="cursor: pointer; text-align: center"
        (mousedown)="mousedownEvent($event, p, item, graph)" matTooltip="{{item.label}}">
      <div style="padding-top: 3px"></div>

    </div>

  </div>

  <h3>MatchMaking Operator</h3>

  <div>
  <div fxLayout="row" class="subheader" fxLayoutAlign="start start">
    <h5 class="subheader">Numerical & Date</h5>
  </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      
      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/equal_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/lt_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/gt_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/lteq_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/gteq_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

    </div>
  </div>

  <div style="padding-top: 3px"></div>

  <div>
      <div fxLayout="row" class="subheader" fxLayoutAlign="start start">
          <h5 class="subheader">Enumeration</h5>
        </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/exists_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/all_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

    </div>
  </div>

  <div style="padding-top: 3px"></div>

  <div>
      <div fxLayout="row" class="subheader" fxLayoutAlign="start start">
          <h5 class="subheader">Text</h5>
        </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/t_rd_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/t_after_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/t_before_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/equal_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/t_before_and_after_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>


    </div>
  </div>

  <div style="padding-top: 3px"></div>

  <div>
      <div fxLayout="row" class="subheader" fxLayoutAlign="start start">
          <h5 class="subheader">Location</h5>
        </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/location_dot_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/location_fatdot_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

      <div
        style="width: 30; height: 30; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
        <img src="/assets/mxgraph_resources/icons/matching/location_cross_reduced.png" width="30" height="30"
          style="cursor: pointer">
      </div>
      <div style="padding-right: 3px"></div>

    </div>

  </div>

  <div style="padding-top: 3px"></div>

  <div style="padding-top: 20px"></div>

  <h2>View</h2>
  <!-- <img src="../../../../../../assets/mxgraph_resources/images/zoomin.gif" (click)="zoomInEvent()" style="cursor: pointer" matTooltip="zoom in"> -->
  <div fxLayout="row" fxLayoutAlign="start start">
    <div
      style="width: 25; height: 25; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
      <img src="/assets/mxgraph_resources/images/zoomin.gif" width="25" height="25" (click)="zoomInEvent()"
        style="cursor: pointer" matTooltip="zoom in">
    </div>

    <div style="padding-right: 3px"></div>

    <div
      style="width: 25; height: 25; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
      <img src="/assets/mxgraph_resources/images/zoomout.gif" width="25" height="25" (click)="zoomOutEvent()"
        style="cursor: pointer" matTooltip="zoom out">
    </div>

    <div style="padding-right: 3px"></div>

    <div
      style="width: 25; height: 25; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
      <img src="/assets/mxgraph_resources/images/zoomactual.gif" width="25" height="25" (click)="zoomResetEvent()"
        style="cursor: pointer" matTooltip="reset view">
    </div>

  </div>

  <div style="padding-top: 15px"></div>


  <mat-form-field style="width: 100%">
    <mat-select placeholder="Automatic Layout">
      <mat-option value="Horizontal" (click)="setLayout('horizontal')">Horizontal</mat-option>
      <mat-option value="Vertical" (click)="setLayout('vertical')">Vertical</mat-option>
      <mat-option value="Radial (experimental)" (click)="setLayout('radial')">Radial (experimental) </mat-option>
    </mat-select>
  </mat-form-field>


  <div style="position: absolute; bottom: 10px; left: 5px">
    <!-- <button mat-raised-button type="button" color="primary" (click)=createClassInstanceClicked()>create new Instance</button>
    <div style="padding-top: 10px"></div> -->

    <button mat-raised-button type="button" color="primary" (click)="createClassInstanceClicked(null)">Generate Editor</button>
    <div style="padding-top: 5px"></div>

    <!-- <button mat-raised-button type="button" color="primary" (click)="showEmptyEditor()">Clear</button>
    <button mat-raised-button type="button" color="primary" (click)="showServerContent()">Haubenofen</button>
    <button mat-raised-button type="button" color="primary" (click)="showPresshaerteOfen()">Presshärteofen</button>
 -->



<!--     <button mat-raised-button type="button" color="primary" (click)="doShitWithGraph(graph)">print graph to
      console</button> -->
    <!-- <div style="padding-top: 5px"></div>
    <button mat-raised-button type="button" color="primary" (click)="saveGraphClicked()">Save</button> -->
  </div>
</div>

<!-- <div style="border-left: 10px; border-left-color: black"></div> -->

<div #graphContainer id="graphContainer"></div>

<div *ngIf="showWorkInProgressInfo" style="position: absolute; left: 50%; top:50%">
  <div style="position: relative; left: -50%; border: dotted red 1px;">
    Adding to or instantiating of newly created classes not yet implemented... :(
    <br>
    Please use one of the existing classes
  </div>
</div>>

<div #rightSidebarContainer id="rightSidebarContainer" style="border-left: solid 6px rgb(160, 160, 160)">
  <div [ngSwitch]="rightSidebarContext">
    <div *ngSwitchCase="'properties'">

      <h2>{{currentClass.name}}</h2>
      <div style="padding-top: 5px"></div>
      <h3>> Properties</h3>

      <mat-divider></mat-divider>

      <div style="padding-left: 12px">
        <table *ngFor="let p of currentClass.properties; let i = index">
          <!-- <div fxLayout="row" fxLayoutAlign="start center"> -->
          <tr>
            <td>{{p.name}}</td>
            <!-- <div style="padding-right: 3px"></div> -->
            <!-- <a style="cursor: pointer" (click)="removePropertyClicked(currentClass, i)">> remove</a> -->
            <td style="width: 10px">
              <mat-icon style="cursor: pointer; " (click)="removePropertyClicked(currentClass, i)" matTooltip="remove">
                delete</mat-icon>

            </td>
          </tr>

          <!-- </div> -->
        </table>
      </div>

      <div *ngIf="currentClass.properties.length<=0">
        No properties added yet.
      </div>

      <a style="cursor: pointer" (click)="addPropertyClicked(currentClass)">> add Property</a>

      <div style="padding-top: 25px"></div>



    </div>

    <button *ngIf="propertiesAdded" mat-raised-button type="button" color="primary" (click)="saveAddedProperties()"
      style="position: absolute; bottom: 10px; left: 5px">Save</button>

    <button mat-raised-button type="button" color="primary" (click)="toggleRightSidebar(false); rightSidebarContext=''"
      style="position: absolute; bottom: 10px; right: 5px">Close</button>

  </div>
</div>