<div class="page-layout blank p-24" fusePerfectScrollbar>
  <div class="content" fxLayout="column" fxLayoutAlign="none">

    <div class="timeline" fxLayout="column" fxLayoutAlign="none">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Zeitverlauf</h1>

        <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedYaxis"
          (change)="onYaxisChange(group.value)">
          <mat-button-toggle value="Dauer">Dauer
          </mat-button-toggle>
          <mat-button-toggle value="Anzahl">Anzahl
          </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field>
          <mat-label>Jahr</mat-label>
          <mat-select [value]="selectedYear" (selectionChange)="onYearChange($event.value)">
            <mat-option value="2012"> 2012 </mat-option>
            <mat-option value="2013"> 2013 </mat-option>
            <mat-option value="2014"> 2014 </mat-option>
            <mat-option value="2015"> 2015 </mat-option>
            <mat-option value="2016"> 2016 </mat-option>
            <mat-option value="2017"> 2017 </mat-option>
            <mat-option value="2018"> 2018 </mat-option>
            <mat-option value="2019"> 2019 </mat-option>
            <mat-option value="Gesamt"> Gesamt </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div class="timeline">
        <ngx-charts-line-chart #lineChart [results]="timelineChartData" [scheme]="colorScheme" [schemeType]="schemeType"
          [legend]="legend" [legendTitle]="Legende" [legendPosition]="legendPosition" [showGridLines]="showGridLines"
          [tooltipDisabled]="tooltipDisabled" [xAxis]="true" [yAxis]="true" [showXAxisLabel]="false"
          [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [animations]="true"
          [autoScale]="autoScale" [timeline]="true" [curve]="curve" (select)="timelineSelect($event)"
          [xAxisTickFormatting]="dateTickFormatting">
        </ngx-charts-line-chart>
      </div>


      <div fxLayout="row" fxLayoutAlign="left">
        <button class="filterButton" mat-raised-button (click)="filterTimelineApply()">Filtern</button>

        <mat-chip-list class="filterChip">
          <mat-chip color="primary" [removable]="removable" *ngIf="chipTimelineFilterFrom">
            {{chipTimelineFilterFrom | date:'dd.MM.yyyy'}} -
            {{chipTimelineFilterTo | date:'dd.MM.yyyy'}}<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <mat-chip color="primary" [removable]="removable" *ngIf="chipSelectedYear">{{chipSelectedYear}}<mat-icon
              matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <mat-chip color="primary" [removable]="removable" *ngIf="chipTaskType">{{chipTaskType}}<mat-icon matChipRemove
              *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>

      </div>
    </div>


    <mat-accordion multi="true">
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Zweck
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutAlign="space-between start">

          <div class="sunburstParent" id="sunburstChart"></div>

          <!-- <highcharts-chart class="sunburstParent" id="sunburstChart"
           [Highcharts]="Highcharts"
           [options]="chartOptions"
           (drilldown)="onDrilldown()"
           (drillup)="onDrilldown()"
           ></highcharts-chart> -->

          <div *ngIf="tableDataSource" class="tasksTable" fxLayout="column" fxLayoutAlign="none">
            <div fxLayout="row" fxLayoutAlign="space-between center" >
              <h1>Tätigkeiten</h1> 
            <app-share-menu [label]="'null'">
            </app-share-menu>
          </div>
            <table mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8" class="mat-elevation-z8">
              <ng-container matColumnDef="taskName">
                <th mat-header-cell *matHeaderCellDef> Tätigkeit </th>
                <td mat-cell *matCellDef="let element"> {{element.properties[TASK_NAME].values[0]}} </td>
              </ng-container>

              <ng-container matColumnDef="taskType1">
                <th mat-header-cell *matHeaderCellDef> Typ </th>
                <td mat-cell *matCellDef="let element"> {{element.properties[TASK_TYPE_1].values[0]}} </td>
              </ng-container>

              <ng-container matColumnDef="taskType2">
                <th mat-header-cell *matHeaderCellDef> Untertyp </th>
                <td mat-cell *matCellDef="let element"> {{element.properties[TASK_TYPE_2].values[0]}} </td>
              </ng-container>

              <ng-container matColumnDef="taskDescription">
                <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
                <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DESCRIPTION].values[0]}} </td>
              </ng-container>

              <ng-container matColumnDef="taskDateFrom">
                <th mat-header-cell *matHeaderCellDef> Datum </th>
                <td mat-cell *matCellDef="let element">
                  {{element.properties[TASK_DATE_FROM].values[0] | date:'dd.MM.yyyy'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="taskDateTo">
                <th mat-header-cell *matHeaderCellDef> Ende </th>
                <td mat-cell *matCellDef="let element">
                  {{element.properties[TASK_DATE_TO].values[0] | date:'dd.MM.yyyy'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="taskDuration">
                <th mat-header-cell *matHeaderCellDef> Dauer </th>
                <td class="right" mat-cell *matCellDef="let element"> {{element.properties[TASK_DURATION].values[0]}}h
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let element; let row; columns: displayedColumns;" 
              [ngClass]="{
                'is-Veranstaltung': element.properties[TASK_TYPE_1].values[0] === 'Veranstaltung',
                'is-Ausbildung': element.properties[TASK_TYPE_1].values[0] === 'Ausbildung (aktiv)',
                'is-Jugendarbeit': element.properties[TASK_TYPE_1].values[0] === 'Jugendarbeit',
                'is-Taetigkeit': element.properties[TASK_TYPE_1].values[0] === 'Tätigkeit',
                'is-Bewerb': element.properties[TASK_TYPE_1].values[0] === 'Bewerb',
                'is-Einsatz': element.properties[TASK_TYPE_1].values[0] === 'Einsatz'
              }"></tr>
            </table>
            <mat-paginator [pageSize]="15" showFirstLastButtons></mat-paginator>
          </div>
        </div>

        <div fxLayout="row">
          <app-share-menu [label]="'Zweck'" (export)="exportChart($event)">
          </app-share-menu>
          <mat-slide-toggle [checked]="fakeChecked" (change)="onToggleChanged($event)" style="margin-left: 30px;">
            Use fake data
          </mat-slide-toggle>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Detailgrafiken
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="secondRow" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row">
            <div fxLayout="column">
              <h2>Wochentag:</h2>
              <app-share-menu [label]="'Wochentag'" (export)="exportChart($event, 'Wochentag')">
              </app-share-menu>
            </div>
            <div class="donut-parent">
              <ngx-charts-pie-chart class="chart-container" [view]="[600, 600]" [results]="weekdayData"
                [animations]="animations" [labels]="true" [tooltipDisabled]="false" [legend]="false"
                [explodeSlices]="false" [doughnut]="true" arcWidth="0.6" scheme="cool" (select)="onDonutSelect($event)">
              </ngx-charts-pie-chart>
            </div>
            <div fxLayout="column">
              <h2>Tageszeit:</h2>
              <app-share-menu [label]="'Tageszeit'" (export)="exportChart($event, 'Tageszeit')">
              </app-share-menu>
            </div>
            <div class="donut-parent">
              <ngx-charts-pie-chart class="chart-container" [view]="[600, 600]" [results]="dayNightData"
                [animations]="animations" [labels]="true" [tooltipDisabled]="false" [legend]="false"
                [explodeSlices]="false" [doughnut]="true" arcWidth="0.6" scheme="cool" (select)="onDonutSelect($event)">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>

        <div class="secondRow" fxLayout="row" fxLayoutAlign="space-between center">
          <div fxLayout="row">
            <div fxLayout="column">
              <h2>Meistbesuchte Orte:</h2>
              <app-share-menu [label]="'Orte'" (export)="exportChart($event, 'Orte')">
              </app-share-menu>
            </div>
            <div class="donut-parent">
              <ngx-charts-pie-chart class="chart-container" [view]="[600, 600]" [results]="locationData"
                [animations]="animations" [labels]="true" [tooltipDisabled]="false" [legend]="false"
                [explodeSlices]="false" [doughnut]="true" arcWidth="0.6" scheme="cool" (select)="onDonutSelect($event)">
              </ngx-charts-pie-chart>
            </div>
            <div fxLayout="column">
              <h2>Rang:</h2>
              <app-share-menu [label]="'Rang'" (export)="exportChart($event, 'Rang')">
              </app-share-menu>
            </div>
            <div class="donut-parent">
              <ngx-charts-pie-chart class="chart-container" [view]="[600, 600]" [results]="rangData"
                [animations]="animations" [labels]="true" [tooltipDisabled]="false" [legend]="false"
                [explodeSlices]="false" [doughnut]="true" arcWidth="0.6" scheme="cool" (select)="onDonutSelect($event)">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>