<div class="mat-card">


    <div class="m-8">
        <div fxLayout=row fxLayoutAlign="start center">
            <div style=" z-index: 255; position: relative; width: 35px; height: 35px;">
                <img style="object-fit: contain; max-width: 100%; max-height: 100%" src="assets/icons/class_editor/user/incoming.png">
            </div>
            <div style="padding-left: 5px"></div>
            <div
                style="font-size: 20px; padding-top: 3px; padding-right: 3px; font-weight: 300px; font-variant:small-caps">
                Your Incoming Assets</div>
        </div>

        <div class="pt-12"></div>

        <span>asset inbox test</span>
        <div style="padding-bottom: 200px;"></div>

        <a (click)="close()">close</a>
    </div>
</div>