<div id="engagements" class="page-layout blank p-24" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <h1>Dein Engagement</h1>
    <img class="header-icon" src="assets/icons/engagements.svg">
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <mat-tab-group dynamicHeight="true">

      <mat-tab label="Engagementmöglichkeiten">
        <fuse-opportunities [projects]="projects"></fuse-opportunities>
      </mat-tab>

      <mat-tab label="Zusammenarbeit">
        <fuse-collaborations [projects]="projects"></fuse-collaborations>
      </mat-tab>

      <mat-tab label="Eigenleistungen">
        <fuse-contributions [projects]="projects"></fuse-contributions>
      </mat-tab>

      <mat-tab label="Anreize">
        <fuse-encouragements></fuse-encouragements>
      </mat-tab>

    </mat-tab-group>

  </div>
  <!-- / CONTENT -->

</div>
