<div class="page-layout blank p-24" fusePerfectScrollbar>
  <customizable-header
    *ngIf="tenant"
    [tenant]="tenant"
    [displayNavigateBack]="false"
    headerText="Einträge ableiten"
  ></customizable-header>

  <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="end end">
    <button
      mat-fab
      class="mat-warn"
      style="border-radius: 50%; background-color: green;"
      (click)="addDerivationRule()"
      aria-label="Add rule"
      *fuseIfOnDom
      [@animate]="{ value: '*', params: { delay: '300ms', scale: '0.2' } }"
    >
      <mat-icon class="add-btn-icon">add</mat-icon>
    </button>
  </div>

  <div class="table">
    <mat-table
      #table
      [dataSource]="dataSource"
      *ngIf="dataSource.data.length != 0"
    >
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Regelname</mat-header-cell>
        <mat-cell *matCellDef="let rule">{{ rule.name }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="sources">
        <mat-header-cell *matHeaderCellDef>Vorbedingungen</mat-header-cell>
        <mat-cell *matCellDef="let rule">
          <span
            *ngFor="let source of rule.conditions; let last = last"
          >
            {{ source.classDefinition.name }}<span *ngIf="!last">, </span>
          </span>
          <span> &nbsp; | &nbsp; </span>
          <span *ngFor="let source of rule.conditions; let last = last">
            {{ source.classDefinition.name }}<span *ngIf="!last">, </span>
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="target">
        <mat-header-cell *matHeaderCellDef
          >Abgeleiteter Eintrag
        </mat-header-cell>
        <mat-cell *matCellDef="let rule">{{ rule.classAction.classdefinition.name }}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="onRowSelect(row)"
      ></mat-row>
    </mat-table>

    <div
      class="no-data"
      *ngIf="dataSource.data.length === 0"
      style="font-size: 20px;"
    >
      Keine Ableitungsregeln gefunden.
    </div>
  </div>
</div>
