<form *ngIf="attributeSourceRuleEntry" form name="form" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start"
  (change)="onChange($event)" [formGroup]="rulePreconditionForm">
  <div fxLayout="row" fxLayoutAlign="start start" style="padding-top: 12px" fxLayoutGap="15px">
    <mat-form-field *ngIf="classDefinitions && classDefinitions.length > 0" style="width: 225px">
      <mat-label>Benötigter Freiwillenpasseintrag</mat-label>
      <mat-select formControlName="classDefinitionId" [value]="attributeSourceRuleEntry.classDefinition?.id">
        <mat-option *ngFor="let cd of classDefinitions" [value]="cd.id" (onSelectionChange)="onClassChange($event)">
          {{cd.name}} </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="classProperties && classProperties.length > 0" style="width: 225px">
      <mat-label>Attribut</mat-label>
      <mat-select formControlName="classPropertyId" [value]="attributeSourceRuleEntry?.classProperty?.id">
        <mat-option *ngFor="let cp of classProperties" [value]="cp?.id" (onSelectionChange)="onPropertyChange($event)">
          {{cp.name}} </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="attributeSourceRuleEntry?.classProperty?.type != 'ENUM'" style="width: 115px">
      <mat-label>Aggregationsoperator</mat-label>
      <mat-select placeholder="Operation" formControlName="aggregationOperatorType"
        [value]="attributeSourceRuleEntry.aggregationOperatorType">
        <mat-option *ngFor="let op of aggregationOperators" [value]="op" (onSelectionChange)="onChange($event)">
          {{ retrieveAggregationOperatorValueOf(op)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100px">
      <mat-label>Vergleichsoperator</mat-label>
      <mat-select placeholder="Operation" formControlName="mappingOperatorType"
        [value]="attributeSourceRuleEntry.mappingOperatorType">
        <mat-option *ngFor="let op of comparisonOperators" [value]="op" (onSelectionChange)="onChange($event)">
          {{ retrieveMappingOperatorValueOf(op)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 150px">
      <input *ngIf="attributeSourceRuleEntry?.classProperty?.type != 'ENUM'" matInput placeholder="value"
        formControlName="value" />
      <mat-select *ngIf="attributeSourceRuleEntry?.classProperty?.type == 'ENUM'" placeholder="Wert"
        formControlName="value" [value]="attributeSourceRuleEntry.mappingOperatorType">
        <mat-option *ngFor="let enumVal of findEnumValues()" [value]="enumVal" (onSelectionChange)="onChange($event)">
          {{ enumVal }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>