

.example-tree-invisible {
    display: none;

}

.example-tree ul, .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
}


.mat-tree-node {
    min-height: 0px;
    height: 25px;
    white-space: nowrap !important;
    overflow: visible !important;
}

ul {
    margin-left: 2px; 
    padding-left: 0; 
    list-style: none; 
    border: none; 
    overflow: visible !important; 
}

li {
    position: relative;
    padding: 0 0 0 10px;
    line-height: 0px;
}

.example-tree {
    overflow: scroll;
    max-height: 50vh;
    padding-bottom: 10px;
}

