<form *ngIf="sourceRuleEntry" form name="form" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start"
    (change)="onChange($event)" [formGroup]="rulePreconditionForm">
    <div fxLayout="row" fxLayoutAlign="start start" style="padding-top: 12px" fxLayoutGap="15px">
        <mat-form-field style="width: 250px">
            <mat-label>Choose FWPE Type</mat-label>
            <mat-select *ngIf="classDefinitions" formControlName="classDefinition" [value]="stringify(sourceRuleEntry.classDefinition)">
                <mat-option *ngFor="let cd of classDefinitions" [value]="stringify(cd)"
                    (onSelectionChange)="onClassChange($event)"> {{cd.name}} </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 250px">
            <mat-label>Select Attribute</mat-label>
            <mat-select formControlName="classProperty" [value]="sourceRuleEntry.classProperty">
                <mat-option *ngFor="let cp of classProperties" [value]="cp" (onSelectionChange)="onChange($event)">
                    {{cp.name}} </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 80px">
            <mat-label>Select Operation</mat-label>
            <mat-select placeholder="Operation" formControlName="mappingOperatorType"
                [value]="sourceRuleEntry.mappingOperatorType">
                <mat-option *ngFor="let op of operations" [value]="op" (onSelectionChange)="onChange($event)">
                    {{ retrieveValueOf(op)}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field style="width: 150px">
            <input matInput placeholder="value" formControlName="value" />
        </mat-form-field>
    </div>
</form>