
@import "src/@fuse/scss/fuse";
@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Muli'
);
@include mat-core($custom-typography);

.page-layout {

    font-family: Muli,"Helvetica Neue",Arial,sans-serif;

    .header {
        position: relative;
        flex: 1 0 auto;
        height: 90px;
        max-height: 90px;
        background: red;
        // background: linear-gradient(to right, #0E2A3B 0%, #34306B 100%);
        text-align: center;

        @include media-breakpoint('xs') {
            height: 240px;
            padding: 16px;
        }


        h1 {
            color: white;
            font-size: 40px;
            font-weight: 300;
            letter-spacing: 0.01em;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0px;

            @include media-breakpoint-down('xs') {
            font-size: 24px;
            }
        }
    }

    .mat-column-actions {
        flex: 0 0 55px;
    }

    .mat-column-image {
        flex: 0 0 100px;
    }

    .mat-column-name {
        font-size: 20px;
    }

 


}


@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-red, 900);
$my-app-accent: mat-palette($mat-red, 50);

$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

::ng-deep .mat-tab-label.mat-tab-label-active {
    // min-width: 25px !important;
    // padding: 5px;
    background-color: mat-color($my-app-primary);
    opacity: 1 !important;
    
    color: white;
    // font-weight: 700;
}

::ng-deep .mat-ink-bar {
  background-color: mat-color($my-app-primary) !important;}






  .nameInput{
      padding-top: 30px;
      width: 300px;
  }
