<div class="page-layout blank right-sidenav p-24" fusePerfectScrollbar>

  <div class="header p-16 p-sm-24" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon class="iconButton" (click)="navigateBack()" style="margin-left: 20px">keyboard_return</mat-icon>
    <h1>Konfiguration - Ableitungsregeln</h1>
    <div style="padding-top: 70px; z-index: 255; position: relative">
      <!-- <img src="../../../../assets/images/logos/FF_Altenberg.jpg"> -->
    </div>
  </div>

  <form *ngIf="derivationRule" form style="padding-top: 12px; padding-left: 40px" name="form" fxLayout="column"
    fxLayoutGap="20px" fxLayoutAlign="start" (submit)="save()" [formGroup]="ruleForm">
    <div fxLayout=row>
      <mat-form-field class="nameInput">
        <input matInput placeholder="Derivation Rule Name" formControlName="name" />
      </mat-form-field>
    </div>

    <div style=" font-size: 20px;" fxLayout="column" fxLayoutGap="10px">
      <mat-divider></mat-divider>
      <div fxFlex fxLayout=row fxLayoutAlign="start start">
        <div fxLayout=column fxLayoutAlign="space-between center">
          <div style=" z-index: 255; position: relative; width: 35px; height: 35px;">
            <img style="object-fit: contain; max-width: 100%; max-height: 100%;" src="../../../assets/checklist.jpg">
          </div>
        </div>
        <div style=" padding-top: 3px; padding-left: 5px;"> Vorbedingungen für Ableitung</div>
      </div>
      <mat-divider></mat-divider>
    </div>

    <div *ngFor="let entry of derivationRule.sources">
      <rule-precondition [(sourceRuleEntry)]="entry"></rule-precondition>
    </div>

    <div>
      <button type='button' mat-raised-button color="secondary" (click)="addRule()">Add Rule</button>
    </div>

    <div style=" font-size: 20px;" fxLayout="column" fxLayoutGap="10px">
      <mat-divider></mat-divider>
      <div fxFlex fxLayout=row fxLayoutAlign="start start">
        <div fxLayout=column fxLayoutAlign="space-between center">
          <div style=" z-index: 255; position: relative; width: 35px; height: 35px;">
            <img style="object-fit: contain; max-width: 100%; max-height: 100%;" src="../../../assets/competence.jpg">
          </div>
        </div>
        <div style=" padding-top: 3px; padding-left: 5px;"> Abgeleitetes Volunteer Asset</div>
      </div>
      <mat-divider></mat-divider>
    </div>

    <div fxLayout="column" fxLayoutAlign="start start">
      <mat-form-field style="width: 300px">
        <mat-label>Volunteer Asset</mat-label>
        <mat-select formControlName="target" [value]="derivationRule.target">
          <mat-option *ngFor="let cd of classDefinitions" [value]="cd"> {{cd.name}} </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout=row fxLayoutAlign="end start" style="padding-top:25px">
      <button mat-raised-button type="submit" color="primary">Save</button>
      <div style="padding-right: 5px"></div>
    </div>

  </form>



</div>