<form *ngIf="classAction" form name="form" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start" [formGroup]="ruleActionForm">
  <div fxLayout="row" fxLayoutAlign="start start" style="padding-top: 12px" fxLayoutGap="15px">
    <mat-form-field *ngIf="classDefinitions && classDefinitions.length > 0" style="width: 225px">
      <mat-label>Neuer Freiwillenpasseintrag</mat-label>
      <mat-select formControlName="classDefinitionId" [value]="classAction.classDefinition?.id">
        <mat-option *ngFor="let cd of classDefinitions" [value]="cd.id" (onSelectionChange)="onTargetChange(cd, $event)">
          {{retrieveClassType(cd.classArchetype)}} &nbsp; {{cd.name}} </mat-option>
      </mat-select>
      <mat-error *ngFor="let validation of targetValidationMessages.classDefinition">
        <mat-error class="error-message" *ngIf="ruleActionForm.get('classDefinitionId').hasError(validation.type) && 
               (ruleActionForm.get('classDefinitionId').dirty || ruleActionForm.get('classDefinitionId').touched)">
          {{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
  </div>
  <div formArrayName="targetAttributes">
    <div *ngFor="let attribute of classAction.attributes">
      <target-attribute-rule-configurator [(attributeTarget)]="attribute" (attributeTargetChange)="onChangeTargetAttribute($event)"></target-attribute-rule-configurator>
    </div>
  </div>
  <div *ngIf="classProperties.length > 0">
    <button type="button" mat-raised-button color="secondary" (click)="addTargetAttribute()">
          Attribut setzen        
        </button>
  </div>
</form>
<!--
  <mat-error *ngFor="let validation of ruleValidationMessages.name">
              <mat-error class="error-message" *ngIf="ruleForm.get('name').hasError(validation.type) && 
               (ruleForm.get('name').dirty || ruleForm.get('name').touched)">
               {{validation.message}}</mat-error>
            </mat-error>

           
-->