@import "src/@fuse/scss/fuse";

.card {
    margin-bottom: 20px;
    height: 1200px;
}

.chartParent {
    height: 300px;
    margin-bottom: 80px;
}

.title {
    margin-left: 50px;
}

.half {
    width: 50%;
}