<div
  class="page-layout blank p-24"
  fusePerfectScrollbar
  style="overflow: scroll;"
>
  <div style="padding-top: 12px;"></div>

  <div
    class="header mat-accent-bg p-16 p-sm-24"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <mat-icon
      class="iconButton"
      (click)="navigateBack()"
      style="margin-left: 20px; color: white;"
      >keyboard_return
    </mat-icon>

    <h1>Details</h1>
  </div>

  <div *ngIf="classInstance != null">
    <h1 style="margin-left: 5px;">
      {{ getName() }}
    </h1>

    <h3>Properties:</h3>
    <mat-table
        matSort
        class="localRepoTable"
        [dataSource]="tableDataSource"
        style="width: 100%;"
      >
        <ng-container matColumnDef="issuer">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Aussteller</mat-header-cell
          >
          <mat-cell *matCellDef="let entry">
            <div fxLayout="row" fxLayoutAligne="start center">
              <img class="avatar" src="{{ 'data:image/png;base64,' + getTenantImage(entry.tenantId) }}" />

              <!-- <div>{{ getIssuerName(entry.issuerId) }}</div> -->
              <div style="align-self: center;">{{ getIssuerName(entry.tenantId) }}</div>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Name
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span>{{ element.name }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="values">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Value
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.type === 'DATE'">{{ element.values[0] | date:'dd.MM.yyyy HH:mm' }} </span>
            <span *ngIf="element.type  != 'DATE'">{{ element.values }} </span>

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Datatyp
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span>{{ element.type }} </span>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumns"
        ></mat-header-row>
        <mat-row
          *matRowDef="let element; let row; columns: displayedColumns"
        ></mat-row>
      </mat-table>



  </div>



</div>