<form *ngIf="generalCondition" form name="form" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start"
(change)="onChange($event)" [formGroup]="rulePreconditionForm">
<div fxLayout="row" fxLayoutAlign="start start" style="padding-top: 12px" fxLayoutGap="15px">
  <mat-form-field *ngIf="generalAttributes && generalAttributes.length > 0" style="width: 225px">
    <mat-label>Attribut</mat-label>
    <mat-select formControlName="propertyDefinitionId" [value]="generalCondition?.propertyDefinition?.id">
      <mat-option *ngFor="let pd of generalAttributes" [value]="pd?.id" (onSelectionChange)="onPropertyChange(pd, $event)">
        {{pd.name}} </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 100px">
    <mat-label>Vergleichsoperator</mat-label>
    <mat-select placeholder="Operation" formControlName="comparisonOperatorType"
      [value]="generalCondition?.comparisonOperatorType">
      <mat-option *ngFor="let op of comparisonOperators" [value]="op" (onSelectionChange)="onOperatorChange(op, $event)">
        {{ retrieveComparisonOperatorValueOf(op)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field style="width: 150px">
    <input matInput placeholder="value"
      formControlName="value" />
  </mat-form-field>
</div>
</form>