@import "src/@fuse/scss/fuse";

.content-layout {

    // min-height: 300px;
    // position: relative;

    h2 {
        margin: 0;
        padding: 0;
    }

    .fieldset-title {
        margin-left: 5%; 
    }


    .fieldset-container {
        margin-left: 5%; 
        margin-right: 5%; 
        
        border: 1px solid black; 
        border-radius: 2px;

        .fieldset-empty {
            text-align: center;
        }

        .allowed-value-row {
            .allowed-value-field {
               margin-left: 8px;
            }

            .allowed-value-icon {
                cursor: pointer;
                margin-left: 8px;
            }
        }
    }

    .fieldset-action{
        margin-left: 20px; 
        border: 1px solid rgb(62, 125, 219);
        border-radius: 4px;

        color: rgb(62, 125, 219);

        cursor: pointer;
        width: fit-content;

        padding: 2px;
    }

    .fieldset-action:hover {
        background: rgb(62, 125, 219);
        color: white;
    }
    

    // .action-button-row {
    //     position: absolute;

    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    // }
}