<h2>Zusammenfassung</h2>

<p>Work in Progress</p>

<div fxLayout="row">
    <h2>Vergleich der Anzahl an Tätigkeiten</h2>
    <mat-form-field class="matFormField">
        <mat-label>Vergleichsjahr</mat-label>
        <mat-select  [value]="comparisonYear" (selectionChange)="onComparisonYearChanged($event.value)">
            <mat-option value="2012"> 2012 </mat-option>
            <mat-option value="2013"> 2013 </mat-option>
            <mat-option value="2014"> 2014 </mat-option>
            <mat-option value="2015"> 2015 </mat-option>
            <mat-option value="2016"> 2016 </mat-option>
            <mat-option value="2017"> 2017 </mat-option>
            <mat-option value="2018"> 2018 </mat-option>
            <mat-option value="2019"> 2019 </mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div class="chartParrent">
    <ngx-charts-bar-vertical-2d
    [results]="comparisonData" [scheme]="colorScheme" [animations]="animations" [xAxis]="true"
        [yAxis]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="comparisonXlabel"
        [yAxisLabel]="comparisonYlabel" [roundEdges]="false" [legend] ="true" [legendTitle]="Legende"
        [showDataLabel]="true" [noBarWhenZero]="false">
    </ngx-charts-bar-vertical-2d
    >
</div>