.matFormField {
    margin-left: 50px;
    width: 100px;
  }

  .chartParrent {
    height: 500px;
  }

  .shareMenu {
    margin-right: 10px;
}

::ng-deep .ngx-charts { text { font-size: 14px  !important; } }
