<div class="marketplaces" fxLayout="row wrap" fxLayoutAlign="center" *fuseIfOnDom>

  <div class="marketplace" *ngFor="let marketplace of registeredMarketplaces" fxFlex="100" fxFlex.gt-xs="50"
       fxFlex.gt-sm="25">

    <div class="marketplace-content" fxLayout="column">

      <div class="header" fxLayout="row" fxLayoutAlign="center center">
        <div class="category" fxFlex>
          {{marketplace.shortName}}
        </div>
      </div>

      <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <div class="h1">{{marketplace.name}}</div>
      </div>
    </div>
  </div>
</div>
