@import "src/@fuse/scss/fuse";

.header {
  height: 320px;
  min-height: 320px;
  max-height: 320px;
  background: url("/assets/images/backgrounds/dark-material-bg.jpg") no-repeat 0
    45%;
  background-size: cover;

  .profile-image {
    margin-right: 24px;

    @include media-breakpoint("sm") {
      margin: 0 0 16px 0;
    }
  }

  .name {
    font-size: 34px;
    color: #ffffff;

    @include media-breakpoint("sm") {
      margin-bottom: 32px;
    }
  }

  .actions {
    button {
      text-transform: none;
      padding: 0 16px;
      margin: 0 0 0 8px;
    }
  }
}

.roleSelectButton {
  margin-top: 20px;
}
