<div class="page-layout blank p-12" fusePerfectScrollbar>
  <div class="layout1" fxLayout="row wrap" fxLayoutAlign="center">

    <!-- suggested projects -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                 fxFlex.gt-sm="50">
      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
        <div class="px-16 py-8 border-bottom" fxLayout="row"
             fxLayoutAlign="space-between center">
          <div class="h1">Friends' Suggested Projects</div>
        </div>

        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center"
             *ngFor="let suggestion of suggestions.projects">
          <div fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%;">
            <div>
              <img class="avatar" [src]="suggestion.avatar">
            </div>
            <div fxLayout="column">
              <div class="suggestion">{{suggestion.suggestion}}</div>
              <div fxLayout="row">
                <div class="suggester">suggested by</div>
                <div class="suggester2">{{suggestion.name}}</div>
              </div>
            </div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center">
              <button mat-icon-button title="Details">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>

          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
    </fuse-widget>
    <!-- /suggested projects -->

    <!-- suggested marketplaces -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
                 fxFlex.gt-sm="50">
      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
        <div class="px-16 py-8 border-bottom" fxLayout="row"
             fxLayoutAlign="space-between center">
          <div class="h1">Friends' Suggested Marketplaces</div>
        </div>

        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center"
             *ngFor="let suggestion of suggestions.marketplaces">
          <div fxLayout="row" fxLayoutAlign="space-between start" style="width: 100%;">
            <div>
              <img class="avatar" [src]="suggestion.avatar">
            </div>
            <div fxLayout="column">
              <div class="suggestion">{{suggestion.suggestion}}</div>
              <div fxLayout="row">
                <div class="suggester">suggested by</div>
                <div class="suggester2">{{suggestion.name}}</div>
              </div>
            </div>

            <div class="actions" fxLayout="row" fxLayoutAlign="end center">
              <button mat-icon-button title="Details">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>

          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
    </fuse-widget>
    <!-- /suggested marketplaces -->

  </div>
</div>

