<div>
  <editor-top-menu-bar [marketplace]="marketplace" [eventResponse]="eventResponse"
    (menuOptionClickedEvent)="consumeMenuOptionClickedEvent($event)"></editor-top-menu-bar>
</div>

<div #graphContainer id="graphContainer"></div>

<div #rightSidebarContainer id="rightSidebarContainer">
  <!-- style="border-left: solid 1px rgb(160, 160, 160)"> -->
  <div class="sidebar-content">

    <div *ngIf="rightSidebarVisible">

      <h2>Ansicht</h2>
      <div class="pt-4"></div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div
          style="width: 25; height: 25; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
          <img src="/assets/mxgraph_resources/images/zoomin.gif" width="25" height="25" (click)="zoomInEvent()"
            style="cursor: pointer" matTooltip="zoom in">
        </div>

        <div style="padding-right: 3px"></div>

        <div
          style="width: 25; height: 25; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
          <img src="/assets/mxgraph_resources/images/zoomout.gif" width="25" height="25" (click)="zoomOutEvent()"
            style="cursor: pointer" matTooltip="zoom out">
        </div>

        <div style="padding-right: 3px"></div>

        <div
          style="width: 25; height: 25; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
          <img src="/assets/mxgraph_resources/images/zoomactual.gif" width="25" height="25" (click)="zoomResetEvent()"
            style="cursor: pointer" matTooltip="reset view">
        </div>

      </div>

      <div class="pt-4"></div>
      <h2>Relationships</h2>
      <div class="pt-4"></div>



      <button mat-raised-button type="button" color="primary" (click)="setLayout()">
        Vertikal
      </button>


      <mat-form-field style="width: 100%" appearance="outline">
        <mat-select placeholder="Relationship Type" [(ngModel)]="relationshipType">
          <mat-option value="INHERITANCE">Vererbung</mat-option>
          <!-- <mat-option value="association" (click)="">Assoziation</mat-option> -->
          <mat-option value="AGGREGATION">Aggregation</mat-option>
          <mat-option value="COMPOSITION">Komposition</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="pt-4"></div>
      <h2>Tree View</h2>
      <div class="pt-4"></div>

      <editor-tree-view [editorInstance]="this"></editor-tree-view>

      <div>
        <a (click)="showInstanceForm()" style="cursor: pointer">Instanz erstellen</a>
      </div>

    </div>

    <div *ngIf="!rightSidebarVisible" fxLayout="row" fxLayoutAlign="end center">
      <a (click)="showSidebar()" style="cursor: pointer">Textansicht aufklappen</a>
    </div>

  </div>

</div>


<class-options-overlay-control [displayOverlay]="displayOverlay" [overlayContent]="overlayContent"
  [overlayEvent]="overlayEvent" (overlayClosed)="handleOverlayClosedEvent($event)">
</class-options-overlay-control>