<div>
  <editor-top-menu-bar [marketplace]="marketplace" [eventResponse]="eventResponse"
    (menuOptionClickedEvent)="consumeMenuOptionClickedEvent($event)"></editor-top-menu-bar>
</div>

<div #leftSidebarContainer id="leftSidebarContainer" style="border-right: solid 1px rgb(160, 160, 160)">
  <div class="sidebar-content">


    <!-- <h2>Shapes</h2>
    <h3 style="padding-left: 5px; padding-top: 2px">> {{sidebarPalettes.label}}</h3>
    <div *ngFor="let row of sidebarPalettes.rows; let i = index" fxLayout="row" fxLayoutAlign="center center">
      <div style="padding-top: 10px"></div>
      <div style="width: 60; height: 60;">
        <img draggable="true" src="{{row.c0.imgPath}}" width="60" height="60"
          style="cursor: pointer; text-align: center" (mousedown)="handleMousedownEvent($event, p, row.c0, graph)"
          matTooltip="{{row.c0.label}}">
        <div style="padding-top: 3px"></div>
      </div>
      <div style="padding-left: 5px"></div>
      <div style="width: 60; height: 60;">
        <img draggable="true" src="{{row.c1.imgPath}}" width="60" height="60"
          style="cursor: pointer; text-align: center" (mousedown)="handleMousedownEvent($event, p, row.c1, graph)"
          matTooltip="{{row.c1.label}}">
        <div style="padding-top: 3px"></div>
      </div>

    </div> -->

    <!-- <h3 style="padding-left: 5px; padding-top: 2px">> {{relationshipPalettes.label}}</h3>

  <div *ngFor="let row of relationshipPalettes.rows; let i = index" fxLayout="row" fxLayoutAlign="center center">
    <img class="center-image" draggable="true" src="{{row.imgPath}}" style="cursor: pointer; text-align: center"
      (mousedown)="handleMousedownEvent($event, p, row, graph)" matTooltip="{{row.label}}">
    <div style="padding-top: 3px"></div>
  </div> -->






    <div *ngIf="selectionIndex > -1" style="outline-color: grey; outline-style: solid; outline-width: 1px">
      <div style="outline-color: grey; outline-style: solid; outline-width: 1px">
        <div fxLayout="row" fxLayoutAlign="start center" class="m-4">
          <mat-icon>information</mat-icon>
          <div class="pl-8"></div>
          <div style="padding-top:4px">{{configurableClasses[selectionIndex].name}}</div>
        </div>
      </div>

      <div class="m-4">
        <div style="font-size: 10px; color: gray">Icon</div>

        <div fxLayout="row" fxLayoutAlign="start end">
          <div
            style="width: 65px; height: 65px; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
            <img *ngIf="configurableClasses[selectionIndex].imagePath"
              [src]="configurableClasses[selectionIndex].imagePath" width="60" height="60" (click)=undefined
              style="cursor: default" matTooltip="icon">
          </div>
          <a style="cursor: pointer; line-height: 0.7;" class="pl-4"
            (click)="changeIconClicked(selectionIndex)">ändern</a>
        </div>

        <div class="pt-12"></div>
        <div style="font-size: 10px; color: gray">Bezeichnung</div>
        <div>{{configurableClasses[selectionIndex].name}}</div>

        <div class="pt-12"></div>
        <div style="font-size: 10px; color: gray">Instanzierung</div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div></div>
          <button class="preview-button" mat-stroked-button color="accent"
            (click)="previewClicked(selectionIndex)">Vorschau Anzeigen</button>
          <div></div>
        </div>
        <div class="pb-4"></div>
      </div>

    </div>






    <div class="pt-36"></div>

    <!-- <a (click)="createClassInstanceClicked(null)" style="cursor: pointer">New Instance
      (from root)</a>
    <div style="padding-top: 5px"></div>
    <a (click)="doShitWithGraph(graph)" style="cursor: pointer">print graph to
      console</a>
    <div style="padding-top: 5px"></div>
    <a (click)="printModelToConsole()" style="cursor: pointer">Print Model to console</a> -->
  </div>
</div>


<div #graphContainer id="graphContainer"></div>

<div #rightSidebarContainer id="rightSidebarContainer">
  <!-- style="border-left: solid 1px rgb(160, 160, 160)"> -->
  <div class="sidebar-content">

    <div *ngIf="rightSidebarVisible">
      <h2>Ansicht</h2>

      <div class="pt-4"></div>

      <div fxLayout="row" fxLayoutAlign="start start">
        <div
          style="width: 25; height: 25; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
          <img src="/assets/mxgraph_resources/images/zoomin.gif" width="25" height="25" (click)="zoomInEvent()"
            style="cursor: pointer" matTooltip="zoom in">
        </div>

        <div style="padding-right: 3px"></div>

        <div
          style="width: 25; height: 25; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
          <img src="/assets/mxgraph_resources/images/zoomout.gif" width="25" height="25" (click)="zoomOutEvent()"
            style="cursor: pointer" matTooltip="zoom out">
        </div>

        <div style="padding-right: 3px"></div>

        <div
          style="width: 25; height: 25; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
          <img src="/assets/mxgraph_resources/images/zoomactual.gif" width="25" height="25" (click)="zoomResetEvent()"
            style="cursor: pointer" matTooltip="reset view">
        </div>

      </div>

      <div class="pt-4"></div>

      <mat-form-field style="width: 100%">
        <mat-select placeholder="Automatisches Layout" value="Vertical">
          <!-- <mat-option value="Horizontal" (click)="setLayout('horizontal')">Horizontal</mat-option> -->
          <mat-option value="Vertical" (click)="setLayout('vertical')">Vertikal</mat-option>
          <!-- <mat-option value="Radial (experimental)" (click)="setLayout('radial')">Radial (experimental) </mat-option> -->
        </mat-select>
      </mat-form-field>

      <editor-tree-view [editorInstance]="this"></editor-tree-view>

      <div>
        <a (click)="showInstanceForm()" style="cursor: pointer">Instanz erstellen</a>
      </div>

    </div>

    <div *ngIf="!rightSidebarVisible" fxLayout="row" fxLayoutAlign="end center">
      <a (click)="showSidebar()" style="cursor: pointer">Textansicht aufklappen</a>
    </div>

  </div>

</div>