<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli|Roboto:300,400,500,700|Google+Sans">

<div class="page-layout blank p-24" fusePerfectScrollbar>

  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="row" fxLayoutAlign="space-between center">
    <div></div>
    <h1>Neu eingegangene Einträge</h1>
    <div></div>
  </div>

  <div class="p-12"></div>

  <div *ngIf="!isLoaded">
    //TODO loading circle
  </div>

  <div fxLayout="column" fxLayoutAlign="start center" style="font-size: 16px">
    <div></div>
    <div fxLayout="row" fxLayoutAlign="start center">

      <div style="padding: 5px"></div>


      <mat-menu #shareMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item (click)="triggerShareDialog()" style="width: 220px">
                    <div fxLayout="row" fxLayoutAlign="start center">
  
                        <img class="avatar" src="assets/images/logos/OERK_Sonderlogo_rgb.jpg">
                        <div style="padding-left: 10px"></div>
                        <div>ÖRK</div>
                    </div>
                </button>
        <button mat-menu-item (click)="triggerShareDialog()" style="width: 220px">
                    <div fxLayout="row" fxLayoutAlign="start center">
  
                        <img class="avatar" src="assets/images/logos/FF_Altenberg.jpg">
                        <div style="padding-left: 10px"></div>
                        <div>FF Altenberg</div>
                    </div>
                </button>
        <button mat-menu-item (click)="triggerShareDialog()" style="width: 220px">
                    <div fxLayout="row" fxLayoutAlign="start center">
  
                        <img class="avatar" src="assets/images/logos/neighborhelp.jpg">
                        <div style="padding-left: 10px"></div>
                        <div>Forum Alpbach</div>
                    </div>
                </button>
        <button mat-menu-item (click)="triggerShareDialog()" style="width: 220px" matTooltip="Recruiter: 'Best Jobs'">
                    <div fxLayout="row" fxLayoutAlign="start center">
  
                        <img class="avatar" src="assets/images/logos/recruiter.jpg">
                        <div style="padding-left: 10px"></div>
                        <div>Recruiter: 'Best Jobs'</div>
                    </div>
                </button>
      </mat-menu>
    </div>
  </div>


  <div class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" *ngIf="isLoaded">

    <div class="pt-8 pb-12">Wähle die Einträge aus, die du in deinen lokalen Freiwilligenpass hinzufügen willst:</div>

    <app-asset-inbox [classInstances]="classInstances" [marketplace]="marketplace" inboxOwner="volunteer" (submit)=onAssetInboxSubmit($event)></app-asset-inbox>
  </div>



</div>