@import "src/@fuse/scss/fuse";
@import '~@angular/material/theming';
@include mat-core();
$custom-typography: mat-typography-config( $font-family: 'Muli');
@include mat-core($custom-typography);

// .page-layout {
//   font-family: "Muli", "Helvetica Neue", Arial, sans-serif;
//   overflow: scroll;
  
// }


.verein-heading{
  font-size: 50px;
  text-align: center;
}


.table {
  mat-row:nth-child(even) {
    background-color: #afcbe6;
  }

  mat-row:nth-child(odd) {
    background-color: white;
  }

  mat-row {
    cursor: pointer;
  }

  mat-row:hover {
    opacity: 0.5;
  }
}