<div class="page-layout blank p-12" fusePerfectScrollbar>
    <div class="layout1" fxLayout="row wrap" fxLayoutAlign="center">

        <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column" fxFlex="100"
            fxFlex.gt-sm="50" *ngIf="marketplaces.length > 0">
            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="h1">Recommended Marketplaces</div>
                </div>

                <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center" *ngFor="let marketplace of marketplaces">
                    <div>
                        <div class="h3">{{marketplace.name}}</div>
                    </div>

                    <div>
                        <button mat-icon-button aria-label="More" [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="registerMarketplace(marketplace)">
                                <span>Join</span>
                            </button>
                            <button mat-menu-item>
                                <span>Details</span>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </div>
        </fuse-widget>
    </div>
</div>