<div class="marketplaces" fxFlex="100"  *fuseIfOnDom>

  <div class="marketplace" *ngFor="let marketplace of allMarketplaces" fxFlex="100" fxFlex.gt-xs="50"
       fxFlex.gt-sm="33">

    <div class="marketplace-content" fxLayout="column">

      <div class="header" fxLayout="row" fxLayoutAlign="center center">
        <div class="category" fxFlex>
          {{marketplace.shortName}}
        </div>
      </div>

      <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex>
        <div class="h1">{{marketplace.name}}</div>
      </div>

      <div class="footer" fxLayout="row" fxLayoutAlign="center center">
        <div *ngIf="isUnsubscribed(marketplace)">
          <button mat-raised-button color="accent" (click)="subscribe(marketplace)">Subscribe
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="no-marketplaces" *ngIf="allMarketplaces.length === 0">
    No marketplaces available!
  </div>

</div>
