<div id="achievements" class="page-layout blank p-24" fusePerfectScrollbar>

  <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <h1>Your Achievements</h1>
    <img class="header-icon" src="assets/icons/achievements.svg">
  </div>

  <div class="layout1" fxLayout="row wrap" fxLayoutAlign="center">

    <!-- line chart -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                 fxFlex="100" fxFlex.gt-sm="70">

      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

        <div class="px-16 py-8" fxLayout="row" fxLayoutAlign="space-between center">
          <h1>Finished Tasks per Month</h1>
        </div>
        <div class="px-16 py-8" fxLayout="row" fxLayoutAlign="space-between center" style="min-height: 400px">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </fuse-widget>
    <!-- line chart end -->

    <!-- Hard facts -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                 fxFlex="100" fxFlex.gt-sm="30">

      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

        <div class="px-16 py-8 border-bottom" fxLayout="row"
             fxLayoutAlign="space-between center">
          <div class="h1">{{widgets.widgetFacts.title}}</div>
          <mat-form-field>
            <mat-select class="simplified" [(ngModel)]="widgetFacts.currentRange"
                        aria-label="Change range" style="font-size: 12px;">
              <mat-option *ngFor="let range of widgets.widgetFacts.ranges | keys"
                          [value]="range.key">
                {{range.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <div class="p-16" fxLayout="row" fxLayoutAlign="space-between center"
             *ngFor="let fact of widgets.widgetFacts.entries[widgetFacts.currentRange]">
          <img class="icon"
               [src]="fact.icon"
               [title]="fact.title">

          <div class="factValue">{{fact.value}}</div>

          <button mat-icon-button aria-label="More information">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>


    </fuse-widget>
    <!-- / Hard facts -->


  </div>

  <div class="layout2" fxLayout="row wrap" fxLayoutAlign="center">

    <!-- Badges -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                 fxFlex="100" fxFlex.gt-sm="50">

      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

        <div class="px-16 py-8 border-bottom" fxLayout="row"
             fxLayoutAlign="space-between center">
          <div class="h1">Recently earned Badges</div>
        </div>

        <div class="badges" fxLayout="row wrap" fxLayoutAlign="center">
          <ng-container *ngFor="let badge of badges.badges">
            <fuse-widget class="badge" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33">

              <!-- Front -->
              <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
                  <div>{{badge.source}}</div>
                </div>

                <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
                  <img class="badge" [src]="badge.image">
                  {{badge.name}}
                </div>
              </div>
              <!-- / Front -->
            </fuse-widget>
          </ng-container>
        </div>

        <mat-divider></mat-divider>

        <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
          <button mat-button color="accent">See all your Badges</button>
        </div>

      </div>
    </fuse-widget>
    <!-- Badges end -->


    <!-- Competences -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                 fxFlex="100" fxFlex.gt-sm="50">

      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

        <div class="px-16 py-8 border-bottom" fxLayout="row"
             fxLayoutAlign="space-between center">
          <div class="h1">Recently earned Competencies</div>
        </div>

        <div class="competencies" fxLayout="row wrap" fxLayoutAlign="center">
          <div class="competence" *ngFor="let competence of competencies.competencies" fxFlex="100" fxFlex.gt-xs="50"
               fxFlex.gt-sm="33">
            <div class="competence-content" fxLayout="column">

              <div class="header" fxLayout="row" fxLayoutAlign="center center">
                <div class="category" fxFlex>
                  {{competence.name}}
                </div>
              </div>

              <div class="content" fxLayout="column" fxLayoutAlign="center center">
                <div class="h1">{{competence.marketplace}}</div>
                <div class="h1">{{competence.task}}</div>
              </div>

              <div class="footer" fxLayout="row" fxLayoutAlign="center center">
                {{competence.date}}
              </div>

            </div>
          </div>
        </div>


        <mat-divider></mat-divider>
        <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
          <button mat-button color="accent">See all your Competencies</button>
        </div>
      </div>
    </fuse-widget>
    <!-- Competencies end -->


  </div>

  <div class="layout3" fxLayout="row wrap" fxLayoutAlign="center">

    <!-- Friends -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                 fxFlex="100" fxFlex.gt-sm="33">

      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

        <div class="px-16 py-8 border-bottom" fxLayout="row"
             fxLayoutAlign="space-between center">
          <div class="h1">Top Friends</div>
        </div>

        <table class="simple clickable">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th class="text-right"># Tasks</th>
            <th class="text-right">Hours</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let friend of about.friends">
            <td><img [src]="friend.avatar"></td>
            <td> {{friend.name}}</td>
            <td class="text-right"> {{friend.number}}</td>
            <td class="text-right"> {{friend.hours}}</td>
          </tr>
          </tbody>
        </table>

        <mat-divider></mat-divider>

        <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
          <button mat-button color="accent">Go to Friends</button>
        </div>
      </div>

    </fuse-widget>
    <!-- Friends end -->

    <!-- Finished Projects/Tasks -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                 fxFlex="100" fxFlex.gt-sm="66">

      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

        <div class="px-16 py-8 border-bottom" fxLayout="row"
             fxLayoutAlign="space-between center">
          <div class="h1">Finished Projects and Tasks</div>
        </div>

        <div fusePerfectScrollbar>

          <mat-expansion-panel *ngFor="let project of finishedProjects.finishedProjects" class="fuse-card" fxFlex="100">
            <mat-expansion-panel-header>
              <mat-panel-title><h2>{{project.name}}</h2></mat-panel-title>
            </mat-expansion-panel-header>

            <div class="content pd-12 mat-white-bg">
              <div>
                <div class="h3">
                  <mat-icon>check_circle_outline</mat-icon>
                  {{project.task1}}
                </div>
                <div class="h3" *ngIf="project.task2">
                  <mat-icon>check_circle_outline</mat-icon>
                  {{project.task2}}
                </div>
              </div>


              <div class="card-divider full-width"></div>
              <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
                <button mat-button color="accent">See Project Details</button>
              </div>

            </div>

          </mat-expansion-panel>

        </div>
      </div>

    </fuse-widget>
    <!-- / Finished Projects/Tasks -->


  </div>


</div>
