<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div *ngFor="let question of questions" class="form-row" [@simpleFadeAnimation]="'in'">
    <app-question [question]="question" [form]="form" [submitPressed]="submitPressed"></app-question>
  </div>

  <br>
  <br>


  <div *ngIf="!hideButtons" fxLayout="row" fxLayoutAlign="space-around center">

    <button type="button" mat-raised-button color="secondary" (click)="navigateBack()">
      Cancel</button>

    <div></div>

    <button type="submit" mat-raised-button color="primary">
      Next</button>
  </div>

</form>