<!-- OLD 
  <mat-form-field class="form-field" [formGroup]="form">
  <mat-select placeholder="{{question.label}} {{requiredMarker}}" [formControlName]="question.key" [id]="question.key"
    [value]="question.value">
    <mat-option *ngFor="let opt of question.options" [value]="opt">
      <div [ngStyle]="{'margin-left': calculateSpaces(opt.level)}">{{opt.value}}</div>
    </mat-option>
  </mat-select>
  <mat-error *ngIf="form.controls[question.key].invalid">{{ displayErrorMessage() }}</mat-error>
</mat-form-field> -->
<div class="question-container">

  <mat-form-field class="form-field" [formGroup]="form" *ngIf="!showList">
    <input matInput placeholder="{{question.label}} {{requiredMarker}}" [formControlName]="question.key"
      [id]="question.key" [value]="getQuestionValue()" (click)="onShowList()" style="cursor: pointer" readonly />
  </mat-form-field>

  <mat-form-field class="form-field" *ngIf="showList">
    <input matInput placeholder="Suchen..." />
  </mat-form-field>

  <div #enumListContainer class="list-container">
    <mat-action-list #enumList>
      <mat-list-item *ngFor="let opt of question.options" (click)="onSelectOption(opt)">
        {{opt.value}}
      </mat-list-item>
    </mat-action-list>

    <div style="width: 100px; height: 100px; background-color: aqua" (click)="onHideList()">Close</div>
  </div>
</div>