<mat-form-field class="form-field" [formGroup]="form">
  <mat-select placeholder="{{question.label}} {{requiredMarker}}" [formControlName]="question.key" [id]="question.key"
    [value]="question.value">
    <mat-option *ngFor="let opt of question.options" [value]="opt">
      <div [ngStyle]="{'margin-left': calculateSpaces(opt.level)}">{{opt.value}}</div>
    </mat-option>
  </mat-select>
  <mat-error *ngIf="form.controls[question.key].invalid">{{ displayErrorMessage() }}</mat-error>
</mat-form-field>