.question-container {
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
}

.form-field {
    margin: 0 auto;
    width: 90%;
}

.list-container  {
    margin: 8px;
    border: 2px solid black;
    border-radius: 5px;
}