@import "src/@fuse/scss/fuse";
@import "styles.scss";

.no-padding-margin {
  margin: 0;
  padding: 0;
}

.volunteer-table {

  height: 410px;
  overflow: hidden;

  .mat-column-checkbox {
      // padding-left: 3px;
      flex: 0 0 70px;
  }

  .mat-column-image {
    // padding-left: 3px;
    flex: 0 0 100px;
  }

  .mat-column-name {
    // padding-left: 3px;
    // flex: 0 0 200px;
  }

}


