<div class="m-8">
  <mat-table #volunteerTable class="volunteer-table" [dataSource]="datasource" *ngIf="datasource.data.length > 0">
    <ng-container matColumnDef="checkbox">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="checkboxChanged($event, row)" [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let entry" fxLayout="row" fxLayoutAlign="start center">
        <img class="avatar" [src]="getProfile(entry)" />
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let entry">
        {{ entry.firstname }} {{ entry.lastname }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nickname">
      <mat-header-cell *matHeaderCellDef>Nickname</mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{ entry.nickname }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef>Benutzername</mat-header-cell>
      <mat-cell *matCellDef="let entry"> {{ entry.username }} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" class="table-row"></mat-row>
  </mat-table>
  <mat-paginator [pageSize]="7" showFirstLastButtons></mat-paginator>
</div>