<div class="center">
  <div class="content pd-12 mat-white-bg" fusePerfectScrollbar>
    <div class="tasks" fxLayout="row wrap" fxLayoutAlign="center">
      <ng-container *ngFor="let task of tasks">
        <fuse-widget class="task" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="50">
          <!-- Front -->
          <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
            <div class="pl-16 pr-8 py-16 h-52" fxLayout="row" fxLayoutAlign="space-between center">
              <div>{{task.name}}</div>

              <button mat-icon-button title="Details" aria-label="more"
                      [routerLink]="['/main/engagements/task', marketplaceId, task.id]">
                <mat-icon>more_vert</mat-icon>
              </button>
            </div>

            <div class="pl-16 pr-8 pt-8 pb-32" fxLayout="column">
              <div>{{task.description}}</div>
              <div><strong>Start date:</strong> {{task.startDate | date: 'dd.MM.yyyy'}}</div>
              <div *ngIf="task.endDate"><strong>End date:</strong> {{task.endDate | date: 'dd.MM.yyyy'}}</div>
            </div>
          </div>
          <!-- / Front -->
        </fuse-widget>
      </ng-container>
    </div>
  </div>
</div>
