@import "src/@fuse/scss/fuse";

.content-layout {
  // min-height: 300px;
  // position: relative;

  h2 {
    margin: 0;
    padding: 0;
  }

  .fieldset-title {
    margin-left: 5%;
  }

  .allowed-values-fieldset-container {
    margin-left: 5%;
    margin-right: 5%;

    border: 1px rgba(0, 0, 0, 0.404) solid;
    border-radius: 2px;

    .allowed-value-row {
      .allowed-value-field {
        margin-left: 8px;
      }
    }
  }

  .constraint-fieldset-container {
    border: none;

    border: 1px rgba(0, 0, 0, 0.404) solid;

    .constraint-entry {
      border: 1px rgba(0, 0, 0, 0.12) solid;
      border-radius: 4px;
      background: rgb(250, 250, 250);
      margin-bottom: 4px;

      .constraint-entry-field {
        margin: 0 4px;
      }
    }
  }

  .required-constraint-fieldset-container {
    display: flex;
    flex-direction: column;
  }

  .fieldset-action {
    margin-left: 20px;
    border: 1px solid rgb(62, 125, 219);
    border-radius: 4px;

    color: rgb(62, 125, 219);

    cursor: pointer;
    width: fit-content;

    padding: 2px 4px 2px 2px;
  }

  .fieldset-action:hover {
    background: rgb(62, 125, 219);
    color: white;
  }

  .fieldset-entry-icon {
    cursor: pointer;
    margin-left: 8px;
  }

  .fieldset-empty {
    text-align: center;
  }

  mat-expansion-panel {
    box-shadow: none;
    border: 1px rgba(0, 0, 0, 0.12) solid;
  }

  mat-expansion-panel-header {
    height: max-content !important;
    padding: 0 8px;

    mat-panel-title {
      color: rgba(0, 0, 0, 0.38);
      padding: 8px 0;
      font: 400 16px/1.125 Roboto, "Helvetica Neue", sans-serif;
    }
  }

  mat-expansion-panel-header:hover,
  mat-expansion-panel-header.mat-expanded {
    background-color: rgb(62, 125, 219) !important;
    border-radius: 0;
    height: max-content !important;

    mat-panel-title {
      color: white;
    }

    mat-panel-description {
      color: white;
    }
  }
}
