.sunburstParent {
    width: 70%;
}

.tasksTable {
   width: 30%;
}

.right {
    text-align: right
  }

  tr.is-Veranstaltung {
    background: rgba(rgb(168, 56, 93), $alpha: 0.7);
  }
  
  tr.is-Ausbildung {
    background: rgba(rgb(122, 163, 229), $alpha: 0.7);
  }
  
  tr.is-Jugendarbeit {
    background: rgba(rgb(162, 126, 168), $alpha: 0.7);
  }
  
  tr.is-Taetigkeit {
    background: rgba(rgb(170, 227, 245), $alpha: 0.7);
  }
  
  tr.is-Bewerb {
    background: rgba(rgb(173, 205, 237), $alpha: 0.7);
  }
  
  tr.is-Einsatz {
    background: rgba(rgb(169, 89, 99), $alpha: 0.7);
  }
  
  tr.is-Probe {
    background: rgba(rgb(122, 163, 229), $alpha: 0.7);
  }
  
  tr.is-Ausrueckung {
    background: rgba(rgb(162, 126, 168), $alpha: 0.7);
  }
  
  tr.mat-row {
    cursor: pointer;
  }
  
  tr.mat-row:hover {
    opacity: 0.8;
  }
  
  th.mat-header-cell {
    font-size: 18px;
  }
  
  td.mat-cell {
    font-size: 14px;
  }
  
  ::ng-deep .highcharts-drillup-button {
    display: none !important;
  }

