.mat-dialog-title {
  margin: 0;

  h1 {
    padding: 0 0 6px 0;
    margin: 0;
    
  }
}


mat-dialog-content {

  height: calc(100% - 52px - 20px );
  overflow: hidden;

  h1, h2 {
    padding: 0;
    margin: 0;
  }

  .browse-button {
    width: 200px; 
    background: rgb(230, 228, 228); 
    margin: 0 auto;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    border-radius: 2px;

    .browse-button-text {
      text-align: center;
    }

  }

  .browse-button:hover {
    background-color: rgb(62, 125, 219);
    color: white;
  }

}


:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix  {
  padding: 0em 0 10px 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding-left: 5px;
  padding-right: 5px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding: 0;
}
