<form class="task-form" (submit)="save()" [formGroup]="taskTypeForm">

  <h3><br/> CREATE TASK TYPE</h3>

  <mat-form-field class="full-width">
    <input matInput placeholder="Name" [formControl]="taskTypeForm.controls['name']">
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description"
              [formControl]="taskTypeForm.controls['description']"></textarea>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
