<div mat-dialog-title>
  <table>
    <tr>
      <td>
        <mat-icon>delete</mat-icon>
      </td>
      <td>
        <h1>Konfiguration löschen</h1>
      </td>
    </tr>
  </table>
</div>
<mat-dialog-content *ngIf="loaded">

  <div class="delete-dialog-content pt-8">

    <h2>Löschen</h2>


    <table class="browse-table" cellspacing=0 cellpadding=3>
      <col width="20px" />
      <col width="230px" />
      <col width="100px" />
      <col width="100px" />

      <tr style="background-color: rgb(62, 125, 219); color: white;">
        <th></th>
        <th style="text-align: start" class="table-header-cell">Name</th>
        <th style="text-align: start" class="table-header-cell">Unternehmen</th>
        <th style="text-align: start" class="table-header-cell">Besteller</th>

      </tr>
      <tr *ngFor="let entry of allMatchingConfigurations; let i = index" class="table-row"
        (click)="handleCheckboxRowClicked($event, i, entry)">
        <td style="overflow: hidden">
          <mat-checkbox [(ngModel)]="checkboxStates[i]" (change)="handleCheckboxClicked($event.checked, entry)"
            (click)="$event.stopPropagation();">
          </mat-checkbox>
        </td>
        <td style="overflow: hidden">{{entry.name}}</td>
        <td style="overflow: hidden">{{entry.producerClassConfigurationName}}</td>
        <td style="overflow: hidden">{{entry.consumerClassConfigurationName}}</td>
      </tr>
    </table>

  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="primary-button-dark" mat-stroked-button type="button" (click)="onSubmit()">OK</button>
  <button class="secondary-button-dark" mat-stroked-button type="button"
    [mat-dialog-close]="undefined">Abbrechen</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
</mat-dialog-actions>