<div class="page-layout blank right-sidenav p-24" fusePerfectScrollbar>
  <customizable-header
    *ngIf="tenant"
    [tenant]="tenant"
    [displayNavigateBack]="true"
    headerText="Einträge ableiten"
  ></customizable-header>
  <div *ngIf="this.participant && isFF()">
    <div
      class="header-ff p-16 p-sm-24"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <mat-icon
        class="iconButton"
        (click)="navigateBack()"
        style="margin-left: 20px; color: white;"
        >keyboard_return
      </mat-icon>
      <h1 class="l-heading">Einträge ableiten</h1>
      <img class="header-logo" src="assets/images/avatars/FF_Altenberg.jpg" />
    </div>
  </div>

  <div *ngIf="this.participant && isMV()">
    <div
      class="header-mv p-16 p-sm-24"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <mat-icon
        class="iconButton"
        (click)="navigateBack()"
        style="margin-left: 20px; color: white;"
        >keyboard_return
      </mat-icon>
      <h1 class="l-heading">Einträge ableiten</h1>
      <img
        class="header-logo"
        src="assets/images/avatars/musikvereinschwertberg.jpeg"
      />
    </div>
  </div>

  <div *ngIf="this.participant && isOther()">
    <div
      class="header p-16 p-sm-24"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <mat-icon
        class="iconButton"
        (click)="navigateBack()"
        style="margin-left: 20px; color: white;"
        >keyboard_return
      </mat-icon>

      <h1 class="l-heading">Einträge ableiten</h1>
      <!-- <img class="header-logo" src="assets/images/avatars/FF_Altenberg.jpg"> -->
    </div>
  </div>

  <p *ngIf="inputMissingError" class="alert alert-warn mt-10">
    <i class="fas fa-exclamation-circle"></i> &nbsp; Bitte geben Sie Voluntär
    und Export-Datei an.
  </p>

  <form
    *ngIf="derivationRule"
    form
    style="padding-top: 12px; padding-left: 40px;"
    name="form"
    fxLayout="column"
    fxLayoutGap="20px"
    fxLayoutAlign="start"
    (change)="onChange($event)"
    (submit)="save()"
    [formGroup]="ruleForm"
  >
    <div fxLayout="row">
      <mat-form-field class="nameInput">
        <input matInput placeholder="Regelname" (change)="onChangeName($event)" formControlName="name" />
      </mat-form-field>
    </div>

    <div style="font-size: 20px;" fxLayout="column" fxLayoutGap="10px">
      <mat-divider></mat-divider>
      <div fxFlex fxLayout="row" fxLayoutAlign="start start">
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <div
            style="z-index: 255; position: relative; width: 35px; height: 35px;"
          >
            <img
              style="object-fit: contain; max-width: 100%; max-height: 100%;"
              src="../../../assets/competence.jpg"
            />
          </div>
        </div>
        <div style="padding-top: 3px; padding-left: 5px;">
          Abgeleiteter Freiwilligenpasseintrag
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div fxLayout="row" fxLayoutAlign="start start">
      <div *ngFor="let entry of derivationRule.classActions">
        <target-rule-configurator
          [(classAction)]="entry"
          (classActionChange)="onChangeClassAction($event)"
        ></target-rule-configurator>
      </div>
    </div>
   <!--<div>
      <button
        type="button"
        mat-raised-button
        color="secondary"
        (click)="addNewTarget()"
      >
        Neuer Freiwilligenpasseintrag
      </button>
    </div>-->
    <div style="font-size: 20px;" fxLayout="column" fxLayoutGap="10px">
      <mat-divider></mat-divider>
      <div fxFlex fxLayout="row" fxLayoutAlign="start start">
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <div
            style="z-index: 255; position: relative; width: 35px; height: 35px;"
          >
            <img
              style="object-fit: contain; max-width: 100%; max-height: 100%;"
              src="../../../assets/checklist.jpg"
            />
          </div>
        </div>
        <div style="padding-top: 3px; padding-left: 5px;">
          Vorbedingungen für Ableitung
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div *ngFor="let entry of derivationRule.generalConditions">
      <general-precondition
          [(generalCondition)]="entry"
        ></general-precondition>     
      </div>
   <div>
      <button
        type="button"
        mat-raised-button
        color="secondary"
        (click)="addGeneralCondition()"
      >
        Allgemeine Bedingung hinzufügen
      </button>
    </div>

    <div style="font-size: 20px;" fxLayout="column" fxLayoutGap="10px">
      <mat-divider></mat-divider>
    <div *ngFor="let entry of derivationRule.conditions">
      <class-rule-precondition 
        [(classCondition)]="entry"
        (classConditionChange)="onChangeClassCondition($event)"
      ></class-rule-precondition>
    </div>
  </div>

    <div>
      <button
        type="button"
        mat-raised-button
        color="secondary"
        (click)="addClassCondition()"
      >
        Klassenbedingung hinzufügen
      </button>
    </div>
    <!--<div fxLayout="row" fxLayoutAlign="end start" style="padding-top: 25px;">
      <button
        type="button"
        mat-raised-button
        color="secondary"
        (click)="testCondition()"
      >
        Regelbedingungen testen
      </button>
      <div style="padding-right: 5px;"></div>
    </div>-->
    <div fxLayout="row" fxLayoutAlign="end start" style="padding-top: 25px;">
      <button mat-raised-button type="button" color="secondary" (click)="test()">Regelbedingungen testen</button>
      <div style="padding-right: 5px;"></div>
      <button mat-raised-button type="submit" [disabled]="deactivateSubmit" color="primary">Speichern</button>
      <div style="padding-right: 5px;"></div>
    </div>
    <div class="row"  *ngIf="showSuccessMsg">
      <div class="col-xs-12">
        <p class="alert alert-success">
            <strong>Regel erfolgreich gespeichert!</strong> </p>
      </div>
    </div>
  </form>
  <div fxLayout="row" fxLayoutAlign="end start" style="padding-top: 25px;"></div>
  <div *ngIf= 'testConditions'>
    <div style="padding-top: 3px; padding-left: 5px;">
      Testen der Regelbedingungen:
    </div>
    <div fxLayout="row" fxLayoutAlign="end start" style="padding-top: 25px;"></div>
    <test-rule-configuration [derivationRule]=derivationRule>
    </test-rule-configuration>
  </div>
</div>
<!--(change)="onChange($event)"-->
<!-- (classConditionChange)="onChangeClassCondition($event)"-->