.mat-list-item {
  border: 2px dashed;
  margin-bottom: 10px;
}

.mat-list-item.public {
  border-color: orange;
  border-style: solid;
}

.mat-list-item.private {
  border-color: green;
  border-style: solid;
}

.mat-list-item:last-child {
  margin-bottom: 0;
}
