@import "src/@fuse/scss/fuse";

:host {

  .friends-content .friend{
    margin: 5px;
  }

  .profile-box {
    margin-bottom: 16px;
    @include mat-elevation(2);

    header {
      padding: 16px;
      background-color: #FFDA44 !important;

      .title {
        font-size: 17px;
      }

      .more {
        cursor: pointer;
      }
    }

    .content {
      padding: 16px;
      background-color: #FFF;
    }

    footer {
      padding: 8px;
      border-top: 1px solid rgba(0, 0, 0, 0.08);
      background-color: rgba(0, 0, 0, 0.06);
    }

    &.info-box {

      .info-line {
        margin-bottom: 24px;

        .title {
          font-size: 15px;
          font-weight: 500;
          padding-bottom: 4px;
        }

        .info {

        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
