<div class="page-layout blank" fusePerfectScrollbar *ngIf="isLoaded">

    <h1 class="h1-nospace">{{ formEntry.classDefinitions[0].name }}</h1>

    <app-dynamic-class-instance-creation-form *ngIf="formEntry.questions.length > 0" [questions]="formEntry.questions"
        hideButtons="true" [formConfigurationId]="formConfiguration.id" [form]="formEntry.formGroup" lastEntry="false"
        (resultEvent)="handleResultEvent($event)" (cancelEvent)="handleCancelEvent()">
    </app-dynamic-class-instance-creation-form>

    <div *ngFor="let entry of formEntry.subEntries">
        <app-form-entry-view [formEntry]="entry" [formConfiguration]="formConfiguration"></app-form-entry-view>
    </div>
</div>