<link type="text/css" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Muli|Roboto:300,400,500,700|Google+Sans" />

<div class="page-layout blank p-24" fusePerfectScrollbar style="overflow: scroll">
    <div style="padding-top: 12px"></div>

    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Local Repository</h1>
        <div style=" position: relative; width: 120px; height: 120px; padding-top: 0px;">
        </div>
    </div>

    <div style="padding-top: 30px"></div>

    <mat-divider></mat-divider>
    <div style="padding-top: 10px"></div>

    <div class="mat-card p-20" fxLayout="column">
        <div style="padding-top: 10px;"></div>


        <!-- table... -->
</div>  