<div class="page-layout blank right-sidenav p-24" fusePerfectScrollbar *ngIf="isLoaded">

    <div *ngIf="currentFormConfiguration">
        <h1>{{currentFormConfiguration.name}}</h1>


        <div style="padding-top: 12px"></div>
        <app-dynamic-class-instance-creation-form [questions]="currentFormConfiguration.formEntry.questions"
            [hideButtons]="false" [formConfigurationId]="currentFormConfiguration.id"
            [form]="currentFormConfiguration.formEntry.formGroup" (resultEvent)="handleExportClick($event)"
            (cancelEvent)="handleCloseClick()">
        </app-dynamic-class-instance-creation-form>
    </div>

    <div *ngIf="!currentFormConfiguration">
        Save first...
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-top: 10px">
        <div></div>

        <div>
            <!-- <button type="button" mat-raised-button color="primary" (click)="handleExportClick()">
                Export JSON
            </button>
            <button type="button" mat-raised-button color="primary" (click)="handleCloseClick()" class="ml-8">
                Close
            </button> -->
        </div>

        <div></div>
    </div>


</div>