<div>

  <h1>Add new Class</h1>

  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <mat-form-field>
      <input matInput placeholder="name" formControlName="name" id="name" />
    </mat-form-field>

    <h2>Properties</h2>

    <div *ngFor="let p of selectedProperties">

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>{{p.name}}: {{p.kind}}</div>
        <div></div>
        <mat-icon style="cursor: pointer">delete</mat-icon>
      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center" style="cursor: pointer">
      <mat-icon (click)="addProperty()">add</mat-icon>
      <div class="pl-8">add Property</div>
    </div>

    <h2>Relationships</h2>

    <div *ngIf="!relationshipEditMode; else inRelationshipEditMode">
      <div *ngFor="let r of newRelationships">
        <div>This Class ----- {{r.classId2}}</div>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" style="cursor: pointer">
        <mat-icon (click)="addRelationship()">add</mat-icon>
        <div class="pl-8">add Relationship</div>
      </div>
    </div>

    <ng-template #inRelationshipEditMode>
      <div>Click on the Class with which the new Class should have a Relationship</div>

      <a (click)="relationshipEditMode=false" style="cursor: pointer">Cancel</a>
    </ng-template>

    <div class="pt-12"></div>
    <button type="submit" mat-raised-button color="primary">
      Save</button>

  </form>
</div>