<ngx-charts-chart
[view]="[width, height]"
[showLegend]="false"
[animations]="animations"
class="timeline-filter-bar-chart"
>
<svg:g [attr.transform]="transform" class="chart">
  <svg:g
    ngx-charts-x-axis
    *ngIf="xAxis"
    [xScale]="timeScale"
    [dims]="dims"
    [showLabel]="showXAxisLabel"
    [labelText]="xAxisLabel"
    [tickFormatting]="xAxisTickFormatting"
    (dimensionsChanged)="updateXAxisHeight($event)"
  ></svg:g>
  <svg:g
    ngx-charts-y-axis
    *ngIf="yAxis"
    [yScale]="yScale"
    [dims]="dims"
    [showGridLines]="showGridLines"
    [showLabel]="showYAxisLabel"
    [labelText]="yAxisLabel"
    [tickFormatting]="yAxisTickFormatting"
    (dimensionsChanged)="updateYAxisWidth($event)"
  ></svg:g>
  <svg:g
    ngx-charts-series-vertical
    [xScale]="xScale"
    [yScale]="yScale"
    [colors]="colors"
    [series]="results"
    [dims]="dims"
    [gradient]="gradient"
    [animations]="animations"
    [noBarWhenZero]="noBarWhenZero"
    tooltipDisabled="true"
  ></svg:g>
</svg:g>

<svg:g [attr.transform]="transform" class="timeline">
  <svg:filter [attr.id]="filterId">
    <svg:feColorMatrix
      in="SourceGraphic"
      type="matrix"
      values="0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0"
    />
  </svg:filter>
  <svg:rect x="0" [attr.width]="dims.width" y="0" [attr.height]="dims.height" class="brush-background" />
  <svg:g class="brush"></svg:g>
</svg:g>
</ngx-charts-chart>