<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli|Roboto:300,400,500,700|Google+Sans">

<div class="page-layout blank p-24" fusePerfectScrollbar>


  <!-- HEADER -->
  <div *ngIf="this.participant &&isFF()">
    <div class="header-ff p-16 p-sm-24" fxLayout="row" fxLayoutAlign="center center">
      <h1 class="l-heading"> Einträge Bestätigen</h1>
      <img class="header-icon" src="assets/images/avatars/FF_Altenberg.jpg">
    </div>
  </div>

  <div *ngIf="this.participant &&isMV()">
    <div class="header-mv p-16 p-sm-24" fxLayout="row" fxLayoutAlign="center center">
      <h1 class="l-heading"> Einträge bestätigen</h1>
      <img class="header-icon" src="assets/images/avatars/musikvereinschwertberg.jpeg">
    </div>
  </div>

  <div *ngIf="this.participant &&isOther()">
    <div class="header p-16 p-sm-24" fxLayout="row" fxLayoutAlign="center center">
      <h1 class="l-heading"> Einträge bestätigen</h1>
    </div>
  </div>

  <!-- / HEADER -->

  <div fxLayout="row" style="width: 100%; padding-top: 10px; padding-left: 10px; padding-right: 10px"
  fxLayoutAlign="space-between center">
  <div fxLayout="column" fxLayoutAlign="start start" style="font-size: 16px">
      <div>Filter by Organization</div>
      <div fxLayout="row" fxLayoutAlign="start start">

          <button mat-stroked-button type="button" color="accent"
              style="height: 60px; min-width: 60px;" fxLayout="row" fxLayoutAlign="start center">
              <div style=" position: relative; width: 50px; height: 50px; padding-top: 5px;">
                  <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                      src="../../../assets/images/logos/OERK_Sonderlogo_rgb_cropped.jpg">
              </div>
          </button>
          <div style="padding:1px"></div>
          <button mat-stroked-button type="button" color="accent"
              style="height: 60px; min-width: 60px;" fxLayout="row" fxLayoutAlign="start center">
              <div style=" position: relative; width: 50px; height: 50px; padding-top: 5px;">
                  <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                      src="../../../assets/images/logos/FF_Altenberg.jpg">
              </div>
          </button>
          <div style="padding:1px"></div>

          <button mat-stroked-button type="button" color="accent"
              style="height: 60px; min-width: 60px;" fxLayout="row" fxLayoutAlign="start center">
              <div style=" position: relative; width: 50px; height: 50px; padding-top: 5px;">
                  <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                      src="../../../assets/images/logos/neighborhelp.jpg">
              </div>
          </button>
          <div style="padding:1px"></div>

          <button mat-flat-button type="button" color="accent" style="height: 60px; min-width: 60px;"
              fxLayout="row" fxLayoutAlign="start center">
              <div style=" position: relative; width: 50px; height: 50px; padding-top: 7px;">
                  All
              </div>
          </button>



      </div>
  </div>

  <div></div>


  <div class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24 mt-12" *ngIf="isLoaded">

    <div class="pt-8 pb-12">Freiwilligenpasseinträge für die Bestätigung auswählen</div>

    <app-asset-inbox [classInstances]="classInstances" [marketplace]="marketplace" inboxOwner="helpseeker" (submit)=onAssetInboxSubmit($event)></app-asset-inbox>
  </div>
</div>