.mat-dialog-title {
  margin: 0;

  h1 {
    padding: 0 0 6px 0;
    margin: 0;
  }
}

mat-dialog-content {
  height: unset;
  overflow: scroll;

  h1,
  h2 {
    padding: 0;
    margin: 0;
  }

  .property-table {
    overflow-y: scroll;
    overflow-x: hidden;

    height: 215px;

    border-style: solid;
    border-color: rgb(62, 125, 219);
    border-width: 1px;
    border-radius: 2px;
    background-color: rgb(230, 228, 228);

    .mat-column-checkbox {
      flex: 0 0 50px;
    }

    .mat-column-label {
      flex: 0 1 250px;
      .name-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 245px;
      }
    }

    .mat-column-type {
      flex: 0 1 115px;
    }
  }

  mat-header-row {
    min-height: 0;
    background: rgb(62, 125, 219);
    padding: 2px 0;
  }

  mat-header-cell {
    font-size: 14px;
    color: white;
  }

  mat-row {
    min-height: 0;
    cursor: pointer;
  }

  mat-cell {
    cursor: pointer;
  }

  mat-row:hover {
    background: rgb(62, 125, 219);
    color: white;

    mat-cell {
      color: white;
    }
  }

  .center-spinner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
  }

  .search-field {
    color: black;
    width: 100%;
  }
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 10px 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding-left: 5px;
  padding-right: 5px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding: 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  // background-color: rgb(230, 228, 228);
  color: rgb(62, 125, 219);
}

:host ::ng-deep .mat-tab-label {
  height: 24px;
}
