@import "src/@fuse/scss/fuse";
@import "~@angular/material/theming";
@include mat-core();
$custom-typography: mat-typography-config(
  $font-family: "Muli",
);
@include mat-core($custom-typography);

.dashboard-main {
  flex: 4;
}

.dashboard-org {
  flex: 1;
}

.org-icon-container {
  position: relative;
  width: 50px;
  height: 50px;
  padding-top: 5px;
  margin: 3px;
  border-radius: 50%;
}

.org-icon {
  border: 1px solid;
  border-radius: 10px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
