<link
  type="text/css"
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Muli|Roboto:300,400,500,700|Google+Sans"
/>

<div
  class="page-layout blank p-24"
  fusePerfectScrollbar
  style="overflow: scroll;"
>
  <div style="padding-top: 12px;"></div>

  <div
    class="header mat-accent-bg p-16 p-sm-24"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <h1>Mein FreiwilligenPASS</h1>
    <div
      style="position: relative; width: 120px; height: 120px; padding-top: 0px;"
    >
      <img
        style="object-fit: contain; max-width: 100%; max-height: 100%;"
        [src]="image"
      />
    </div>
  </div>

  <div style="padding-top: 20px;"></div>

  <mat-card class="infoText"
    >Hier kannst du die Organisationen verwalten, in denen du sich engagieren
    willst, sowie erworbene Freiwilligenpass-Einträge <br />
    in deinen lokalen digitalen Freiwilligenpass speichern.
  </mat-card>

  <div style="padding-top: 10px;"></div>

  <mat-card *ngIf="isLocalRepositoryConnected">
    <!-- Organisation Filter -->
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <organisation-filter
          (tenantSelectionChanged)="tenantSelectionChanged($event)"
          *ngIf="subscribedTenants.length > 0"
        >
        </organisation-filter>

        <h2 *ngIf="subscribedTenants.length == 0">
          Du bist noch keiner Organisation beigetreten:
        </h2>

        <!-- Find new Organisation button -->
        <button
          class="mt-20"
          style="height: 60px; margin: 3px; margin-left: 10px;"
          mat-raised-button
          color="primary"
          (click)="navigateToTenantOverview(row)"
        >
          Organisationen verwalten
        </button>
      </div>

      <table class="table">
        <tbody>
          <tr>
            <td>Einträge nur am Marktplatz:</td>
            <td class="alignRight">{{ nrMpOnly }}</td>
          </tr>
          <tr>
            <td>Einträge nur im lokalen Freiwilligenpass:</td>
            <td class="alignRight">{{ nrLrOnly }}</td>
          </tr>
          <tr>
            <td>Einträge synchronisiert:</td>
            <td class="alignRight">{{nrMpUnionLr}} </td>
          </tr>
        </tbody>
      </table>
      
    </div>
  </mat-card>

  <div
    *ngIf="
      filteredClassInstances.length > 0 &&
      isLocalRepositoryConnected &&
      selectedTenants.length > 0
    "
    class="mat-card p-20"
    fxLayout="column"
  >
    <div fxLayout="row" fxLayoutAlign="end center">
      <button
        mat-raised-button
        color="primary"
        (click)="syncAllToLocalRepository()"
      >
        Auswahl hinzufügen
      </button>

      <button
        mat-raised-button
        color="primary"
        (click)="removeAllFromLocalRepository()"
        style="margin-left: 20px;"
      >
        Auswahl entfernen
      </button>
    </div>

    <div fxLayout="row" style="width: 100%;" fxLayoutAlign="start center">
      <div class="pt-32"></div>

      <mat-table
        #table
        matSort
        class="localRepoTable"
        [dataSource]="dataSource"
        style="width: 100%;"
        (matSortChange)="sortData($event)"
      >
        <ng-container matColumnDef="issuer">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Aussteller</mat-header-cell
          >
          <mat-cell *matCellDef="let entry">
            <div fxLayout="row" fxLayoutAligne="start center">
              <img class="avatar" src="{{ 'data:image/png;base64,' + getTenantImage(entry.tenantId) }}" />

              <!-- <div>{{ getIssuerName(entry.issuerId) }}</div> -->
              <div style="align-self: center;">{{ getIssuerName(entry.tenantId) }}</div>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="taskName">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Eintrag
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span>{{ element.name }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="taskType1">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Typ
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span>{{ element.taskType1 }} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Datum</mat-header-cell
          >
          <mat-cell *matCellDef="let entry">
            {{ entry.dateFrom | date: "dd.MM.yyyy hh:mm" }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef mat-sort-header
            >Aktionen</mat-header-cell
          >
          <mat-cell *matCellDef="let entry">
            <mat-icon 
            style="cursor: pointer;" 
            (click)="navigateToClassInstanceDetails(entry)"
            svgIcon="info"
            matTooltip="Details"
          ></mat-icon>

            <mat-icon
                *ngIf="!inLocalRepository(entry)"
                (click)="syncOneToLocalRepository(entry)"
                svgIcon="plus"
                style="cursor: pointer; margin-left: 20px;" 
                matTooltip="Zum lokalen Freiwilligenpass hinzufügen">
            </mat-icon>

            <mat-icon
              *ngIf="inLocalRepository(entry)"
              (click)="removeOneFromLocalRepository(entry)"
              svgIcon="minus"
              style="cursor: pointer; margin-left: 20px;" 
              matTooltip="Vom lokalen Freiwilligenpass entfernen">
            </mat-icon>

            <div *ngIf="inLocalRepository(entry)">
              <mat-icon
                svgIcon="share"
                style="cursor: pointer; margin-left: 20px;" 
                matTooltip="Teilen mit..."
                [matMenuTriggerFor]="shareMenu">
              </mat-icon>
              <mat-menu #shareMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
                <ng-template matMenuContent>
                <button *ngFor="let tenant of getShareableTenants(entry)" mat-menu-item (click)="shareClassInstance(entry, tenant)">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <img class="avatar" src="{{ 'data:image/png;base64,' + getTenantImage(tenant.id) }}" />
                    <div>{{tenant.name}}</div>
                  </div>
                </button>
                <button *ngIf="getShareableTenants(entry).length == 0" mat-menu-item>
                  Bereits an alle geteilt!
                </button>
              </ng-template>
              </mat-menu>
            </div>

          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="share">
          <mat-header-cell *matHeaderCellDef>
            Geteilt mit
          </mat-header-cell>
          <mat-cell *matCellDef="let entry">
              <img *ngFor="let tenant of getSharedWith(entry)" class="avatar" 
              matTooltip="{{tenant.name}}"
              src="{{ 'data:image/png;base64,' + getTenantImage(tenant.id) }}"
              style="cursor: pointer;"
              [matMenuTriggerFor]="revokeMenu"
              [matMenuTriggerData]="{tenant: tenant}"/>
            <mat-menu #revokeMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
              <ng-template matMenuContent let-tenant="tenant">
                <button  mat-menu-item (click)="revokeClassInstance(entry, tenant) ">
                Zurückziehen 
                </button>
              </ng-template>
            </mat-menu>
          </mat-cell>
        </ng-container>

        <mat-header-row
          *matHeaderRowDef="displayedColumnsRepository"
        ></mat-header-row>
        <mat-row
          *matRowDef="let element; let row; columns: displayedColumnsRepository"
          [ngClass]="{
            'is-white': inLocalRepository(element),
            'is-blue': !inLocalRepository(element)
          }"
        ></mat-row>
      </mat-table>
    </div>
  </div>

  <mat-paginator
    *ngIf="isLocalRepositoryConnected"
    [pageSize]="12"
    id="paginator"
    showFirstLastButtons
  >
  </mat-paginator>

  <div style="padding-top: 20px;"></div>

  <p *ngIf="timeout && !isLocalRepositoryConnected" class="alert alert-info">
    <i class="fas fa-exclamation-circle"></i> &nbsp; Keine Verbindung zu deinem
    lokalen Freiwilligenpass!
  </p>

  <p
    *ngIf="
      timeout &&
      selectedTenants.length === 0 &&
      isLocalRepositoryConnected &&
      subscribedTenants != 0
    "
    class="alert alert-info"
  >
    <i class="fas fa-exclamation-circle"></i> &nbsp; Keine Organisation
    ausgewählt!
  </p>

  <p
    *ngIf="
      timeout &&
      filteredClassInstances.length === 0 &&
      selectedTenants.length > 0 &&
      isLocalRepositoryConnected
    "
    class="alert alert-info"
  >
    <i class="fas fa-exclamation-circle"></i> &nbsp; Es befinden sich noch keine
    Daten in deinem lokalen Freiwilligenpass!
  </p>
</div>


<div class="vennParent" id="container"></div>
