@import "src/@fuse/scss/fuse";
@import "~@angular/material/theming";
@import "common";
@include mat-core();
$custom-typography: mat-typography-config(
  $font-family: "Muli",
);
@include mat-core($custom-typography);

.dashboard-main {
  flex: 4;
}

.dashboard-org {
  flex: 1;
}

.org-icon-container {
  position: relative;
  width: 100px;
  height: 100px;
  padding-top: 5px;
  margin: 10px;
  border-radius: 50%;
}

.org-icon {
  border: 1px solid;
  border-radius: 10px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.localRepoTable {
  mat-row.is-white {
    background: white;
  }
  mat-row.is-white {
    background: #afcbe6;
  }

  mat-header-cell {
    font-size: 20px;
  }
  mat-cell {
    font-size: 16px;
  }
}

.mat-column-issuer {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-taskName {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-action .mat-column-share {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.alignRight {
  text-align: right;
}

.table {
  margin-top: 25px;
  width: 300px;
}

.button1 {
  width: 100px;
}

.syncButton {
  width: 250px;
}

.vennParent {
  width: 300px;
}

.optionHeader {
  height: 200px;
}

.invisible {
  display: none;
}

.bar {
  background-image: repeating-linear-gradient(
    45deg,
    white 0%,
    white 2%,
    cyan 2%,
    cyan 4%,
    white 4%
  );
}

.center-spinner-wrapper {
  margin-top: 20px;
  align-items: center;
}
