<div class="overlay-content m-8">


    content for Overlay



    <div style="outline-color: grey; outline-style: solid; outline-width: 1px">
        <div fxLayout="row" fxLayoutAlign="start center" class="m-4">
            <mat-icon>information</mat-icon>
            <div class="pl-8"></div>
            <div style="padding-top:4px">class Name</div>
        </div>
    </div>

    <div class="m-4">
        <div style="font-size: 10px; color: gray">Icon</div>

        <div fxLayout="row" fxLayoutAlign="start end">
            <div
                style="width: 65px; height: 65px; background: rgb(240, 240, 240); outline-color: grey; outline-style: solid; outline-width: 1px">
                <img *ngIf="inputData.classDefinition.imagePath" [src]="inputData.classDefinition.imagePath" width="60"
                    height="60" (click)=undefined style="cursor: default" matTooltip="icon">
            </div>
            <a style="cursor: pointer; line-height: 0.7;" class="pl-4"
                (click)="changeIconClicked(selectionIndex)">ändern</a>
        </div>

        <div class="pt-12"></div>
        <div style="font-size: 10px; color: gray">Bezeichnung</div>
        <div>class name</div>

        <div class="pt-12"></div>
        <div style="font-size: 10px; color: gray">Instanzierung</div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div></div>
            <button class="preview-button" mat-stroked-button color="accent"
                (click)="previewClicked(selectionIndex)">Vorschau Anzeigen</button>
            <div></div>
        </div>
        <div class="pb-4"></div>
    </div>








    <!-- <div class="pb-4" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="start start" style="width: 185px">
            <mat-label>Operator</mat-label>

            <button mat-stroked-button [matMenuTriggerFor]="menu" style="width: 165px">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div></div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <div>
                            <img width="40" height="40"
                                [src]="getImagePathForMatchingOperatorType(matchingOperatorType)">
                        </div>

                        <div class="pl-4">
                            {{getLabelForMatchingOperatorType(matchingOperatorType)}}
                        </div>
                    </div>
                    <div></div>
                </div>
            </button>
            <mat-menu #menu="matMenu" class="custom">
                <button *ngFor="let p of matchingOperatorPalettes" mat-button fxLayout="column"
                    fxLayoutAlign="space-between center" [matTooltip]="p.label" (click)="matchingOperatorChanged(p)">
                    <div></div>
                    <div style="width: 40px; height: 40px"><img width="40" height="40" [src]="p.imgPath"></div>
                    <div></div>
                </button>
            </mat-menu>

        </div>

        <mat-checkbox labelPosition="after" [(ngModel)]="necessary">
            <div style="font-size: 14px">Notwendig</div>
        </mat-checkbox>
    </div>

    <mat-divider></mat-divider>

    <div class="pt-4">
        <mat-label>Unschärfe (in %)</mat-label>
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-slider min="0" max="100" step="" tickInterval="10" style="width: 100%" [ngModel]="fuzzyness"
                (input)="sliderValueChanged($event)"></mat-slider>
            <mat-form-field style="width: 55px; padding-left: 4px" appearance="outline">
                <input matInput type="number" id="fuzzyness" [(ngModel)]="fuzzyness" min=0 max=100
                    style=" text-align: right">
            </mat-form-field>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="start center">
        <mat-label>Gewichtung</mat-label>
        <mat-form-field style="width: 70px; padding-left: 4px" appearance="outline">
            <input matInput type="number" id="weighting" [(ngModel)]="weighting" style="text-align: right" min="0"
                max="9999">
        </mat-form-field>
    </div>


    <div *ngIf="!fuzzynessValid || !weightingValid" style="font-weight: 700">
        Ungültige Werte entdeckt und korrigiert.
    </div> -->


    <div style="position: absolute; bottom: 8px; right: 8px">
        <button mat-stroked-button color="accent" class="confirm-button" (click)="onSubmit()">Speichern</button>
    </div>
</div>