<div>
  <h1>Delete</h1>
  Click on the Classes or Relationships to be deleted

  <h2>Classes to be Deleted</h2>
  <div *ngFor="let c of configurableClassesToRemove">
    <div>{{c.name}}: {{c.kind}}</div>
  </div>

  <h2>Relationships to be Deleted</h2>
  <div *ngFor="let r of relationshipsToRemove">
    <!-- <div> {{r.classId1}}--{{r.classId2}}: {{r.relationshipType}}</div> -->
    <div>{{r.id}}</div>
  </div>


  <button mat-button type="submit" color="primary" (click)="onSubmit()">Confirm</button>

</div>