
.add-table {
    height: 400px;
    overflow: auto;
}
  
table {
    width: 100%;
}

.mat-header-row{
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}

mat-radio-group > mat-radio-button {
    margin-left: 8px;
}

