.add-table {
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 100;
  background: white;
}

div#graphContainer {
  z-index: 1;
  overflow: hidden;
  height: 65vh;
  width: 100%;
  background: white;
  border: black solid 2px;
  border-radius: 4px;
}
