<div mat-dialog-title>
  <table>
    <tr>
      <td>
        <mat-icon>create</mat-icon>
      </td>
      <td>
        <h1>Konfigurationen wählen</h1>
      </td>
    </tr>
  </table>
</div>
<mat-dialog-content *ngIf="loaded">
  <div *ngIf="!browseMode">
    <mat-form-field style="width: 100%;" appearance="outline">
      <input matInput placeholder=" Bezeichnung" [(ngModel)]="data.label" name="label" required />
    </mat-form-field>

    <table>
      <tr width="200px">
        <td width="200px">
          <h2>Werkunternehmen</h2>
        </td>
        <td style="padding-left: 50px;"></td>
        <td>
          <h2>Werkbesteller</h2>
        </td>
      </tr>

      <tr>
        <td>
          <table cellspacing="1" cellpadding="0" style="border-color: none;">
            <tr *ngFor="let c of recentClassConfigurations" class="entry" (click)="producerItemSelected($event, c)">
              <td style="padding-left: 50px; padding-right: 50px;">
                {{ c.name }}
              </td>
            </tr>
          </table>
        </td>

        <td style="padding-left: 50px;"></td>

        <td width="200px">
          <table cellspacing="1" cellpadding="0" style="border-color: none;">
            <tr *ngFor="let c of recentClassConfigurations" class="entry" (click)="consumerItemSelected($event, c)">
              <td style="padding-left: 50px; padding-right: 50px;">
                {{ c.name }}
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr>
        <td width="200px" *ngIf="data.producerClassConfiguration">
          Gewählt:
          <table cellspacing="1" cellpadding="0" style="border-color: none;">
            <tr class="selected">
              <td style="padding-left: 50px; padding-right: 50px;" (click)="handleBrowseClick('PRODUCER')"
                matTooltip="Durchsuchen">
                {{ data.producerClassConfiguration.name }}
              </td>
            </tr>
          </table>
        </td>
        <td width="200px" *ngIf="!data.producerClassConfiguration">
          <table cellspacing="1" cellpadding="0" style="border-color: none;">
            <tr class="findbutton">
              <td style="padding-left: 50px; padding-right: 50px;" (click)="handleBrowseClick('PRODUCER')">
                Durchsuchen
              </td>
            </tr>
          </table>
        </td>

        <td style="padding-left: 50px;"></td>
        <td *ngIf="data.consumerClassConfiguration" width="200px">
          Gewählt
          <table cellspacing="1" cellpadding="0" style="border-color: none;">
            <tr class="selected">
              <td style="padding-left: 50px; padding-right: 50px;" (click)="handleBrowseClick('CONSUMER')"
                matTooltip="Durchsuchen">
                {{ data.consumerClassConfiguration.name }}
              </td>
            </tr>
          </table>
        </td>
        <td *ngIf="!data.consumerClassConfiguration" width="200px">
          <table cellspacing="1" cellpadding="0" style="border-color: none;">
            <tr class="findbutton">
              <td style="padding-left: 50px; padding-right: 50px;" (click)="handleBrowseClick('CONSUMER')">
                Durchsuchen
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr></tr>
    </table>

    <div *ngIf="showErrors" style="color: red;">
      <div *ngIf="!data.producerClassConfiguration">
        Konfiguration für das Werkunternehmen wählen
      </div>
      <div *ngIf="!data.consumerClassConfiguration">
        Konfiguration für den Werkbesteller wählen
      </div>
      <div *ngIf="
          data.consumerClassConfiguration === data.producerClassConfiguration
        ">
        Zwei verschiedene Konfigurationen wählen
      </div>
      <div *ngIf="showDuplicateError">
        Matching existiert bereits für gewählte Konfigurationen
      </div>
    </div>
  </div>

  <div *ngIf="browseMode">
    <browse-class-sub-dialog [data]="browseDialogData" [browseMode]="browseMode"
      (subDialogReturn)="handleReturnFromBrowse($event)">
    </browse-class-sub-dialog>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="primary-button-dark" mat-stroked-button type="button" [disabled]="browseMode" (click)="onOKClick()">
    OK
  </button>
  <button class="secondary-button-dark" mat-stroked-button type="button"
    [mat-dialog-close]="undefined">Abbrechen</button>

  <button *ngIf="browseMode" class="secondary-button-light" mat-stroked-button type="button"
    (click)="handleBrowseBackClick()">
    Zurück
  </button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
</mat-dialog-actions>