@import "src/@fuse/scss/fuse";


div#menubarContainer {

  border: solid 2px black;
  border-right: none;

    div.menuitem:hover {
      color: rgb(62, 125, 219);
      background-color: white;
      // border: solid 2px black;
      // border-bottom: none;
    }

    div.menuitem {
      cursor: pointer;
      // padding-top: 5px;
      // padding-bottom: 5px;
      // padding-right: 8px;
      // padding-left: 8px;
      // height: 100%;

      border: solid 2px white;
      border-radius: 4px;
      width: 26px; 
      height: 26px;

      .menuitem-icon {
        font-size: 22px
      }

      // border-right: solid 2px black;
      // border: solid 2px white;
      // border-bottom: none;
    }
  
  
}

div#submenuContainer {
  z-index: 240;
  border: solid 2px black;

  div.menuitem:hover {
    background-color: rgb(62, 125, 219);
    color: white;
    border-top: solid 2px black;
    border-bottom: solid 2px black;

  }

  div.menuitem {
    cursor: pointer;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
  }
}
