<div fxLayout="row" fxLayoutAlign="start start" #menubarContainer id="menubarContainer">

  <div class="titlebar" fxLayout="row" fxLayoutAlign="space-between center">
    <div *ngFor="let item of rootMenuItems" class="pl-4">
      <div class="menuitem" (click)="openSubmenu($event, item.id)">
        <mat-icon class="menuitem-icon">{{item.icon}}</mat-icon>
      </div>
    </div>
    <h2 class="title-bar-text">{{configurationName}}</h2>
    <div></div>
  </div>
</div>

<div #submenuContainer id="submenuContainer">

  <div *ngFor="let item of subMenuItems">
    <div class="menuitem" *ngIf="currentRootId == item.rootId" (click)="this[item.clickAction]($event, item)">
      {{item.label}}</div>
  </div>
</div>