
@import "src/@fuse/scss/fuse";
@import '~@angular/material/theming';


.page-layout {

    
    .header {
        position: relative;
        flex: 1 0 auto;
        height: 90px;
        max-height: 90px;
        background: #1A237E;
        background: linear-gradient(to right, #0E2A3B 0%, #34306B 100%);
        text-align: center;

        @include media-breakpoint("xs") {
            height: 240px;
            padding: 16px;
        }

        h1 {
            color: white;
            font-size: 50px;
            font-weight: 300;
            letter-spacing: 0.01em;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0px;

            @include media-breakpoint-down("xs") {
                font-siaccentze: 24px;
            }
        }
    }

    .mat-column-actions {
        flex: 0 0 55px;
    }

    .mat-column-image {
        flex: 0 0 100px;
    }

    .mat-column-name {
        font-size: 20px;
    }

    .nameInput{
        padding-top: 30px;
        width: 300px;
    }

    .header-ff {
      position: relative;
      display: flex;
      flex-direction: row;
      height: 90px;
      max-height: 90px;
      color: white;
      // background: #cc0000;
      background: linear-gradient(to right, #b20000 0%, #cc0000 100%);
      text-align: center;
      @include media-breakpoint('xs') {
        height: 240px;
        padding: 16px;
      }
      h1 {
        color: white;
        font-size: 50px;
        font-weight: 300;
        flex: 1;
        letter-spacing: 0.01em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0px;
        @include media-breakpoint-down('xs') {
          font-size: 24px;
        }
      }
      .header-icon {
        left: 10px;
        padding: 16px;
        flex: 1;
        max-width: 110px;
        // max-width: 50px;
        // position: absolute;
        // filter: brightness(0) invert(1);
        @include media-breakpoint-down('xs') {
          display: none;
        }
      }
    }
    .header-mv {
      position: relative;
      display: flex;
      flex-direction: row;
      height: 90px;
      max-height: 90px;
      color: white;
      // background: #cc0000;
      background: linear-gradient(to right, #005900 0%, #006600 100%);
      text-align: center;
      @include media-breakpoint('xs') {
        height: 240px;
        padding: 16px;
      }
      h1 {
        color: white;
        font-size: 50px;
        font-weight: 300;
        flex: 1;
        letter-spacing: 0.01em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0px;
        @include media-breakpoint-down('xs') {
          font-size: 24px;
        }
      }
      .header-icon {
        left: 10px;
        padding: 16px;
        flex: 1;
        max-width: 110px;
        // max-width: 50px;
        // position: absolute;
        // filter: brightness(0) invert(1);
        @include media-breakpoint-down('xs') {
          display: none;
        }
      }
      .mat-column-details {
        padding-right: 0;
        flex: 0 0 20px;
      }
      .mat-column-issuer {
        padding-left: 5px;
        flex: 0 0 50px;
      }
    }
}

.iconButton:hover{
    cursor: pointer;
}

.fakeImg{
  margin-left: 37px;
  border-radius: 50%;
  height: 100px;
}