// @import "src/@fuse/scss/fuse";
// @import '~@angular/material/theming';
.page-layout {
  .mat-column-actions {
    flex: 0 0 55px;
  }
  .mat-column-image {
    flex: 0 0 100px;
  }
  .mat-column-name {
    font-size: 20px;
  }
  .nameInput {
    padding-top: 30px;
    width: 300px;
  }
}

.iconButton:hover {
  cursor: pointer;
}

.fakeImg {
  margin-left: 37px;
  border-radius: 50%;
  height: 100px;
}