:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100%;

  > .header {
    flex: 0 1 auto;
    height: 160px;
    min-height: 160px;
    max-height: 160px;
  }

  > .content {
    flex: 1;
  }
}
