div.layout1 {
  h5 {
    position: relative;
    top: 3px;
    margin-left: 10px
  }
}

div.layout2 {

  mat-icon {
    color: #000000;
    margin: 0 8px 0 0;
    position: relative;
    top: 5px;
    left: 5px;
    padding-right: 30px;
  }

}
