@import "src/@fuse/scss/fuse";

.page-layout {

  div.layout1 {
    h5 {
      position: relative;
      top: 3px;
      margin-left: 10px
    }

    mat-icon {
      color: #000000;
      margin: 0 8px 0 0;
      position: relative;
      top: 5px;
      left: 5px;
      padding-right: 30px;
    }

  }
  .suggestion {
    font-size: 18px;
  }

  .suggester {
    margin-left: 10px;
    color: grey;
  }

  .suggester2 {
    margin-left: 3px;
  }

  .actions {
    margin-left: auto;

  }
}
