<form class="task-form" (submit)="save()" [formGroup]="taskForm">

  <h3>Create Task</h3>

  <mat-form-field class="full-width">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Task type" formControlName="type">
      <mat-option *ngFor="let taskType of taskTypes" [value]="taskType">
        {{ taskType.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" formControlName="endDate">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>


  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
