<h3>Create Task</h3>

<mat-form-field class="full-width">
  <mat-select placeholder="Task Template" (change)="onTemplateChange($event)">
    <mat-option *ngFor="let taskTemplate of taskTemplates" [value]="taskTemplate">
      {{ taskTemplate.label }}
    </mat-option>
  </mat-select>
</mat-form-field>
<mat-divider></mat-divider>


<form class="task-form" (submit)="save()" [formGroup]="taskForm">

  <mat-form-field class="full-width">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description"
              formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Workflow Type" formControlName="workflowType" [disabled]="isEditMode()">
      <mat-option *ngFor="let workflowType of workflowTypes" [value]="workflowType">{{workflowType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" formControlName="startDate">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" formControlName="endDate">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Required Competences" formControlName="requiredCompetences" multiple>
      <mat-option *ngFor="let competence of competences" [value]="competence">{{competence.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Acquirable Competences" formControlName="acquirableCompetences" multiple>
      <mat-option *ngFor="let competence of competences" [value]="competence">{{competence.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="error-message full-width" *ngIf="taskForm.getError('duplactedCompetence')">
    <div class="error-text">Required and acquirable competences can't contain the same competence!</div>
  </div>

  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
