<!-- TODO -->
<!-- 
        <mat-selection-list #selectionList>
          <div class="mat-list-item" disabled>{{formItem.label}}</div>


          <div style="margin-left: 25px; margin-right: 25px; background-color: aliceblue">
            <div *ngFor="let opt of formItems.options">
              <mat-list-option *ngIf="opt.selectable">
                <div [ngStyle]="{'margin-left': calculateSpaces(opt.level)}">{{opt.value}}</div>
              </mat-list-option>
              <mat-list-item *ngIf="!opt.selectable" style="background-color: aqua">
                <div [ngStyle]="{'margin-left': calculateSpaces(opt.level)}">{{opt.value}}</div>
              </mat-list-item>
            </div>
          </div>
        </mat-selection-list> -->