<div class="page-layout blank right-sidenav p-24" fusePerfectScrollbar>

  <h1>Add new Property class</h1>
  
  <input matInput placeholder="Class Name"/>


  <div style="padding-top: 20px"></div>

  <h2>Add Object</h2>

  <button mat-raised-button [matMenuTriggerFor]="addMenu">Add Object</button>

  <mat-menu #addMenu="matMenu">
    <button mat-menu-item (click)="addProperty()">
      <mat-icon>add</mat-icon>
      <span>Property</span>
    </button>
    <button mat-menu-item (click)="addRelationship()">
      <mat-icon>add</mat-icon>
      <span>Relationship</span>
    </button>
    <button mat-menu-item (click)="addMatchingRule()">
      <mat-icon>add</mat-icon>
      <span>Matching Rule</span>
    </button>

  </mat-menu>



</div>