<div class="page-layout blank p-24" fusePerfectScrollbar>
    
  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <h1> PROPERTY LIST </h1>
  </div>





  <div class="table">
    <mat-table #table [dataSource]="dataSource" *ngIf="dataSource.data.length != 0">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
            <mat-cell *matCellDef="let property">{{property.id}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let property">{{property.name}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="value">
            <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
            <mat-cell *matCellDef="let property">{{property.value}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="kind">
            <mat-header-cell *matHeaderCellDef>Property Kind</mat-header-cell>
            <mat-cell *matCellDef="let property">{{property.kind}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowSelect(row)"></mat-row>
    </mat-table>
  </div>

  <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="end end">
    <button mat-fab class="mat-warn" (click)="newProperty()" aria-label="New Property" *fuseIfOnDom
      [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
      <mat-icon>add</mat-icon>
    </button>
</div>
</div>