@import "src/@fuse/scss/fuse";

.projects {

  .mat-expansion-panel-header-title {
    .progress-bar {
      width: 50%;
      margin: auto;
      margin-right: 0;
      padding-right: 15px;
      display: inherit;

      span {
        padding: 5px;
        font-size: 20px;
        line-height: 20px;
      }

      .mat-progress-bar {
        margin-top: auto;
        margin-bottom: auto;
      }

      @include media-breakpoint-down('xs') {
        display: none;
      }
    }
  }
  .mat-expansion-panel-content {

    .sidenav {
      width: 380px !important;
      min-width: 380px !important;
      max-width: 380px !important;

      &.right-sidenav {
        @include media-breakpoint('gt-md') {
          z-index: 0;
        }
      }
    }

    > .mat-drawer-content,
    > .mat-sidenav-content {
      z-index: 1;

      .center {

        .header {
          position: relative;
          height: 160px;
          min-height: 160px;
          max-height: 160px;

          @include media-breakpoint-down('sm') {
            height: 120px;
            min-height: 120px;
            max-height: 120px;
          }
        }

      }
    }
  }
}

.marketplaces {
  margin: 0 auto;

  .marketplace {
    width: 100%;
    padding: 16px;

    &:hover {
      .marketplace-content {
        @include mat-elevation(8);
      }
    }

    .marketplace-content {
      background: white;
      min-height: 240px;
      transition: box-shadow 150ms ease-in-out;

      @include mat-elevation(1);

      .header {
        color: blue;
        background: mat-color($mat-blue, 500);
        // background: #ffefb4;
        padding: 16px 24px;
        height: 64px !important;
        min-height: 64px !important;
        max-height: 64px !important;

        .category {
          text-transform: capitalize;
          text-align: left;
          font-weight: 500;
          color: rgba(0, 0, 0, 0.54);
        }

        .length {

          .length-icon {
            margin-right: 8px;
            color: rgba(0, 0, 0, 0.54) !important;
          }

          .min {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.54);
          }
        }
      }

      .content {
        padding: 24px;

        .h1 {
          font-size: 16px;
          text-align: center;
        }

        .updated {
          font-size: 13px;
          font-weight: 500;
          margin-top: 4px;
          color: rgba(0, 0, 0, 0.37);
        }
      }

      .footer {
        padding: 16px;
        height: 48px !important;
        min-height: 48px !important;
        max-height: 48px !important;
        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
      }
    }
  }
}



