<div>

  <div *ngIf="!showEditor">
    <form [formGroup]="form" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field style="width: 500px">
        <input matInput formControlName="name" placeholder="Enum-Bezeichnung *" />
      </mat-form-field>

      <div class="ml-8">
        <button mat-raised-button (click)="createClicked()">Erstellen</button>
      </div>
    </form>
  </div>


  <app-enum-graph-editor *ngIf="showEditor" [marketplace]="marketplace" [helpseeker]="helpseeker"
    [enumName]="form.controls['name'].value">
  </app-enum-graph-editor>

  <div class="pt-24" style="display: block; position: relative;; bottom: 0px; left: 0px; right: 0px;">
    <div fxLayout="row" fxLayoutAlign="start end">
      <button type="submit" mat-raised-button color="primary" (click)="handleSaveClick()">Speichern</button>
      <div class="pl-8"></div>
      <button type="button" (click)="handleCancelClick()" mat-raised-button color="basic">Abbrechen</button>
    </div>
  </div>
</div>