@import "src/@fuse/scss/fuse";

.third {
  width: 30%;
  text-align: center;
}

.cardsParent {
  height: 130px;
}

.treeParent1 {
  height: 200px;
  width: 600px;
}

.treeParent2 {
  height: 200px;
  width: 600px;
}

// .donut-parent-number {
//   height: 200px;
//   width: 860px;
// }
.donut-parent-duration {
  height: 200px;
  width: 860px;
  margin-bottom: 10px;
}

.engagement {
  padding-left: 30px;
  align-self: flex-start;
  // width: 100%;
  text-align: left;
  font-size: 35px;
}

.img {
  height: 130px;
  width: auto;
  display: block;
  //margin-left: auto;
  //margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner {
  margin-top: 20px;
  font-family: roboto;
  font-size: 20px;
  // margin-left: 5px;
  // margin-right: auto;
}

.matFormField {
  margin-left: 50px;
  width: 100px;
}

.chartParrent {
  height: 500px;
  width: 100%;
}

.shareMenu {
  margin-right: 10px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  margin-bottom: 0px;
}

.total {
  margin-left: 20px;
}

td {
  text-align: left;
  font-size: 15px;
}

.table {
  margin-top: 20px;
}

ngx-charts-advanced-pie-chart {
  .total-value {
    font-size: 10px;
  }
  .item-value {
    font-size: 10px;
  }
}