@import "../dialog-styles.scss";

.mat-dialog-title {
  margin: 0;

  h1 {
    padding: 0 0 6px 0;
    margin: 0;
    
  }
}

mat-dialog-content {
  height: calc(100% - 52px - 20px );
  overflow: hidden;
  
  .browse-dialog-content .browse-table {
    overflow-y: hidden;
  }
}

  .browse-button {
    width: 200px; 
    background: rgb(230, 228, 228); 
    margin: 0 auto;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    border-radius: 2px;

    .browse-button-text {
      text-align: center;
    }
  }

  .browse-button:hover {
    background-color: rgb(62, 125, 219);
    color: white;
  }
  
