<!-- SIDENAV CONTENT -->
<div class="content p-12" fusePerfectScrollbar>

  <div class="pb-16" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="h3">Project Member</div>
  </div>

  <table class="simple clickable">
    <thead>
    <tr>
      <th></th>
      <th class="text-right">Hours</th>
      <th class="text-right">Resources</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let friend of friends">
      <td><img [src]="friend.avatar" title="{{friend.name}}"></td>
      <td class="text-right">{{friend.hours}}</td>
      <td class="text-right">{{friend.resources}}</td>
    </tr>
    </tbody>
  </table>

</div>
<!-- / SIDENAV CONTENT -->
