<div mat-dialog-title>
  <table>
    <tr>
      <td>
        <mat-icon>add</mat-icon>
      </td>
      <td>
        <h1>Neues Property erstellen</h1>
      </td>
    </tr>
  </table>
</div>

<mat-dialog-content *ngIf="loaded">
  <app-single-property-builder
    [marketplace]="data.marketplace"
    [helpseeker]="data.helpseeker"
    [allPropertyDefinitions]="data.allPropertyDefinitions"
    (result)="handleResultEvent($event)"
  >
  </app-single-property-builder>
</mat-dialog-content>

<!-- <mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" (click)="handleCloseClick()">
        Close
    </button>
</mat-dialog-actions> -->
