<div *ngIf="loaded">
  <!-- <div> -->
  <form [formGroup]="form">
    <mat-form-field *ngIf="!showEditor" style="width: 500px;">
      <input matInput formControlName="name" placeholder="Enum-Bezeichnung *" />
    </mat-form-field>

    <mat-form-field class="mt-8" style="width: 100%;" appearance="outline">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput name="description" formControlName="description" matTextareaAutosize matAutosizeMinRows="3"
        matAutosizeMaxRows="3"></textarea>
    </mat-form-field>

    <!-- <mat-slide-toggle [(ngModel)]="multipleToggled" [ngModelOptions]="{standalone: true}" labelPosition="after">
      Mehrfachauswahl möglich
    </mat-slide-toggle> -->

    <div class="mt-8">
      <button *ngIf="!showEditor" class="primary-button-dark" mat-stroked-button type="button"
        (click)="handleCreateClick()">
        Erstellen
      </button>
      <button *ngIf="!showEditor" class="secondary-button-dark ml-8" mat-stroked-button type="button"
        (click)="handleCancelClick()">
        Abbrechen
      </button>
    </div>
  </form>

  <app-tree-property-graph-editor *ngIf="showEditor" [marketplace]="marketplace" [tenantAdmin]="tenantAdmin"
    [enumDefinition]="enumDefinition" (result)="handleResult($event)" (management)="handleManagementEvent($event)">
  </app-tree-property-graph-editor>
</div>