<div class="dashlet-container">
  <div class="dashlet-shadow">
    <div class="dashlet">
      <div class="header">
        <span class="header-title">{{dashlet.name}}</span>

        <button mat-button class="header-settings-button" *ngIf="inEditMode && dashlet.settings"
                [matMenuTriggerFor]="settingsMenu">
          <mat-icon>settings</mat-icon>
        </button>

        <mat-menu #settingsMenu="matMenu" [overlapTrigger]="false">

          <ng-container *ngIf="dashlet.settings && dashlet.settings.status">
            <button mat-menu-item (click)="updateStatus('AVAILABLE')">
              <span>Show available tasks</span>
            </button>
            <button mat-menu-item (click)="updateStatus('ENGAGED')">
              <span>Show engaged tasks</span>
            </button>
            <button mat-menu-item (click)="updateStatus('FINISHED')">
              <span>Show finished tasks</span>
            </button>
          </ng-container>

          <button mat-menu-item (click)="remove()">
            <span>Delete</span>
          </button>

        </mat-menu>
      </div>
      <div class="dashlet-content" fusePerfectScrollbar>
        <ndc-dynamic [ndcDynamicComponent]="findDashletComponent()"
                     [ndcDynamicInputs]="dashlet.settings"></ndc-dynamic>
      </div>
    </div>
  </div>
</div>
