<div class="page-layout blank p-24" fusePerfectScrollbar>

    <!-- HEADER -->
    <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
        <h1>What's Up</h1>
        <img class="header-icon" src="assets/icons/dashboard.svg">
    </div>
    <!-- / HEADER -->

    <div *ngIf="role == 'VOLUNTEER'">
        <fuse-dashboard-volunteer></fuse-dashboard-volunteer>
    </div>

    <div *ngIf="role == 'HELP_SEEKER'">
        <fuse-dashboard-helpseeker></fuse-dashboard-helpseeker>
    </div>
</div>