.org-card {
  width: 300px !important;
  max-width: 300px;
  margin: 10px;
}

.org-card-img {
  max-height: 150px;
  margin: auto;
  padding: 10px 0;
}

.org-name {
  text-align: center;
  font-size: 16px !important;
}

.subscribeBtn {
  margin-top: 5px;
  display: block;
  width: 212px;
}
