
<div fxLayout="row" fxLayoutAlign="start start" #menubarContainer id="menubarContainer">
  <div *ngFor="let item of rootMenuItems">
    <div style="padding-right: 5px; padding-left: 5px"> </div>
    <div class="menuitem" (click)="openSubmenu($event, item.id)">{{item.label}}</div>
  </div>
</div>

<div #submenuContainer id="submenuContainer">

  <div *ngFor="let item of subMenuItems">
      <div class="menuitem" *ngIf="currentRootId == item.rootId" (click)="this[item.clickAction]($event, item)">{{item.label}}</div>
  </div>
 
  <!-- <div class="menuitem" (click)=undefined>Open Configurator</div>
  <div class="menuitem" (click)="menuSaveClicked()">Save Configurator</div>
  <div class="menuitem" (click)=undefined>New Editor</div> -->
</div>
