@import "src/@fuse/scss/fuse";


div#menubarContainer {
    div.menuitem:hover {
      background-color: rgb(62, 125, 219);
      color: white;
    }

    div.menuitem {
      cursor: pointer;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 10px;
      padding-left: 10px;
    }
  
  
}

div#submenuContainer {
  z-index: 240;
  div.menuitem:hover {
    background-color: rgb(62, 125, 219);
    color: white;
  }

  div.menuitem {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
}
