<div class="page-layout blank p-24" fusePerfectScrollbar>
  <!-- <div class="header p-16 p-sm-24" fxLayout="row" fxLayoutAlign="center center">
    <h1 class="l-heading">Einträge erfassen</h1>
    <img
      *ngIf="tenant"
      class="header-logo"
      [src]="tenantService.getTenantProfileImage(tenant)"
    />
  </div> -->

  <customizable-header headerText="Einträge erfassen"></customizable-header>

  <div *ngIf="dataSource.data.length > 0">
    <p class="mt-24 fs-25">
      Wähle eine vorgegebene Definition einer Tätigkeit aus.
    </p>

    <div class="table">
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let task">{{ task.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="configuration">
          <mat-header-cell *matHeaderCellDef>Konfiguration</mat-header-cell>
          <mat-cell *matCellDef="let task">{{ task.configurationName }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowSelect(row)"></mat-row>
      </mat-table>
    </div>
  </div>
  <p *ngIf="dataSource.data.length == 0 && userRole=='TENANT_ADMIN'" class="alert alert-warn">
    <i class="fas fa-exclamation-circle"></i> &nbsp; Keine verfügbaren Konfigurationen - Erstellen Sie zunächst eine
    <a href="/main/class-configurator">Konfiguration</a> .
  </p>
  <p *ngIf="dataSource.data.length == 0 && userRole=='HELP_SEEKER'" class="alert alert-warn">
    <i class="fas fa-exclamation-circle"></i> &nbsp; Keine verfügbaren Konfigurationen - Wenden Sie sich an ihren
    Administrator.
  </p>
</div>