@import "src/@fuse/scss/fuse";


div#menubarContainer {

  border: solid 2px black;
  border-right: none;

  div.titlebar {
    background: rgb(62, 125, 219); 
    width: 100%; 
    height: 100%; 
    padding-top: 5px; 
    padding-bottom: 5px; 
    color: white;
  

    div.menuitem:hover {
      color: rgb(62, 125, 219);
      background-color: white;
    }

    div.menuitem {
      cursor: pointer;
      border: solid 2px white;
      border-radius: 4px;
      width: 26px; 
      height: 26px;

      .menuitem-icon {
        font-size: 22px
      }
    }

    .title-bar-text-container {
      margin: 0 25px;
      cursor: pointer;

      .title-bar-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        display: inline-block;
      }
      
      .title-bar-text-icon {
        display: none; 
      }
    }

    .title-bar-text-container:hover {
      .title-bar-text {
        text-decoration: underline;
      }
      .title-bar-text-icon {
        display: block;
      }
    }
  }
}

div#submenuContainer {
  z-index: 250;
  border: solid 2px black;

  div.menuitem:hover {
    background-color: rgb(62, 125, 219);
    color: white;
  }

  div.menuitem {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
}
