<div class="profile-box my-tasks" fxLayout="column">

  <div class="content" fxLayout="row wrap">
    <div class="tasks">
      <div class="task" fxLayout="row" fxLayoutAlign="start start" *ngFor="let task of timeline.tasks">
        <div fxLayout="column">
          <div>
            <span class="time">{{task.startDate | date: 'dd.MM.yyyy'}}</span>
            <span class="name">{{task.name}}</span>
            <span class="marketplace"> {{getMarketplaceName(task)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
