@import "src/@fuse/scss/fuse";

.my-tasks {

  .content {
    background-color: #FFF;

    .tasks {

      .task {
        padding: 16px 0;

        .time {
          font-weight: 100;
          margin-right: 10px;
        }

        .name {
          font-weight: 500;
          margin-right: 10px;
          color: mat-color($accent);
        }

        .marketplace {
          font-weight: 500;
          margin-right: 10px;
        }
      }
    }
  }
}
