<div
  class="page-layout blank p-24"
  fusePerfectScrollbar
  style="overflow: scroll;"
>
  <div style="padding-top: 12px;"></div>

  <div
    class="header mat-accent-bg p-16 p-sm-24"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <h1>Organisationen</h1>
  </div>
  <!-- 
  <div
    fxLayout="row"
    fxLayoutAlign="center stretch"
    style="overflow: hidden;"
    class="p-20"
  >
    <div *ngFor="let t of tenants" class="mat-card org-card p-10 m-30">
      <img
        mat-card-image
        [src]="getTenantImage(t)"
        class="org-card-img"
        style="object-fit: contain; max-width: 100%; max-height: 100%;"
      />
      <div class="mat-card-header"></div>
      <div class="mat-card-content">
        <strong>{{ t.name | truncate: [15] }}</strong>
      </div>
    </div>
  </div> -->

  <div fxLayout="row" fxLayoutAlign="space-around stretch">
    <mat-card *ngFor="let t of tenants" class="org-card p-10">
      <div style="height: 160px;">
        <img
          mat-card-image
          [src]="getTenantImage(t)"
          class="org-card-img"
          style="object-fit: contain; max-width: 100%; max-height: 100%;"
        />
      </div>
      <div class="mat-card-content">
        <p class="org-name">
          <strong>{{ t.name | truncate: [20] }}</strong>
        </p>
      </div>
      <div *ngIf="isSubscribed(t)">
        <button
          class="subscribeBtn"
          mat-raised-button
          color="warn"
          (click)="unsubscribe(t)"
        >
          Unsubscribe
        </button>
      </div>
      <div *ngIf="!isSubscribed(t)">
        <button
          class="subscribeBtn"
          mat-raised-button
          color="primary"
          (click)="subscribe(t)"
        >
          Subscribe
        </button>
      </div>
    </mat-card>
  </div>
  <!-- <mat-card>
    <mat-card-header>
      asdfasdf
    </mat-card-header>
    asdf
  </mat-card>
 -->
  <!-- todo selection -->
  <div style="padding-top: 40px;"></div>
</div>
