<div class="browse-dialog-content">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <h2>Durchsuchen</h2>

  </div>

  <table class="browse-table" cellspacing=0 cellpadding=3 fusePerfectScrollbar>
    <col width="250px" />
    <col width="100px" />
    <col width="100px" />

    <tr style="background-color: rgb(62, 125, 219); color: white;">

      <th style="text-align: start" class="table-header-cell">Name</th>
      <th style="text-align: start" class="table-header-cell">Linke Seite</th>
      <th style="text-align: start" class="table-header-cell">Rechte Seite</th>

      <!-- <th class="table-header-cell">
          <div class="table-header-label" (click)="sortClicked('name')" fxLayout="row" fxLayoutAlign="start center">
            <div *ngIf="currentSortKey=='name' && currentSortType=='za'">&#9652;</div>
            <div *ngIf="currentSortKey=='name' && currentSortType=='az'">&#9662;</div>
            <div>&nbsp;Name</div>
          </div>
        </th>
        <th class="table-header-cell">
          <div class="table-header-label" (click)="sortClicked('date')" fxLayout="row" fxLayoutAlign="start center">
            <div *ngIf="currentSortKey=='date' && currentSortType=='za'">&#9652;</div>
            <div *ngIf="currentSortKey=='date' && currentSortType=='az'">&#9662;</div>
            <div>&nbsp;Geändert</div>
          </div>
        </th> -->

    </tr>
    <tr *ngFor="let entry of data.entries" class="table-row" (click)="handleRowClick(entry)">
      <td style="overflow: hidden">{{entry.name}}</td>
      <td style="overflow: hidden">{{entry.leftMatchingEntity}}</td>
      <td style="overflow: hidden">{{entry.rightMatchingEntity}}</td>
    </tr>
  </table>

  <!-- <mat-form-field appearance="outline" class="search-field">
      <input matInput (keyup)="applyFilter($event)" placeholder="Suchen..." />
    </mat-form-field> -->


</div>




<!-- <div class="browse-dialog-content pt-8">

  <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-12">
    <h2>Durchsuchen</h2>
    <div></div>
    <div matTooltip="Zurück" (click)="handleBackClick()" class="back-button">
      <mat-icon>keyboard_return</mat-icon>
    </div>
  </div>

  <table class="browse-table" cellspacing=0 cellpadding=3>
    <col width="250px" />
    <col width="100px" />
    <col width="100px" />

    <tr style="background-color: rgb(62, 125, 219); color: white;">
      <th style="text-align: start" class="table-header-cell">Name</th>
      <th style="text-align: start" class="table-header-cell">Unternehmen</th>
      <th style="text-align: start" class="table-header-cell">Besteller</th>

    </tr>
    <tr *ngFor="let entry of data.entries" class="table-row" (click)="handleRowClick(entry)">
      <td style="overflow: hidden">{{entry.name}}</td>
      <td style="overflow: hidden">{{entry.leftMatchingEntity}}</td>
      <td style="overflow: hidden">{{entry.rightMatchingEntity}}</td>
    </tr>
  </table>

</div> -->