<div class="page-layout blank p-24" fusePerfectScrollbar>

  <div class="layout2" fxLayout="row wrap" fxLayoutAlign="left">

    <!-- Friends -->
    <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                 fxFlex="100" fxFlex.gt-sm="33">

      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

        <div class="px-16 py-8 border-bottom" fxLayout="row"
             fxLayoutAlign="space-between center">
          <div class="h1">Top Follower</div>
          <span>past Week</span>
        </div>

        <table class="simple clickable">
          <thead>
          <tr>
            <th></th>
            <th></th>
            <th class="text-right"># Tasks</th>
            <th class="text-right">Hours</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let friend of about.friends">
            <td><img style="max-width: 100px;" [src]="friend.avatar"></td>
            <td> {{friend.name}}</td>
            <td class="text-right"> {{friend.number}}</td>
            <td class="text-right"> {{friend.hours}}</td>
          </tr>
          </tbody>
        </table>

        <mat-divider></mat-divider>

        <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="start center">
          <button mat-button color="accent">Go to Friends</button>
        </div>
      </div>

    </fuse-widget>
    <!-- Friends end -->

  </div>

</div>
