<div class="page-layout blank p-24" fusePerfectScrollbar>

  <p>
    map-property-test works!
  </p>

  <!-- <agm-map [latitude]="latMap" [longitude]="lngMap" (mapClick)="addMarker($event)">
    <agm-marker *ngFor="let marker of markers" [latitude]="marker.lat" [longitude]="marker.lng" [markerDraggable]=true
      (dragEnd)="moveMarker($event)">
      <agm-info-window>HELLO</agm-info-window>
    </agm-marker>
  </agm-map>

  LAT: {{lat}}<br>
  LONG: {{lng}} -->


  <br>


  <button mat-button (click)="testConfigurator()">Test Config</button>


  




  <h2>Dragula Test</h2>
  <div>
    <div class="wrapper" fxLayout=row>
      <div class="container" dragula="DRAGULA_FACTS">
        <div style="cursor: pointer">You can move these elements between these two containers</div>
        <div>Moving them anywhere else isn't quite possible</div>
        <div>There's also the possibility of moving elements around in the same container, changing their position</div>
      </div>
      <div class="container" dragula="DRAGULA_FACTS">
        <div>This is the default use case. You only need to specify the containers you want to use</div>
        <div>More interactive use cases lie ahead</div>
        <div>Make sure to check out the <a href="https://github.com/bevacqua/dragula#readme">documentation on
            GitHub!</a></div>
      </div>
    </div>
  </div>





</div>