
mat-dialog-title {
  margin: 0 0 0 0 !important;
}

mat-dialog-content {

  height: 250px;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

mat-grid-tile {
  background: rgb(240, 240, 240);
  cursor: pointer;
}

img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

mat-grid-tile:hover {
 background: rgb(62, 125, 219);

}

mat-grid-list {
  overflow: scroll;
}