<h1 mat-dialog-title>{{ data.label }}</h1>
<mat-dialog-content>
  {{ data.descripton }}

  <!-- <mat-form-field class="form-field" *ngFor="let v of newValues; let i = index"> -->
  <mat-form-field
    class="form-field"
    *ngFor="let f of data.fields; let i = index"
  >
    <textarea
      matInput
      placeholder="{{ f.hintText }}"
      [value]="f.value"
      [id]="i"
      [type]="string"
      matTextareaAutosize
      matAutosizeMinRows="1"
      matAutosizeMaxRows="10"
      [(ngModel)]="newValues[i]"
    ></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="undefined">Abbrechen</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button (click)="getDataFromInput()" [mat-dialog-close]="data">
    Bestätigen
  </button>
</mat-dialog-actions>
