<div mat-dialog-title>
  <table>
    <tr>
      <td>
        <mat-icon>add</mat-icon>
      </td>
      <td>
        <h1>Property / Enum hinzufügen</h1>
      </td>
    </tr>
  </table>
</div>

<mat-dialog-content>
  <div *ngIf="loaded">
    <mat-tab-group #tabGroup (selectedTabChange)="tabIndex = $event.index">
      <mat-tab label="Properties">
        <mat-table #propertyTable class="property-table" [dataSource]="propertyDatasource" matSort>
          <ng-container matColumnDef="checkbox">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? propertySelection.toggle(row) : null"
                [checked]="propertySelection.isSelected(row)" [disabled]="isPropertyRowDisabled(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="label">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let entry">
              <div fxLayout="column" fxLayoutAlign="start start">
                <div>{{ entry.name }}</div>
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Datentyp</mat-header-cell>
            <mat-cell *matCellDef="let entry">
              <div>
                {{ entry.type }}
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClick(row)"></mat-row>
        </mat-table>

        <mat-form-field appearance="outline" class="search-field">
          <input matInput (keyup)="applyFilter($event)" placeholder="Suchen..." />
        </mat-form-field>

      </mat-tab>

      <mat-tab label="Enums">
        <mat-table #enumTable class="property-table" [dataSource]="enumDataSource" matSort>
          <ng-container matColumnDef="checkbox">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? enumSelection.toggle(row) : null"
                [checked]="enumSelection.isSelected(row)" [disabled]="isEnumRowDisabled(row)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="label">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let entry">
              <div fxLayout="column" fxLayoutAlign="start start">
                <div>{{ entry.name }}</div>
              </div>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Datentyp</mat-header-cell>
            <mat-cell *matCellDef="let entry">
              <div>
                ENUM
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onEnumRowClick(row)"></mat-row>
        </mat-table>

        <mat-form-field appearance="outline" class="search-field">
          <input matInput (keyup)="applyEnumFilter($event)" placeholder="Suchen..." />
        </mat-form-field>

      </mat-tab>

    </mat-tab-group>
  </div>

  <div *ngIf="!loaded" class="center-spinner-wrapper">
    <mat-spinner></mat-spinner>
  </div>
</mat-dialog-content>

<mat-dialog-actions *ngIf="loaded">

  <button class="primary-button-dark" mat-stroked-button type="button" (click)="onSubmit()">OK</button>

  <button class="secondary-button-light" mat-stroked-button type="button"
    [mat-dialog-close]="undefined">Abbrechen</button>

  <div class="ml-16"></div>

  <button class="secondary-button-dark" *ngIf="tabIndex === 0" mat-stroked-button type="button"
    (click)="createNewClicked('property')">
    Neues Property
  </button>

  <button class="secondary-button-dark" *ngIf="tabIndex === 1" mat-stroked-button type="button"
    (click)="createNewClicked('enum')">
    Neues Enum
  </button>
</mat-dialog-actions>