.mat-dialog-title {
  margin: 0 0 6px 0;

  h1 {
    padding: 0;
    margin: 0;
  }
}

mat-dialog-content {
  height: calc(100% - 52px - 20px);
  overflow: hidden;

  h1,
  h2 {
    padding: 0;
    margin: 0;
  }

  .selection-container-title {
    width: fit-content;
    display: block;
    position: relative;
    background-color: white;
    color: grey;
    padding: 0 2px;
    left: 5px;
    z-index: 240;
  }

  .selection-container-title-error {
    color: red;
  }

  .selection-container {
    width: 200px;
    position: relative;
    top: -11px;
    border: solid grey 1px;
    border-radius: 4px;
    z-index: 230;
    padding: 4px;

    .selection-container-subtitle {
      color: grey;
      padding-top: 8px;
    }

    .configuration-no-selection {
      width: 100%;
      text-align: center;
      border: solid grey 1px;
      border-radius: 2px;
      background-color: lightgrey;
    }

    .configuration-selection {
      width: 100%;
      text-align: center;
      border: solid rgb(62, 125, 219) 1px;
      border-radius: 2px;
      background-color: rgb(62, 125, 219);
      color: white;
    }

    .recent-selection {
      width: 100%;
      cursor: pointer;

      .recent-selection-item {
        width: 100%;
        text-align: center;
        margin: 1px;
        border: solid rgb(62, 125, 219) 1px;
        border-radius: 2px;
        color: rgb(62, 125, 219);
      }
    }

    .recent-selection:hover {
      .recent-selection-item {
        background-color: rgb(62, 125, 219);
        color: white;
      }
    }

    .button-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 8px;
    }
  }

  .selection-container-error {
    border-color: red;
  }

  // tr.entry:hover, tr.findbutton:hover, tr.selected{
  //   margin: 5px;
  //   background-color: rgb(62, 125, 219);
  //   color: white;
  //   cursor: pointer;

  //   td.entrybutton {
  //     display: block;

  //   }
  // }
  // tr.entry {
  //   // padding: 25px;
  //   // margin: 25px;
  //   cursor: pointer;
  //   background-color: rgb(230, 228, 228);

  // }

  // tr.findbutton {
  //   cursor: pointer;
  //   background-color: rgb(160, 160, 160);

  // }

  // td.entrybutton {
  //   display: none;
  //   div {
  //     outline-style: solid;
  //     outline-color: white;
  //     color: white;
  //   }
  // }

  // td {
  //   padding-top: 5px;
  //   padding-bottom: 5px;
  //   width: 200px;
  // }

  // td.right {
  //   padding-top: 25px;
  //   padding-bottom: 25px;
  // }
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 10px 0;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
  padding-left: 5px;
  padding-right: 5px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding: 0;
}
