:host {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  height: 100%;

  > .content {
    flex: 1;
  }
  .content {
    border-radius: 0 !important;

    table.simple {
      tbody tr td,
      tbody tr th {
        padding: 10px;
      }

      img {
        min-width: 50px;
        max-width: 50px;
      }
    }
  }
}

.header {
  font-size: 20px;
  font-weight: bold;
}

.subHeader {
  color: darkgray;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 30px;
}
