@import "src/@fuse/scss/fuse";
.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

.page-layout {
  mat-sidenav-container {
    .sidenav {
      width: 380px !important;
      min-width: 380px !important;
      max-width: 380px !important;
      &.left-sidenav,
      &.right-sidenav {
        @include media-breakpoint('gt-md') {
          z-index: 0;
        }
      }
    }
    >.mat-sidenav-content,
    >.mat-drawer-content {
      z-index: 1;
      .center {
        .header {
          position: relative;
          height: 160px;
          min-height: 160px;
          max-height: 160px;
          @include media-breakpoint-down('sm') {
            height: 120px;
            min-height: 120px;
            max-height: 120px;
          }
        }
      }
    }
  }
  .mat-form-field {
    width: 100%;
  }
  .mat-list-item .mat-list-item-content .mat-list {
    height: 10px;
    width: 100%;
  }
  // td, th, .mat-row, .mat-header-row, .mat-cell, .mat-header-cell {
  //   text-align: left;
  //   padding-right: 50px;
  //   padding-bottom: 1px;
  // }
  // td, .mat-row, .mat-cell {
  //   padding-top: 1px;
  // }
  // th, .mat-header-row, .mat-header-cell{
  //   padding-top: 15px;
  // }
  .mat-table {
    width: 90%;
    mat-row,
    mat-header-row {
      // width: auto;
      // min-width: 50%;
      height: auto;
      min-height: 30px;
      text-align: left;
      padding-bottom: 1px;
      padding-top: 1px;
    }
    mat-cell {
      padding-top: 1px;
      // padding-right: 250px;
    }
    mat-header-cell {
      padding-top: 15px;
      // padding-right: 250px;
    }
    .mat-column-actions {
      flex: 0 0 55px;
    }
  }
}