<div class="overlay-content m-8">




    <div class="pb-4" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="start start">
            <mat-label>Operator</mat-label>

            <button mat-button [matMenuTriggerFor]="menu">
                <div>
                    <img width="20" height="20"
                        [src]="getImagePathForMatchingOperatorType(overlayRelationship.matchingOperatorType)">
                </div>
            </button>
            <mat-menu #menu="matMenu">
                <button *ngFor="let p of matchingPalettes" mat-menu-item>
                    <div> <img width="20" height="20" [src]="p.imgPath"> </div>
                </button>
            </mat-menu>

        </div>
        <mat-checkbox labelPosition="after" [(ngModel)]="overlayRelationship.necessary">
            <div style="font-size: 14px">Notwendig</div>
        </mat-checkbox>
    </div>

    <mat-divider></mat-divider>

    <div class="pt-4">
        <mat-label>Unschärfe (in %)</mat-label>
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-slider min="0" max="100" step="" tickInterval="10" style="width: 100%"
                [ngModel]="overlayRelationship.fuzzyness" (input)="sliderValueChanged($event)"></mat-slider>
            <mat-form-field style="width: 55px; padding-left: 4px" appearance="outline">
                <input matInput type="number" id="fuzzyness" [(ngModel)]="overlayRelationship.fuzzyness" min=0 max=100
                    style=" text-align: right">
            </mat-form-field>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-label>Gewichtung</mat-label>
            <mat-form-field style="width: 60px; padding-left: 4px" appearance="outline">
                <input matInput type="number" id="weighting" [(ngModel)]="overlayRelationship.weighting"
                    style="text-align: right">
            </mat-form-field>
        </div>

        <div></div>

        <button mat-stroked-button color="accent" class="confirm-button">Speichern</button>
    </div>

</div>