<div class="page-layout blank right-sidenav p-24" fusePerfectScrollbar *ngIf="isLoaded">

    <h1>{{currentFormConfiguration.name}}</h1>

    <div>

        <div style="padding-top: 12px"></div>
        <app-dynamic-class-instance-creation-form [questions]="currentFormConfiguration.formEntry.questions" [formDisabled]="false"
            [formConfigurationId]="currentFormConfiguration.id" [form]="currentFormConfiguration.formEntry.formGroup"
            (resultEvent)="handleResultEvent($event)" (cancelEvent)="handleCancelEvent()">
        </app-dynamic-class-instance-creation-form>

        <div style="padding-top: 10px"></div>


        <button *ngIf="canFinish" type="button" mat-raised-button color="primary" (click)="handleFinishClick()">
            Finish
        </button>


    </div>



</div>