@import "src/@fuse/scss/fuse";
.center-div {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  border-radius: 3px;
}

.mat-form-field {
  width: 100%;
}

.mat-list-item .mat-list-item-content .mat-list {
  height: 10px;
  width: 100%;
}

.center-infotext {
  font-size: 18px;
  text-align: center;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

mat-expansion-panel-header {
  background: rgb(240, 240, 240);
}
mat-expansion-panel-header:hover,
mat-expansion-panel-header.mat-expanded {
  background-color: rgb(62, 125, 219) !important;
  mat-panel-title {
    color: white;
  }
  
  mat-panel-description {
    color: white;
  }
}