<div class="page-layout blank" fusePerfectScrollbar *ngIf="isLoaded">

    <div *ngIf="!canFinish">
        <div style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 300px; display: block; z-index: 1;">
            <div class="m-24">
                <h1>{{currentFormConfiguration.name}}</h1>

                <div style="padding-top: 12px"></div>
                <app-dynamic-class-instance-creation-form [questions]="currentFormConfiguration.formEntry.questions"
                    [hideButtons]="false" [formConfigurationId]="currentFormConfiguration.id"
                    [form]="currentFormConfiguration.formEntry.formGroup" (resultEvent)="handleResultEvent($event)"
                    (cancelEvent)="handleCancelEvent()">
                </app-dynamic-class-instance-creation-form>
            </div>
        </div>

        <div
            style="position: fixed; top: 64px; right: 0px; bottom: 0px; width: 300px; height: auto; display: block; overflow: scroll; z-index: 2; outline-color: black; outline-style: solid; outline-width: 1px">
            <div class="m-8">

                <h1>Target Volunteers</h1>
                <mat-selection-list #volunteerList (selectionChange)="addToSelection($event)">
                    <mat-list-option checkboxPosition="before" *ngFor="let volunteer of volunteers" [value]="volunteer">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <img class="avatar" src="assets/images/avatars/profile.jpg">
                            <div>
                                {{getDisplayedName(volunteer)}}
                            </div>
                        </div>
                    </mat-list-option>
                </mat-selection-list>
                <p>
                    Options selected: {{volunteerList.selectedOptions.selected.length}}
                </p>
            </div>
        </div>
    </div>

    <div *ngIf="canFinish">
        <h1>Done creating Instances</h1>

        <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-top: 25px">
            <div></div>

            <div>
                <div *ngFor="let instance of returnedClassInstances">
                    <div fxLayout="row" fxLayoutAlign="start center">

                        <mat-icon style="color: green; font-size: 20pt">
                            check
                        </mat-icon>

                        <div style="font-size: 12pt; padding-left: 10px">
                            Saved {{instance.name}} - containing {{instance.properties.length}} Properties
                        </div>
                    </div>
                </div>
            </div>
            <div></div>
        </div>

        <div style="padding-top: 10px"></div>


        <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-top: 10px">
            <div></div>
            <button type="button" mat-raised-button color="primary" (click)="handleFinishClick()">
                Finish
            </button>
            <div></div>
        </div>

    </div>




</div>