<div class="page-layout blank right-sidenav p-24" fusePerfectScrollbar *ngIf="isLoaded">

  <!-- <div name="form" *ngIf="isLoaded">
        <app-dynamic-class-instance-creation-form [questions]="questions" [formDisabled]=false></app-dynamic-class-instance-creation-form>
    </div> -->


  <!-- <mat-accordion *ngFor="let c of demoClasses; let i = index"> -->

  <form [formGroup]="form">

    <h1>/Technische Beschreibung</h1>
    <div style="padding-left: 25px">
      <h1>Ofen</h1>
      <div style="padding-left: 25px">
        <h1>Technische Eigenschaften</h1>
        <mat-accordion multi=true displayMode="flat">
          <!-- Allgemein -->
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20%">
                {{demoClasses[0].name}}
              </mat-panel-title>

              <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[0]}}
              </mat-panel-description>


            </mat-expansion-panel-header>

            <div style="padding-top: 12px"></div>

            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[0].properties[0].name}} (°C)" id="00"
                formControlName="00" required />
              <mat-error *ngIf="form.controls['00'].invalid">{{ displayErrorMessage('00', 'requiredOnly') }}</mat-error>

            </mat-form-field>

            <mat-form-field>
              <mat-select [placeholder]=demoClasses[0].properties[1].name id="01" formControlName="01" multiple
                required>
                <mat-option value="H2" [disabled]="form.value['04']!=true">H2</mat-option>
                <mat-option value="N2" [disabled]="form.value['05']!=true">N2</mat-option>
                <mat-option value="75% N2">75% N2</mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['01'].invalid">{{ displayErrorMessage('01', 'requiredOnly') }}</mat-error>

            </mat-form-field>

            <mat-form-field>
              <mat-select [placeholder]=demoClasses[0].properties[2].name id="02" formControlName="02" required>
                <mat-option value="Band" (click)=resetBauartDependencies()>Band</mat-option>
                <mat-option value="Draht" (click)=resetBauartDependencies()>Draht</mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['02'].invalid">{{ displayErrorMessage('02', 'requiredOnly') }}</mat-error>

            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[0].properties[3].name}} (°C)" id="03"
                formControlName="03" required />
              <mat-error *ngIf="form.controls['03'].invalid">{{ displayErrorMessage('03', 'requiredOnly') }}</mat-error>

            </mat-form-field>

            <div fxLayout="row" fxLayoutAlign="start start">
              <mat-slide-toggle class="slide-toggle-field" id="04" formControlName="04"
                (change)="form.controls['05'].setValue(!form.value['04']); resetWalzDependencies()">
                {{demoClasses[0].properties[4].name}}
              </mat-slide-toggle>

              <div style="padding-left: 24px"></div>

              <mat-slide-toggle class="slide-toggle-field" id="05" formControlName="05" checked="false"
                (change)="form.controls['04'].setValue(!form.value['05']); resetWalzDependencies()">
                {{demoClasses[0].properties[5].name}}
              </mat-slide-toggle>
              <!-- <mat-error *ngIf="form.controls[question.key].invalid">{{ displayErrorMessage() }}</mat-error> -->
            </div>




          </mat-expansion-panel>

          <!-- Mögliche Vorbehandlung -->
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20%">
                {{demoClasses[1].name}}
              </mat-panel-title>

              <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[1]}}
              </mat-panel-description>


            </mat-expansion-panel-header>

            <div style="padding-top: 12px"></div>

            <div fxLayout="row" fxLayoutAlign="start start">
              <mat-slide-toggle class="slide-toggle-field" id="10" formControlName="10" checked="false">
                {{demoClasses[1].properties[0].name}}
              </mat-slide-toggle>
              <!-- <mat-error *ngIf="form.controls[question.key].invalid">{{ displayErrorMessage() }}</mat-error> -->
            </div>

          </mat-expansion-panel>

          <div style="padding-left: 25px">
            <h1>Chargierhilfe</h1>
            <mat-accordion multi=true displayMode="flat">
              <!-- Chargierhilfe -->
              <mat-expansion-panel>

                <mat-expansion-panel-header>
                  <mat-panel-title style="width: 20%">
                    Chargierhilfe
                  </mat-panel-title>

                  <mat-panel-description style="width: 80%; text-align: start">
                    Technische Beschreibung > Ofen > Technische Eigenschaften > Chargierhilfe
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div style="padding-top: 12px"></div>

                <mat-form-field>
                  <mat-select placeholder="Chargierhilfe" id="chargierhilfe" formControlName="chargierhilfe" multiple>
                    <mat-option value="Konvektoren" [disabled]="form.value['02']!='Band'"
                      (click)="chargierhilfeChange()">
                      Konvektoren</mat-option>
                    <mat-option value="Tragerahmen" [disabled]="form.value['02']!='Band'"
                      (click)="chargierhilfeChange()">
                      Tragerahmen</mat-option>
                    <mat-option value="Zwischenrahmen" [disabled]="form.value['02']!='Band'"
                      (click)="chargierhilfeChange()">
                      Zwischenrahmen</mat-option>
                    <mat-option value="Kronenstöcke" [disabled]="form.value['02']!='Draht'"
                      (click)="chargierhilfeChange()">
                      Kronenstöcke</mat-option>
                    <mat-option value="Chargierkörbe" [disabled]="form.value['02']!='Band' && form.value['02']!='Draht'"
                      (click)="chargierhilfeChange()">Chargierkörbe</mat-option>
                  </mat-select>
                </mat-form-field>

              </mat-expansion-panel>

              <!-- Konvektoren -->
              <mat-expansion-panel *ngIf="chargierhilfeContains('Konvektoren')">

                <mat-expansion-panel-header>
                  <mat-panel-title style="width: 20%">
                    {{demoClasses[2].name}}
                  </mat-panel-title>

                  <mat-panel-description style="width: 80%; text-align: start">
                    {{demoClassPaths[2]}}
                  </mat-panel-description>


                </mat-expansion-panel-header>

                <div style="padding-top: 12px"></div>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[2].properties[0].name}} (mm)" id="20"
                    formControlName="20" required />
                  <mat-error *ngIf="form.controls['20'].invalid">{{ displayErrorMessage('20', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[2].properties[1].name}} (mm)" id="21"
                    formControlName="21" required />
                  <mat-error *ngIf="form.controls['21'].invalid">{{ displayErrorMessage('21', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[2].properties[2].name}} (mm)" id="22"
                    formControlName="22" required />
                  <mat-error *ngIf="form.controls['22'].invalid">{{ displayErrorMessage('22', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

              </mat-expansion-panel>

              <!-- Trägerrahmen -->
              <mat-expansion-panel *ngIf="chargierhilfeContains('Tragerahmen')">

                <mat-expansion-panel-header>
                  <mat-panel-title style="width: 20%">
                    {{demoClasses[3].name}}
                  </mat-panel-title>

                  <mat-panel-description style="width: 80%; text-align: start">
                    {{demoClassPaths[3]}}
                  </mat-panel-description>


                </mat-expansion-panel-header>

                <div style="padding-top: 12px"></div>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[3].properties[0].name}} (mm)" id="30"
                    formControlName="30" required />
                  <mat-error *ngIf="form.controls['30'].invalid">{{ displayErrorMessage('30', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[3].properties[1].name}} (mm)" id="31"
                    formControlName="31" required />
                  <mat-error *ngIf="form.controls['31'].invalid">{{ displayErrorMessage('31', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[3].properties[2].name}} (mm)" id="32"
                    formControlName="32" required />
                  <mat-error *ngIf="form.controls['32'].invalid">{{ displayErrorMessage('32', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

              </mat-expansion-panel>

              <!-- Zwischenrahmen -->
              <mat-expansion-panel *ngIf="chargierhilfeContains('Zwischenrahmen')">

                <mat-expansion-panel-header>
                  <mat-panel-title style="width: 20%">
                    {{demoClasses[4].name}}
                  </mat-panel-title>

                  <mat-panel-description style="width: 80%; text-align: start">
                    {{demoClassPaths[4]}}
                  </mat-panel-description>


                </mat-expansion-panel-header>

                <div style="padding-top: 12px"></div>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[4].properties[0].name}} (mm)" id="40"
                    formControlName="40" required />
                  <mat-error *ngIf="form.controls['40'].invalid">{{ displayErrorMessage('40', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[4].properties[1].name}} (mm)" id="41"
                    formControlName="41" required />
                  <mat-error *ngIf="form.controls['41'].invalid">{{ displayErrorMessage('41', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[4].properties[2].name}} (mm)" id="42"
                    formControlName="42" required />
                  <mat-error *ngIf="form.controls['42'].invalid">{{ displayErrorMessage('42', 'requiredOnly') }}
                  </mat-error>

                </mat-form-field>

              </mat-expansion-panel>

              <!-- Kronenstöcke -->
              <mat-expansion-panel *ngIf="chargierhilfeContains('Kronenstöcke')">

                <mat-expansion-panel-header>
                  <mat-panel-title style="width: 20%">
                    {{demoClasses[5].name}}
                  </mat-panel-title>

                  <mat-panel-description style="width: 80%; text-align: start">
                    {{demoClassPaths[5]}}
                  </mat-panel-description>


                </mat-expansion-panel-header>

                <div style="padding-top: 12px"></div>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[5].properties[0].name}} (mm)" id="50"
                    formControlName="50" required (keyup)="checkInputBundabmessungenInnen()" />
                  <mat-error *ngIf="form.controls['50'].invalid">{{ displayErrorMessage('50', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[5].properties[1].name}} (mm)" id="51"
                    formControlName="51" required />
                  <mat-error *ngIf="form.controls['51'].invalid">{{ displayErrorMessage('51', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[5].properties[2].name}} (mm)" id="52"
                    formControlName="52" required />
                  <mat-error *ngIf="form.controls['52'].invalid">{{ displayErrorMessage('52', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

              </mat-expansion-panel>

              <!-- Chargierkörbe -->
              <mat-expansion-panel *ngIf="chargierhilfeContains('Chargierkörbe')">

                <mat-expansion-panel-header>
                  <mat-panel-title style="width: 20%">
                    {{demoClasses[6].name}}
                  </mat-panel-title>

                  <mat-panel-description style="width: 80%; text-align: start">
                    {{demoClassPaths[6]}}
                  </mat-panel-description>


                </mat-expansion-panel-header>

                <div style="padding-top: 12px"></div>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[6].properties[0].name}} (mm)" id="60"
                    formControlName="60" required />
                  <mat-error *ngIf="form.controls['60'].invalid">{{ displayErrorMessage('60', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[6].properties[1].name}} (mm)" id="61"
                    formControlName="61" required />
                  <mat-error *ngIf="form.controls['61'].invalid">{{ displayErrorMessage('61', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field>
                  <input matInput type="number" placeholder="{{demoClasses[6].properties[2].name}} (mm)" id="62"
                    formControlName="62" required />
                  <mat-error *ngIf="form.controls['62'].invalid">{{ displayErrorMessage('62', 'requiredOnly') }}
                  </mat-error>
                </mat-form-field>

              </mat-expansion-panel>

            </mat-accordion>
          </div>
        </mat-accordion>
      </div>

      <div style="padding-left: 25px">
        <h1>Betriebliche Eigenschaften</h1>

        <mat-accordion multi=true displayMode="flat">

          <!-- Betriebliche Eigenschaften -->
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20%">
                {{demoClasses[7].name}}
              </mat-panel-title>

              <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[7]}}
              </mat-panel-description>


            </mat-expansion-panel-header>

            <div style="padding-top: 12px"></div>

            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[7].properties[0].name}} (h)" id="70"
                formControlName="70" />
              <!-- <mat-error *ngIf="form.controls['70'].invalid">{{ displayErrorMessage('70', 'requiredOnly') }}</mat-error> -->

            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[7].properties[1].name}} (t/h)" id="71"
                formControlName="71" />
              <!-- <mat-error *ngIf="form.controls['71'].invalid">{{ displayErrorMessage('71', 'requiredOnly') }}</mat-error> -->

            </mat-form-field>


          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <!-- <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title style="width: 20%">
          {{demoClasses[7].name}}
        </mat-panel-title>

        <mat-panel-description style="width: 80%; text-align: start">
          {{demoClassPaths[7]}}
        </mat-panel-description>


      </mat-expansion-panel-header>

      {{demoClasses[7].properties.length}}


    </mat-expansion-panel> -->
      <div style="padding-left: 25px">
        <h1>Geometrische Eigenschaften</h1>

        <mat-accordion multi=true displayMode="flat">

          <!-- Baugröße -->

          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20%">
                {{demoClasses[8].name}}
              </mat-panel-title>

              <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[8]}}
              </mat-panel-description>


            </mat-expansion-panel-header>

            <div style="padding-top: 12px"></div>

            <fieldset [formGroup]="form">
              <div style="padding: 8px">
                <mat-label>{{demoClasses[8].properties[0].name}}</mat-label>
                <div formArrayName="80" *ngFor="let c of form.controls['80'].controls; let i = index">

                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-form-field>
                      <input matInput type="number" placeholder="{{i+1}} - (mm)" id="{{i}}" [formControlName]="i"
                        [required]="form.value['chargierhilfe'].length<=0" />
                      <mat-error *ngIf="form.controls['80'].controls[i].invalid">This field is required
                      </mat-error>

                    </mat-form-field>

                    <div *ngIf="i<=0" style="padding-left: 25px"></div>
                    <mat-icon *ngIf="i>0" style="cursor: pointer; padding-left: 10px"
                      (click)="removeBaugroesseInnenDurchmesserRow(i)">close</mat-icon>
                  </div>
                </div>
                <a *ngIf="form.controls['80'].enabled" style="cursor: pointer"
                  (click)="addBaugroesseInnenDurchmesserRow()">> add line</a>
              </div>
            </fieldset>

            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[8].properties[1].name}} (mm)" id="81"
                formControlName="81" [required]="form.value['chargierhilfe'].length<=0" />
              <mat-error *ngIf="form.controls['81'].invalid">{{ displayErrorMessage('81', 'requiredOnly') }}</mat-error>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[8].properties[2].name}} (mm)" id="82"
                formControlName="82" [required]="form.value['chargierhilfe'].length<=0" />
              <mat-error *ngIf="form.controls['81'].invalid">{{ displayErrorMessage('81', 'requiredOnly') }}</mat-error>
            </mat-form-field>

          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div style="padding-left: 25px">
        <h1>Qualitative Eigenschaften</h1>
        <mat-accordion multi=true displayMode="flat">


          <!-- Qualitätsnormen -->
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20%">
                {{demoClasses[9].name}}
              </mat-panel-title>

              <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[9]}}
              </mat-panel-description>


            </mat-expansion-panel-header>

            <div style="padding-top: 12px"></div>

            <div fxLayout="row" fxLayoutAlign="start start">
              <mat-slide-toggle class="slide-toggle-field" id="90" formControlName="90" checked="false">
                {{demoClasses[9].properties[0].name}}
              </mat-slide-toggle>
              <!-- <mat-error *ngIf="form.controls[question.key].invalid">{{ displayErrorMessage() }}</mat-error> -->
            </div>

            <div style="padding-top: 5px"></div>

            <div fxLayout="row" fxLayoutAlign="start start">
              <mat-slide-toggle class="slide-toggle-field" id="91" formControlName="91" checked="false">
                {{demoClasses[9].properties[1].name}}
              </mat-slide-toggle>
              <!-- <mat-error *ngIf="form.controls[question.key].invalid">{{ displayErrorMessage() }}</mat-error> -->
            </div>

          </mat-expansion-panel>

          <!-- Wartungen -->
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20%">
                {{demoClasses[10].name}}
              </mat-panel-title>

              <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[10]}}
              </mat-panel-description>


            </mat-expansion-panel-header>

            <div style="padding-top: 12px"></div>

            <ng-container>
              <mat-form-field>

                <input matInput [matDatepicker]="picker" placeholder="{{demoClasses[10].properties[0].name}}"
                  formControlName="100">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- <mat-error *ngIf="form.controls[question.key].invalid">{{ displayErrorMessage() }}</mat-error> -->

              </mat-form-field>
            </ng-container>

            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[10].properties[1].name}} (pro Jahr)" id="101"
                formControlName="101" />
            </mat-form-field>

          </mat-expansion-panel>
        </mat-accordion>
      </div>

    </div>

    <div style="padding-left: 25px">
      <h1>Input</h1>

      <div style="padding-left: 25px">
        <h1>Bundabmessungen</h1>
        <!-- Bundabmessungen -->
        <mat-accordion multi=true displayMode="flat">

          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20%">
                {{demoClasses[11].name}}
              </mat-panel-title>

              <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[11]}}
              </mat-panel-description>


            </mat-expansion-panel-header>

            <div style="padding-top: 12px"></div>

            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[11].properties[0].name}} (mm)" id="110"
                formControlName="110" [required]="form.value['170']==false" />
              <!-- [required]="form.value['170']==false" -->
              <mat-error *ngIf="form.controls['110'].invalid">{{ displayErrorMessage('110', 'aussen') }}</mat-error>

            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[11].properties[1].name}} (mm)" id="111"
                formControlName="111" [required]="form.value['170']==false" />
              <!-- <mat-error *ngIf="form.controls['111'].invalid">This field is required - select a rule type</mat-error> -->
              <mat-error *ngIf="form.controls['111'].invalid">{{ displayErrorMessage('111', 'innen') }}</mat-error>


            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[11].properties[2].name}} (mm)" id="112"
                formControlName="112" [required]="form.value['170']==false" />
              <mat-error *ngIf="form.controls['112'].invalid">{{ displayErrorMessage('112', 'requiredOnly') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[11].properties[3].name}} (mm)" id="113"
                formControlName="113" [required]="form.value['170']==false" />
              <mat-error *ngIf="form.controls['113'].invalid">{{ displayErrorMessage('113', 'requiredOnly') }}
              </mat-error>
            </mat-form-field>

          </mat-expansion-panel>
        </mat-accordion>
      </div>




      <!-- <mat-expansion-panel>

        <mat-expansion-panel-header>
          <mat-panel-title style="width: 20%">
            {{demoClasses[11].name}}
          </mat-panel-title>

          <mat-panel-description style="width: 80%; text-align: start">
            {{demoClassPaths[11]}}
          </mat-panel-description>


        </mat-expansion-panel-header>

        {{demoClasses[11].properties.length}}


      </mat-expansion-panel> -->

      <div style="padding-left: 25px">
        <h1>Materialart</h1>

        <mat-accordion multi=true displayMode="flat">
          <!-- Materialart -->
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20%">
                {{demoClasses[12].name}}
              </mat-panel-title>

              <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[12]}}
              </mat-panel-description>


            </mat-expansion-panel-header>

            <div style="padding-top: 12px"></div>
            <div fxLayout="row" fxLayoutAlign="start start">
              <mat-slide-toggle class="slide-toggle-field" id="120" formControlName="120"
                (change)="form.controls['121'].setValue(!form.value['120'])">
                {{demoClasses[12].properties[0].name}}
              </mat-slide-toggle>

              <div style="padding-right: 5px"></div>

              <mat-slide-toggle class="slide-toggle-field" id="121" formControlName="121" checked="false"
                (change)="form.controls['120'].setValue(!form.value['121'])">
                {{demoClasses[12].properties[1].name}}
              </mat-slide-toggle>
              <!-- <mat-error *ngIf="form.controls[question.key].invalid">{{ displayErrorMessage() }}</mat-error> -->
            </div>

          </mat-expansion-panel>

        </mat-accordion>
      </div>
    </div>

    <div style="padding-left: 25px">
      <h1>Output</h1>
      <div style="padding-left: 25px">
        <h1>Technische Eigenschaften</h1>
        <mat-accordion multi=true displayMode="flat">


          <!-- Mechanische Eigenschaften -->
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20%">
                {{demoClasses[13].name}}
              </mat-panel-title>

              <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[13]}}
              </mat-panel-description>


            </mat-expansion-panel-header>

            <div style="padding-top: 12px"></div>

            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[13].properties[0].name}} (mm²)" id="130"
                formControlName="130" [required]="form.value['170']==false" />
              <mat-error *ngIf="form.controls['130'].invalid">{{ displayErrorMessage('130', 'requiredOnly') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[13].properties[1].name}} (mm²)" id="131"
                formControlName="131" [required]="form.value['170']==false" />
              <mat-error *ngIf="form.controls['131'].invalid">{{ displayErrorMessage('131', 'requiredOnly') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[13].properties[2].name}} (%)" id="132"
                formControlName="132" [required]="form.value['170']==false" />
              <mat-error *ngIf="form.controls['132'].invalid">{{ displayErrorMessage('132', 'requiredOnly') }}
              </mat-error>
            </mat-form-field>


          </mat-expansion-panel>

          <!-- Gefüge -->
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20%">
                {{demoClasses[14].name}}
              </mat-panel-title>

              <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[14]}}
              </mat-panel-description>


            </mat-expansion-panel-header>

            <div style="padding-top: 12px"></div>

            <mat-form-field>
              <input matInput placeholder="{{demoClasses[14].properties[0].name}}" id="140" formControlName="140"
                [required]="form.value['140']==false" />
              <mat-error *ngIf="form.controls['140'].invalid">{{ displayErrorMessage('140', 'requiredOnly') }}
              </mat-error>

            </mat-form-field>

          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div style="padding-left: 25px">
        <h1>Geometrische Eigenschaften</h1>

        <mat-accordion multi=true displayMode="flat">


          <!-- Mögliche Bundabmessungen -->
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20%">
                {{demoClasses[15].name}}
              </mat-panel-title>

              <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[15]}}
              </mat-panel-description>


            </mat-expansion-panel-header>

            <div style="padding-top: 12px"></div>

            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[15].properties[0].name}} (mm)" id="150"
                formControlName="150" [required]="form.value['170']==false" />
              <mat-error *ngIf="form.controls['150'].invalid">{{ displayErrorMessage('150', 'aussen') }}</mat-error>

            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[15].properties[1].name}} (mm)" id="151"
                formControlName="151" [required]="form.value['170']==false" />
              <mat-error *ngIf="form.controls['151'].invalid">{{ displayErrorMessage('151', 'innen') }}</mat-error>

            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[15].properties[2].name}} (mm)" id="152"
                formControlName="152" [required]="form.value['170']==false" />
              <mat-error *ngIf="form.controls['152'].invalid">{{ displayErrorMessage('152', 'requiredOnly') }}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="{{demoClasses[15].properties[3].name}} (mm)" id="153"
                formControlName="153" [required]="form.value['170']==false" />
              <mat-error *ngIf="form.controls['153'].invalid">{{ displayErrorMessage('153', 'requiredOnly') }}
              </mat-error>
            </mat-form-field>

          </mat-expansion-panel>
        </mat-accordion>
      </div>

      <div style="padding-left: 25px">
        <h1>Qualitative Eigenschaften</h1>
        <mat-accordion multi=true displayMode="flat">

          <!-- Materialart -->
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title style="width: 20%">
                {{demoClasses[16].name}}
              </mat-panel-title>

              <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[16]}}
              </mat-panel-description>


            </mat-expansion-panel-header>

            <div style="padding-top: 12px"></div>
            <div fxLayout="row" fxLayoutAlign="start start">
              <mat-slide-toggle class="slide-toggle-field" id="160" formControlName="160"
                (change)="form.controls['161'].setValue(!form.value['160'])">
                {{demoClasses[16].properties[0].name}}
              </mat-slide-toggle>

              <div style="padding-right: 5px"></div>

              <mat-slide-toggle class="slide-toggle-field" id="161" formControlName="161" checked="false"
                (change)="form.controls['160'].setValue(!form.value['161'])">
                {{demoClasses[16].properties[1].name}}
              </mat-slide-toggle>
              <!-- <mat-error *ngIf="form.controls[question.key].invalid">{{ displayErrorMessage() }}</mat-error> -->
            </div>

          </mat-expansion-panel>
        </mat-accordion>

      </div>

</div>
      <h1>/Logistische Beschreibung</h1>

      <mat-accordion multi=true displayMode="flat">

        <!-- Logistische Beschreibung -->
        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title style="width: 20%">
              {{demoClasses[17].name}}
            </mat-panel-title>

            <mat-panel-description style="width: 80%; text-align: start">
              {{demoClassPaths[17]}}
            </mat-panel-description>


          </mat-expansion-panel-header>

          <div style="padding-top: 12px"></div>

          <div fxLayout="row" fxLayoutAlign="start start">
            <mat-slide-toggle class="slide-toggle-field" id="170" formControlName="170" checked="false">
              {{demoClasses[17].properties[0].name}}
            </mat-slide-toggle>
          </div>

          <mat-form-field>
            <input matInput placeholder="{{demoClasses[17].properties[1].name}}" id="171" formControlName="171" />
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="{{demoClasses[17].properties[2].name}}" id="172" formControlName="172" />
          </mat-form-field>

          <mat-form-field>
            <mat-select [placeholder]=demoClasses[17].properties[3].name id="173" formControlName="173">
              <mat-option value="LKW">LKW</mat-option>
              <mat-option value="Zug">Zug</mat-option>
              <mat-option value="Schiff">Schiff</mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field>
            <input matInput type="number" placeholder="{{demoClasses[17].properties[4].name}} (t)" id="174"
              formControlName="174" />
          </mat-form-field>

          <ng-container>
            <mat-form-field>

              <input matInput [matDatepicker]="picker2" placeholder="{{demoClasses[17].properties[5].name}}"
                formControlName="175">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
              <!-- <mat-error *ngIf="form.controls[question.key].invalid">{{ displayErrorMessage() }}</mat-error> -->

            </mat-form-field>
          </ng-container>

          <mat-form-field>
            <mat-select [placeholder]=demoClasses[17].properties[6].name id="176" formControlName="176">
              <mat-option value="EXW">EXW</mat-option>
              <mat-option value="FCA">FCA</mat-option>
              <mat-option value="CPT">CPT</mat-option>
              <mat-option value="CIP">CIP</mat-option>
              <mat-option value="DAT">DAT</mat-option>
              <mat-option value="DAP">DAP</mat-option>
              <mat-option value="DDP">DDP</mat-option>
              <mat-option value="FAS" [disabled]="form.value['173'] != 'Schiff'">FAS</mat-option>
              <mat-option value="FOB" [disabled]="form.value['173'] != 'Schiff'">FOB</mat-option>
              <mat-option value="CFR" [disabled]="form.value['173'] != 'Schiff'">CFR</mat-option>
              <mat-option value="CIF" [disabled]="form.value['173'] != 'Schiff'">CIF</mat-option>
            </mat-select>
          </mat-form-field>







        </mat-expansion-panel>

      </mat-accordion>


      <h1>/Preisliche Beschreibung</h1>

      <mat-accordion multi=true displayMode="flat">

        <!-- Preisliche Beschreibung -->
        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title style="width: 20%">
              {{demoClasses[18].name}}
            </mat-panel-title>

            <mat-panel-description style="width: 80%; text-align: start">
              {{demoClassPaths[18]}}
            </mat-panel-description>


          </mat-expansion-panel-header>

          <div style="padding-top: 12px"></div>

          <mat-form-field>
            <textarea matInput placeholder="{{demoClasses[18].properties[0].name}}" formControlName="180" id="180"
              matTextareaAutosize matAutosizeMinRows=5 matAutosizeMaxRows=10></textarea>

            <!-- <mat-error *ngIf="form.controls[question.key].invalid">{{ displayErrorMessage() }}</mat-error> -->
          </mat-form-field>

        </mat-expansion-panel>

      </mat-accordion>


  </form>
</div>