<form *ngIf="attributeCondition" form name="form" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start"
  (change)="onChange($event)" [formGroup]="rulePreconditionForm"> 
  <div fxLayout="row" fxLayoutAlign="start start" style="padding-top: 12px" fxLayoutGap="15px">
    <mat-form-field *ngIf="classProperties && classProperties.length > 0" style="width: 225px">
      <mat-label>Attribut</mat-label>
      <mat-select formControlName="classPropertyId" [value]="attributeCondition?.classProperty?.id">
        <mat-option *ngFor="let cp of classProperties" [value]="cp?.id" (onSelectionChange)="onPropertyChange(cp, $event)">
          {{cp.name}} </mat-option>
      </mat-select>
      <mat-error *ngFor="let validation of attributeValidationMessages.property">
        <mat-error class="error-message" *ngIf="rulePreconditionForm.get('classPropertyId').hasError(validation.type) && 
         (rulePreconditionForm.get('classPropertyId').dirty || rulePreconditionForm.get('classPropertyId').touched)">
         {{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <mat-form-field style="width: 100px">
      <mat-label>Vergleichsoperator</mat-label>
      <mat-select placeholder="Operation" formControlName="comparisonOperatorType"
        [value]="attributeCondition.comparisonOperatorType">
        <mat-option *ngFor="let op of comparisonOperators" [value]="op" (onSelectionChange)="onOperatorChange(op, $event)">
          {{ retrieveComparisonOperatorValueOf(op)}}
        </mat-option>
      </mat-select>
      <mat-error *ngFor="let validation of attributeValidationMessages.comparisonOperator">
        <mat-error class="error-message" *ngIf="rulePreconditionForm.get('comparisonOperatorType').hasError(validation.type) && 
         (rulePreconditionForm.get('comparisonOperatorType').dirty || rulePreconditionForm.get('comparisonOperatorType').touched)">
         {{validation.message}}</mat-error>
      </mat-error>
    </mat-form-field>
    <div *ngIf="!attributeCondition?.classProperty?.id"> 
    <mat-form-field style="width: 150px">
      <input matInput placeholder="Wert"
        formControlName="value" />
    </mat-form-field>
    </div>
    <div *ngIf="formItem">
      <app-form-item [formItem]="formItem" [form]="ruleQuestionForm" 
         (tupleSelected)="handleTupleSelection($event)"></app-form-item>
    </div>
