<form *ngIf="attributeCondition" form name="form" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start"
  (change)="onChange($event)" [formGroup]="rulePreconditionForm">
  <div fxLayout="row" fxLayoutAlign="start start" style="padding-top: 12px" fxLayoutGap="15px">
    <mat-form-field *ngIf="classProperties && classProperties.length > 0" style="width: 225px">
      <mat-label>Attribut</mat-label>
      <mat-select formControlName="classPropertyId" [value]="attributeCondition?.classProperty?.id">
        <mat-option *ngFor="let cp of classProperties" [value]="cp?.id" (onSelectionChange)="onPropertyChange(cp, $event)">
          {{cp.name}} </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100px">
      <mat-label>Vergleichsoperator</mat-label>
      <mat-select placeholder="Operation" formControlName="comparisonOperatorType"
        [value]="attributeCondition.comparisonOperatorType">
        <mat-option *ngFor="let op of comparisonOperators" [value]="op" (onSelectionChange)="onOperatorChange(op, $event)">
          {{ retrieveComparisonOperatorValueOf(op)}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 150px">
      <input *ngIf="attributeCondition?.classProperty?.type != 'ENUM'" matInput placeholder="value"
        formControlName="value" />
      <mat-select *ngIf="attributeCondition?.classProperty?.type == 'ENUM'" placeholder="Wert"
        formControlName="value" [value]="attributeCondition.comparisonOperatorType">
        <mat-option *ngFor="let enumVal of findEnumValues()" [value]="enumVal" (onSelectionChange)="onChange($event)">
          {{ enumVal }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
