@import "src/@fuse/scss/fuse";
@import '~@angular/material/theming';
$custom-typography: mat-typography-config( $font-family: 'Muli');
@include mat-core($custom-typography);
.page-layout {
  .progressBar {
    height: 8px !important;
    padding-left: 10px;
    margin-right: 20px;
  }
}

.profile-img {
  max-height: 120px;
}

::ng-deep .green-yellow-progress {
  height: 8px !important;
  padding-left: 10px;
  margin-right: 20px;
  .mat-progress-bar-fill::after {
    background-color: green !important;
  }
  .mat-progress-bar-buffer {
    background: orange;
  }
}

::ng-deep .green-red-progress {
  height: 8px !important;
  padding-left: 10px;
  margin-right: 20px;
  .mat-progress-bar-fill::after {
    background-color: green !important;
  }
  .mat-progress-bar-buffer {
    background: red;
  }
}

::ng-deep .mat-expansion-panel-body {
  padding: 0;
}

mat-expansion-panel,
mat-expansion-panel-header {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.mat-column-taskDuration {
  padding-right: 0;
  flex: 0 0 100px;
}

.mat-column-verificationStatus {
  justify-content: center;
}