<div class="page-layout blank right-sidenav p-24" fusePerfectScrollbar>


  <div class="center-div" *ngIf="!isLoaded">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="isLoaded">
    <div class="header mat-accent-bg" fxLayout="row" fxLayoutAlign="space-between center">
        <mat-icon class="iconButton" (click)="navigateBack()" style="margin-left: 20px; cursor: pointer">keyboard_return</mat-icon>
        <h1 style="margin-right:40%">Details for Property "{{ property.name }}"</h1>
        
    </div>
  

    <div *ngIf="templateItem!=undefined"> Parent Template: {{templateItem.id}}: {{templateItem.name}}</div>
    <div *ngIf="subtemplateItem!=undefined"> Parent Sub-Template: {{subtemplateItem.id}}: {{subtemplateItem.name}}</div>

    <br>
    <br>

    <br>Value: {{ displayPropertyValue(property) }}
    <br>Default Value: {{ displayPropertyDefaultValue(property) }}
    <br>Property Kind: {{ property.type }}


    <h3> Default Value</h3>
    
    <div *ngIf="property.defaultValues != null">
      <mat-list>
        <mat-list-item *ngFor="let v of property.defaultValues"> {{ v.id }} -- {{ v.value }} </mat-list-item>
      </mat-list>
    </div>
    <div *ngIf="property.defaultValues == null">
      contains no default value definitions
    </div>

    <h3> Legal Values</h3>
    
    <div *ngIf="property.legalValues != null">
      <mat-list>
        <mat-list-item *ngFor="let v of property.legalValues"> {{ v.id }} -- {{ v.value }} </mat-list-item>
      </mat-list>
    </div>
    <div *ngIf="property.legalValues == null">
      contains no legal value definitions
    </div>


    <h3> Property Rules</h3>
    <div *ngIf="property.rules != null">
      <mat-list>
        <mat-list-item *ngFor="let r of property.rules"> {{ r.id }} -- {{ r.kind }} ({{r.value}} / {{r.regex}}) </mat-list-item>
      </mat-list>
    </div>

    <div *ngIf="property.rules == null">
      contains no rules
    </div>


    <!-- <h3> Properties (Multi)</h3>
    <div *ngIf="property.properties != null">
      <mat-list>
        <div *ngFor="let p of property.properties">
          <mat-list-item > {{p.id}}: {{p.name}} = {{displayPropertyValue(p)}}</mat-list-item>
          <app-multi-property-detail [property]="p"></app-multi-property-detail> 
        </div>
      </mat-list>
    </div>

    <div *ngIf="property.properties == null">
      contains no properties or is not a multi property
    </div> -->





    

  </div>
</div>