<form class="task-form" (submit)="save()" [formGroup]="taskTemplateForm">

  <h3>Create Task-Template</h3>

  <mat-form-field class="full-width">
    <input matInput placeholder="Name" formControlName="name">
  </mat-form-field>

  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Workflow Key" formControlName="workflowKey">
      <mat-option *ngFor="let workflowType of workflowTypes" [value]="workflowType">{{workflowType.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Required Competences" formControlName="requiredCompetences" multiple>
      <mat-option *ngFor="let competence of competences" [value]="competence">{{competence.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-select placeholder="Acquirable Competences" formControlName="acquirableCompetences" multiple>
      <mat-option *ngFor="let competence of competences" [value]="competence">{{competence.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="error-message full-width" *ngIf="taskTemplateForm.getError('duplactedCompetence')">
    <div class="error-text">Required and acquirable competences can't contain the same competence!</div>
  </div>

  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
