@import "src/@fuse/scss/fuse";
@import "common";

.donut-parent-duration {
  height: 200px;
  width: 860px;
  margin-bottom: 10px;
}

.engagement {
  padding-left: 20px;
  align-self: flex-start;
  text-align: left;
  font-size: 35px;
}

.img {
  height: 100px;
  width: auto;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.engagementSince {
  margin-left: 20px;
  vertical-align: bottom;
  align-self: flex-end;
}

.formFieldEngament {
  margin-left: 20px;
  margin-top: 12px;
  font-size: 32px;
  font-weight: 400;
}

.formFieldComparison {
  margin-left: 50px;
  width: 100px;
}

.chartParrent {
  height: 500px;
  width: 100%;
}

.shareMenu {
  margin-right: 10px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  margin-bottom: 0px;
}

.total {
  margin-left: 20px;
}

td {
  text-align: left;
  font-size: 15px;
}

.table {
  margin-top: 20px;
}

.center-spinner-wrapper {
  margin-top: 20px;
  align-items: center;
}

ngx-charts-advanced-pie-chart {
  .total-value {
    font-size: 10px;
  }
  .item-value {
    font-size: 10px;
  }
}
