<form *ngIf="classCondition" form name="form" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="start"
(change)="onChange($event)" [formGroup]="rulePreconditionForm">
    <div fxLayout="row" fxLayoutAlign="start start" style="padding-top: 12px" fxLayoutGap="15px">
        <mat-form-field *ngIf="classDefinitions && classDefinitions.length > 0" style="width: 225px">
            <mat-label>Benötigter Freiwillenpasseintrag</mat-label>
            <mat-select formControlName="classDefinitionId" [value]="classCondition.classDefinition?.id">
                <mat-option *ngFor="let cd of classDefinitions" [value]="cd.id"
                    (onSelectionChange)="onClassChange(cd, $event)"> {{cd.name}} </mat-option>
            </mat-select>
            <mat-error *ngFor="let validation of conditionValidationMessages.classDefinition">
                <mat-error class="error-message" *ngIf="rulePreconditionForm.get('classDefinitionId').hasError(validation.type) && 
                 (rulePreconditionForm.get('classDefinitionId').dirty || rulePreconditionForm.get('classDefinitionId').touched)">
                 {{validation.message}}</mat-error>
              </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 115px">
            <mat-label>Aggregationsoperator</mat-label>
            <mat-select placeholder="Operation" formControlName="aggregationOperatorType"
                [value]="classCondition?.aggregationOperatorType">
                <mat-option *ngFor="let op of aggregationOperators" [value]="op" (onSelectionChange)="onOperatorChange(op, $event)">
                         {{ retrieveAggregationOperatorValueOf(op)}} 
                </mat-option>
            </mat-select>
            <mat-error *ngFor="let validation of conditionValidationMessages.aggregationOperator">
                <mat-error class="error-message" *ngIf="rulePreconditionForm.get('aggregationOperatorType').hasError(validation.type) && 
                 (rulePreconditionForm.get('aggregationOperatorType').dirty || rulePreconditionForm.get('aggregationOperatorType').touched)">
                 {{validation.message}}</mat-error>
              </mat-error>
        </mat-form-field>
        <mat-form-field style="width: 150px">
            <input matInput placeholder="Wert" formControlName="value" />
        </mat-form-field>
        <div *ngIf="classCondition.aggregationOperatorType && classCondition.aggregationOperatorType === 'SUM'">
            <mat-form-field style="width: 150px">
            <mat-label>Attribut</mat-label>
            <mat-select placeholder="Attribut" formControlName="classPropertyId"
                [value]="classCondition.classProperty?.id">
                <mat-option *ngFor="let cp of filteredSumClassProperties" [value]="cp.id" (onSelectionChange)="onPropertyChange(cp, $event)">
                         {{ cp.name}} 
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
    </div>
    <div formArrayName="classAttributeForms">
    <div *ngFor="let attribute of classCondition.attributeConditions">
        <attribute-rule-precondition
          [attributeCondition]="attribute"
        ></attribute-rule-precondition>
    </div>
    </div>
    <div *ngIf="classProperties.length > 0">
        <button
          type="button"
          mat-raised-button
          color="secondary"
          (click)="addAttributeCondition()"
        >
          Property-Regel hinzufügen
        </button>
      </div>
</form> 
<!--(change)="onChange($event)"-->
<!--(onSelectionChange)="onOperatorChange(op)"-->
 <!--</attribute-rule-precondition>   (attributeConditionChange) = "onChangeAttribute($event)"-->
 <!--
      && classCondition.aggregationOperatorType === aggregationOperators.SUM"
 -->