<form (ngSubmit)="onSubmit()" [formGroup]="form">

  <div *ngFor="let question of questions" class="form-row">
    <app-question [question]="question" [form]="form" [submitPressed]="submitPressed"></app-question>
  </div>

  <br>
  <br>

  <div class="form-row" *ngIf="!formDisabled">
    <button type="submit" mat-raised-button color="primary">
      Speichern
    </button>

    &nbsp; &nbsp;

    <button type="button" (click)="navigateBack()" mat-raised-button color="basic">Abbrechen</button>
  </div>

  <!-- <div class="form-row" *ngIf="formDisabled">
      <button type="button" (click)="navigateBack()" mat-raised-button color="basic">Back</button>
    </div> -->
</form>

</form>


<div *ngIf="output" class="form-row">
  <strong>Saved the following values:</strong><br>{{output}}
</div>