
<form [formGroup]="form" (ngSubmit)="onSubmit(f.form.valid)" #f='ngForm'>
    
  <h1>Create Multi Property</h1> 
  
  <!------------------------------------------------->
  <!--------Property Name and Type Selection--------->
  <!------------------------------------------------->  

  <div fyLayout="row" fxLayoutAlign="start end">
    <mat-form-field style="width: 250px"> 
      <input matInput placeholder="Name" formControlName="name"/>

      <mat-error *ngIf="this.form.controls['name'].hasError('required')">This field is required</mat-error>
      <mat-error *ngIf="this.form.controls['name'].hasError('propertynameunique')">Duplicate Name - choose another name for the property</mat-error>
    </mat-form-field>
  </div>

  <div fxLayout="row" fxLayoutAlign="start end" >
    
    <h2 style="margin: 0">Add Properties</h2> 
    

    <div>
      &nbsp;
      &nbsp;
    </div>

    <div *ngIf="!showAddPropertyList">
      <a id="show-add-propertylist" (click)="setShowAddPropertyList(true)" style="cursor: pointer">show list</a>
    </div>

    <div *ngIf="showAddPropertyList">
      <a id="hide-add-propertylist-top" (click)="setShowAddPropertyList(false)" style="cursor: pointer">hide list</a>
    </div>
  </div>

  <div style="padding-left: 10px; padding-right: 10px">
    <div *ngIf="!showAddPropertyList">
      
      <br>
      <!-- <button type="button" (click)="setShowAddPropertyList(true)" mat-raised-button color="primary">Add Property</button> -->
      <mat-error *ngIf="submitPressed && addedProperties.length<=0">Must add at least one property from here</mat-error>
    </div>

    <div *ngIf="showAddPropertyList">
      
      <mat-error *ngIf="submitPressed && addedProperties.length<=0">Must add at least one property from here</mat-error>

      <div fxLayout="row" fxLayoutAlign="start center">
        
        <mat-form-field>
          <input matInput type="text" (keyup)="filterInput($event.target.value)" placeholder="Filter">
        </mat-form-field>

        <div>
          &nbsp;
          &nbsp;
          &nbsp;
        </div>

        
        <mat-form-field>
            <mat-select  placeholder="Filter by Kind" style="width: 200px">
              <mat-option (click)="filterPropertyKind(null)">--</mat-option>
              <mat-option *ngFor="let option of propertyKindOptions" [value]="option" (click)="filterPropertyKind(option)" >{{option}}</mat-option> 
            </mat-select> 
        </mat-form-field>
        

      </div>
      
      <div class="add-table">
        <mat-table #table [dataSource]="dataSource">
          <!-- Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
            <mat-cell *matCellDef="let prop"> {{prop.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="kind">
            <mat-header-cell *matHeaderCellDef> Kind/Type </mat-header-cell>
            <mat-cell *matCellDef="let prop"> {{prop.kind}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let prop">
              <div>
                <mat-icon class="iconButton" (click)="addProperty(prop)" style="cursor: pointer" matTooltip="Add Property" matTooltipPosition="above"
                  aria-label="Add Property">add</mat-icon>
              </div>

            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

        </mat-table>
      </div>

      <br>

      <a id="hide-add-propertylist-bottom" (click)="setShowAddPropertyList(false)" style="cursor: pointer">hide list</a>
      <!-- <button type="button" (click)="setShowAddPropertyList(false)" mat-raised-button color="primary">Done Adding</button> -->
    </div>
  </div>

  <br>
  <h2>Added Properties</h2>

  <div *ngIf="!submitPressed && addedDataSource.data.length <= 0">
    No properties - add at least one from the list above
  </div>

  <mat-error *ngIf="submitPressed && addedDataSource.data.length <= 0">
    No properties - add at least one from the list above
  </mat-error>

  <mat-table #table [dataSource]="addedDataSource" *ngIf="addedDataSource.data.length > 0">
    <!-- Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let prop"> {{prop.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="kind">
      <mat-header-cell *matHeaderCellDef> Kind/Type </mat-header-cell>
      <mat-cell *matCellDef="let prop"> {{prop.kind}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let prop">
        <div>
          <mat-icon class="iconButton" (click)="removeProperty(prop)" style="cursor: pointer" matTooltip="Remove Property" matTooltipPosition="above"
            aria-label="Add Property">remove</mat-icon>
        </div>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <br>
  <h2>Rules</h2>

  <br>
  TODO RULES
  <br>


  <div fyLayout="row" fxLayoutAlign="start end">
    <button type="submit" mat-raised-button color="primary" >Save</button>
    <div>&nbsp;&nbsp;</div>
    <button type="button" (click)="navigateBack()" mat-raised-button color="basic">Cancel</button>
  </div>

</form>
