<div id="about" class="p-24" fxLayout="row wrap">
  <div class="repository-content" fxLayout="row wrap" fxLayoutAlign="center" class="competenceTableDiv">

    <mat-table #table [dataSource]="dataSource" class="competenceTable" *ngIf="commonProfile && commonProfile.competenceList.length > 0">
      <ng-container *ngFor="let column of columns" [cdkColumnDef]="column.columnDef">
        <mat-header-cell *cdkHeaderCellDef>{{ column.header }}</mat-header-cell>
        <mat-cell *cdkCellDef="let row">

          <button class="action-button" *ngIf="column.columnType == 'function' && column.cell(row) == 'SYNC'" (click)="synchronizeCompetence(row, column.marketplace)"
            mat-raised-button color="primary">Sync
          </button>
          <button class="action-button" *ngIf="column.columnType == 'function' && column.cell(row) == 'PUBLISH'" (click)="publishCompetence(row, column.marketplace)"
            mat-raised-button color="primary">Publish
          </button>
          <button class="action-button" *ngIf="column.columnType == 'function' && column.cell(row) == 'REVOKE'" (click)="revokeCompetence(row, column.marketplace)"
            mat-raised-button color="primary">Revoke
          </button>
          <div *ngIf="column.columnType == 'text'">
            {{ column.cell(row) }}
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <div *ngIf="!commonProfile || commonProfile.competenceList.length == 0">
      <strong> No competencies found. </strong>
    </div>


    <!-- chart -->
    <!-- <fuse-widget [@animate]="{value:'*',params:{y:'100%'}}" class="widget" fxLayout="column"
                 fxFlex="100" fxFlex.gt-sm="100">

      <div class="fuse-widget-front mat-white-bg mat-elevation-z2">

        <div class="px-16 py-8 border-bottom" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="h1">Your competence/skill distribution</div>
        </div>
        <div class="px-16 py-8" fxLayout="row" fxLayoutAlign="space-between center">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </fuse-widget> -->
    <!-- chart end -->

  </div>
</div>