<div class="page-layout blank p-24" fusePerfectScrollbar>

  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <h1>Tasks</h1>
  </div>
  <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="end end">
    <button mat-fab class="mat-warn" (click)="addTask()" aria-label="Add task" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
        <mat-icon>add</mat-icon>
      </button>
  </div>


  <div class="table">
    <div *ngIf="tableDataSource.data.length > 0" class="tasksTable" fxLayout="column" fxLayoutAlign="none">
      <table mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8" class="mat-elevation-z8">
        <ng-container matColumnDef="taskName">
          <th mat-header-cell *matHeaderCellDef> Tätigkeit </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_NAME].values[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="taskType1">
          <th mat-header-cell *matHeaderCellDef> Typ </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_TYPE_1].values[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="taskType2">
          <th mat-header-cell *matHeaderCellDef> Untertyp </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_TYPE_2].values[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="taskDescription">
          <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DESCRIPTION].values[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="taskDateFrom">
          <th mat-header-cell *matHeaderCellDef> Datum </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DATE_FROM].values[0] | date:'dd.MM.yyyy hh:mm'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="taskDateTo">
          <th mat-header-cell *matHeaderCellDef> Ende </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DATE_TO].values[0] | date:'dd.MM.yyyy hh:mm'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="taskDuration">
          <th mat-header-cell *matHeaderCellDef> Dauer [h] </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DURATION].values[0]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSize]="18" showFirstLastButtons></mat-paginator>


    <div class="no-data" *ngIf="tableDataSource.data.length === 0">
      Keine Tätigkeiten gefunden!
    </div>

  </div>

</div>