<div class="page-layout blank p-24" fusePerfectScrollbar>

  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <h1>Tasks</h1>
  </div>
  <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="end end">
    <button mat-fab class="mat-warn" (click)="addTask()" aria-label="Add task" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
        <mat-icon>add</mat-icon>
      </button>
  </div>


  <div class="table">

    <!-- <mat-table #table [dataSource]="dataSource" *ngIf="dataSource.data.length != 0">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let task">{{task.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let task">{{task.description | truncate:[20]}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let task">{{task.status}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="project">
        <mat-header-cell *matHeaderCellDef>Project</mat-header-cell>
        <mat-cell *matCellDef="let task">{{task.project.name}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="marketplace">
        <mat-header-cell *matHeaderCellDef>Marketplace</mat-header-cell>
        <mat-cell *matCellDef="let task">{{getMarketplaceName(task.marketplaceId)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="startDate">
        <mat-header-cell *matHeaderCellDef>StartDate</mat-header-cell>
        <mat-cell *matCellDef="let task">{{task.startDate | date: 'dd.MM.yyyy'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="endDate">
        <mat-header-cell *matHeaderCellDef>EndDate</mat-header-cell>
        <mat-cell *matCellDef="let task">{{task.endDate | date: 'dd.MM.yyyy'}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="requiredCompetences">
        <mat-header-cell *matHeaderCellDef>Required Competences</mat-header-cell>
        <mat-cell *matCellDef="let task">
           <span *ngFor="let requiredCompetence of task.requiredCompetences; let last = last">
            {{requiredCompetence.name}}<span *ngIf="!last">, </span>
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acquirableCompetences">
        <mat-header-cell *matHeaderCellDef>Acquirable Competences</mat-header-cell>
        <mat-cell *matCellDef="let task">
          <span *ngFor="let requiredCompetence of task.acquirableCompetences; let last = last">
            {{requiredCompetence.name}}<span *ngIf="!last">, </span>
          </span>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowSelect(row)"></mat-row>
    </mat-table> -->


    <div *ngIf="tableDataSource.data.length > 0" class="tasksTable" fxLayout="column" fxLayoutAlign="none">
      <h1>Tätigkeiten</h1>
      <table mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8" class="mat-elevation-z8">
        <ng-container matColumnDef="taskName">
          <th mat-header-cell *matHeaderCellDef> Tätigkeit </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_NAME].values[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="taskType1">
          <th mat-header-cell *matHeaderCellDef> Typ </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_TYPE_1].values[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="taskType2">
          <th mat-header-cell *matHeaderCellDef> Untertyp </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_TYPE_2].values[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="taskDescription">
          <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DESCRIPTION].values[0]}} </td>
        </ng-container>

        <ng-container matColumnDef="taskDateFrom">
          <th mat-header-cell *matHeaderCellDef> Datum </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DATE_FROM].values[0] | date:'dd.MM.yyyy hh:mm'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="taskDateTo">
          <th mat-header-cell *matHeaderCellDef> Ende </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DATE_TO].values[0] | date:'dd.MM.yyyy hh:mm'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="taskDuration">
          <th mat-header-cell *matHeaderCellDef> Dauer [h] </th>
          <td mat-cell *matCellDef="let element"> {{element.properties[TASK_DURATION].values[0]}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <mat-paginator [pageSize]="18" showFirstLastButtons></mat-paginator>


    <div class="no-data" *ngIf="tableDataSource.data.length === 0">
      Keine Tätigkeiten gefunden!
    </div>

  </div>

</div>