@import "src/@fuse/scss/fuse";

.radio-group {
  margin-bottom: 20px;
}

.radio-button {
  margin: 0 20px;
}

.description {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.header {
  margin-top: 10px;
}


.checkbox-margin {
  margin-left: 20px;
}

::ng-deep .mat-checkbox-label {
  min-width: 100px !important;
}

div.checkbox-group {
  display: inline-flex;
  flex-direction: column;
}

.slider {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.duration {
  margin-left: 20px;
}

