<div class="page-layout blank p-24" fusePerfectScrollbar>

    <!-- <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
        <h1>Einträge ableiten - Regeln</h1>
    </div> -->

    <div *ngIf="this.participant && isFF()">
      <div class="header-ff p-16 p-sm-24" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="l-heading">Einträge ableiten</h1>
        <img class="header-icon" src="assets/images/avatars/FF_Altenberg.jpg">
      </div>
    </div>
  
    <div *ngIf="this.participant &&  isMV()">
      <div class="header-mv p-16 p-sm-24" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="l-heading">Einträge ableiten</h1>
        <img class="header-icon" src="assets/images/avatars/musikvereinschwertberg.jpeg">
      </div>
    </div>
  
    <div *ngIf="this.participant && isOther()">
      <div class="header p-16 p-sm-24" fxLayout="row" fxLayoutAlign="center center">
        <h1 class="l-heading">Einträge ableiten</h1>
        <!-- <img class="header-icon" src="assets/images/avatars/FF_Altenberg.jpg"> -->
      </div>
    </div>

    <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="end end">
        <button mat-fab class="mat-warn" style="border-radius: 50%; background-color: green;" (click)="addDerivationRule()" aria-label="Add rule" *fuseIfOnDom
            [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
            <mat-icon class="add-btn-icon">add</mat-icon>
        </button>
    </div>

    <div class="table">
        <mat-table #table [dataSource]="dataSource" *ngIf="dataSource.data.length != 0">
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Regelname</mat-header-cell>
                <mat-cell *matCellDef="let rule">{{rule.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="sources">
                <mat-header-cell *matHeaderCellDef>Vorbedingungen</mat-header-cell>
                <mat-cell *matCellDef="let rule">
                    <span *ngFor="let source of rule.attributeSourceRules; let last = last">
                        {{source.classDefinition.name}}<span *ngIf="!last">, </span>
                    </span>
                    <span> &nbsp;  | &nbsp; </span>
                    <span *ngFor="let source of rule.classSourceRules; let last = last">
                      {{source.classDefinition.name}}<span *ngIf="!last">, </span>
                  </span>
                </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="target">
                <mat-header-cell *matHeaderCellDef>Abgeleiteter Eintrag 
  
                </mat-header-cell>
                <mat-cell *matCellDef="let rule">{{rule.target.name}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowSelect(row)"></mat-row>
        </mat-table>

        <div class="no-data" *ngIf="dataSource.data.length === 0">
            Keine Ableitungsregeln gefunden.
        </div>
    </div>

</div>