<mat-toolbar class="p-0 mat-elevation-z1">

  <mat-progress-bar *ngIf="showLoadingBar" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

    <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

      <button mat-icon-button class="toggle-button-navbar" *ngIf="!noNav" (click)="toggleSidebarOpened('navbar')"
        fxHide.gt-md>
        <mat-icon>menu</mat-icon>
      </button>

      <div class="toolbar-separator" fxHide.gt-md></div>

      <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNav">
        <div class="logo ml-16">
          <img class="logo-icon" src="assets/logo.png">
        </div>
      </div>

      <div class="px-8 px-mat-16" fxHide>
        <fuse-shortcuts *ngIf="navigation" [navigation]="navigation"></fuse-shortcuts>
      </div>

      <div class="px-8 px-mat-16">
        <fuse-marketplace-selection></fuse-marketplace-selection>
      </div>

    </div>

    <div  fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center" *ngIf="icons=='VOLUNTEER'">
      <mat-icon #inboxIcon class="mr-12" matBadge="8" matBadgePosition="before" matBadgeColor="warn" style="cursor: pointer"
        (click)="toggleInboxOverlay($event, inboxIcon)">inbox</mat-icon>
    </div>

    <inbox-overlay *ngIf="displayInboxOverlay"
      style="position: absolute; width: 300px; height: 200px; background: white; right:30px; top: 50px; border-color: black; border-style: solid; border-width: 1px; z-index: 255;">
    </inbox-overlay>




    <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
      <fuse-user-menu></fuse-user-menu>
    </div>
  </div>
</mat-toolbar>