composer-logs/
**/*.bna
**/*.card

/target/
**/target/
**/.settings/

.project
marketplace-frontend/package-lock.json
marketplace/Servers/**
/marketplace/.recommenders/**
**/db.json

**/.sts4-cache/
marketplace-frontend/src/app/main/content/_components/help-seeker/configuration/class-instances/form-editor/class-instance-form-editor.component.scss
marketplace-frontend/src/app/main/content/_components/help-seeker/configuration/class-instances/form-editor/class-instance-form-editor.component.html
marketplace-frontend/src/app/main/content/_components/help-seeker/task-management/task-select/task-select.component.ts

**/.vscode/
**/node_modules/

**/upload-dir/**
