<mat-accordion class="projects p-12 " fxLayout="row wrap" fxLayoutAlign="center">
  <mat-expansion-panel *ngFor="let project of currentProjects" class="fuse-card" fxFlex="100">
    <mat-expansion-panel-header>
      <mat-panel-title><h2>{{project.name}}</h2></mat-panel-title>
    </mat-expansion-panel-header>

    <div class="mat-expansion-panel-content">
      <mat-sidenav-container>

        <!-- CENTER -->
        <div class="center">

          <!-- CONTENT -->
          <div class="content pr-12 mat-white-bg" fusePerfectScrollbar>
            <mat-form-field>
            <textarea matInput placeholder="Description" [readonly]="true" [value]="project.description"
                      rows="5"></textarea>
            </mat-form-field>

            <mat-form-field>
              <input matInput [readonly]="true" placeholder="Start Date"
                     [value]="project.startDate | date: 'dd.MM.yyyy hh:mm'"/>
            </mat-form-field>

            <mat-form-field>
              <input matInput [readonly]="true" placeholder="End Date"
                     [value]="project.endDate | date: 'dd.MM.yyyy hh:mm'">
            </mat-form-field>
          </div>

          <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav right-sidenav " position="end" opened="true" mode="side"
                     fuseMatSidenavHelper="project-member-right-sidenav" mat-is-locked-open="gt-md">
          <fuse-project-member></fuse-project-member>
        </mat-sidenav>
        <!-- / SIDENAV -->

      </mat-sidenav-container>
      <mat-divider></mat-divider>
      <mat-sidenav-container>
        <div class="center">
          <div class="content pr-12 mat-white-bg" fusePerfectScrollbar>
            <div>Task list</div>
          </div>
        </div>
      </mat-sidenav-container>
    </div>

  </mat-expansion-panel>
</mat-accordion>
