<mat-accordion class="projects p-12 " fxLayout="row wrap" fxLayoutAlign="center">

  <mat-expansion-panel *ngFor="let project of projects" [expanded]="true" class="fuse-card" fxFlex="100">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2>{{project.name}}</h2>
        <div class="progress-bar">
          <span>0</span>
          <mat-progress-bar [color]="'primary'" [mode]="'determinate'"
                            [value]="calculateProgess(project)"></mat-progress-bar>
          <span>100</span>
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div class="mat-expansion-panel-content">
        <mat-sidenav-container>
          <!-- CENTER -->
          <div class="center">

            <!-- CONTENT -->
            <div class="content pd-12 mat-white-bg" fusePerfectScrollbar>
              <mat-form-field>
                <textarea matInput placeholder="Description" [readonly]="true" [value]="project.description"
                          rows="10"></textarea>
              </mat-form-field>

              <mat-form-field>
                <input matInput [readonly]="true" placeholder="Start Date"
                       [value]="project.startDate | date: 'dd.MM.yyyy hh:mm'"/>
              </mat-form-field>

              <mat-form-field>
                <input matInput [readonly]="true" placeholder="End Date"
                       [value]="project.endDate | date: 'dd.MM.yyyy hh:mm'">
              </mat-form-field>
            </div>
            <!-- / CONTENT -->
          </div>
          <!-- / CENTER -->
          <!-- SIDENAV -->
          <mat-sidenav class="sidenav right-sidenav " position="end" opened="true" mode="side"
                       fuseMatSidenavHelper="project-member-right-sidenav" mat-is-locked-open="gt-md">
            <fuse-project-members></fuse-project-members>
          </mat-sidenav>
          <!-- / SIDENAV -->
        </mat-sidenav-container>
        <mat-divider></mat-divider>
        <mat-sidenav-container>
          <fuse-project-task-list [projectId]="project.id"
                                  [marketplaceId]="project.marketplaceId"></fuse-project-task-list>
        </mat-sidenav-container>
      </div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
