@import "src/@fuse/scss/fuse";
@import '~@angular/material/theming';
@include mat-core();

$custom-typography: mat-typography-config(
  $font-family: 'Muli'
);
@include mat-core($custom-typography);

.title-section {
    font-family: "Muli","Helvetica Neue",Arial,sans-serif;
}

.content-section {
    font-family: "Muli","Helvetica Neue",Arial,sans-serif;
    overflow: scroll;
    .table-row {
        min-height: 0px;
        cursor: pointer;
    }

    mat-row:hover {
        background-color: rgb(62, 125, 219);

        mat-cell {
            color: white;
        }
    }  
}

.link {
    cursor: pointer;
    font-size: 16px;
    margin-right: 12px;
}
 
.preview-button {
    border-radius: 4px; 
    border-style: solid; 
    border-width: 1px; 
    border-color: currentColor; 
    background-color: white; 
    padding: 0 10px; 
    line-height: 20px;
  }

  .mat-column-archetype {
    padding-left: 5px;
    flex: 0 0 30px;
    padding-right: 5px;
}
