<div class="page-layout blank p-24" fusePerfectScrollbar>
  <div class="content" fxLayout="column" fxLayoutAlign="none">

    <div class="timeline" fxLayout="column" fxLayoutAlign="none">

      <div fxLayout="row" fxLayoutAlign="start center">
        <h1>Zeitverlauf</h1>

        <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
          <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedYaxis" (change)="onYaxisChange(group.value)">
            <mat-button-toggle value="Dauer">Dauer
            </mat-button-toggle>
            <mat-button-toggle value="Anzahl">Anzahl
            </mat-button-toggle>
          </mat-button-toggle-group>

          <div style="margin-left: 50px;"></div>

          <mat-form-field style="margin-top: 5px;">
            <mat-label>Jahr</mat-label>
            <mat-select [value]="selectedYear" (selectionChange)="onYearChange($event.value)">
              <mat-option value="2012"> 2012 </mat-option>
              <mat-option value="2013"> 2013 </mat-option>
              <mat-option value="2014"> 2014 </mat-option>
              <mat-option value="2015"> 2015 </mat-option>
              <mat-option value="2016"> 2016 </mat-option>
              <mat-option value="2017"> 2017 </mat-option>
              <mat-option value="2018"> 2018 </mat-option>
              <mat-option value="2019"> 2019 </mat-option>
              <mat-option value="Gesamt"> Gesamt </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="timeline">
        <ngx-charts-line-chart #lineChart [results]="timelineChartData" [scheme]="colorScheme" [schemeType]="schemeType" [legend]="legend" [legendTitle]="Legende" [legendPosition]="legendPosition" [showGridLines]="showGridLines" [tooltipDisabled]="tooltipDisabled"
          [xAxis]="true" [yAxis]="true" [showXAxisLabel]="false" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [animations]="true" [autoScale]="autoScale" [timeline]="true" [curve]="curve" (select)="timelineSelect($event)"
          [xAxisTickFormatting]="dateTickFormatting">
        </ngx-charts-line-chart>
      </div>


      <div fxLayout="row" fxLayoutAlign="left">
        <button class="filterButton" mat-raised-button (click)="filterTimelineApply()">Filtern</button>

        <mat-chip-list class="filterChip">
          <mat-chip color="primary" [removable]="removable" *ngIf="chipTimelineFilterFrom">
            {{chipTimelineFilterFrom | date:'dd.MM.yyyy'}} - {{chipTimelineFilterTo | date:'dd.MM.yyyy'}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <mat-chip color="primary" [removable]="removable" *ngIf="chipSelectedYear">{{chipSelectedYear}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <mat-chip color="primary" [removable]="removable" *ngIf="chipTaskType">{{chipTaskType}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>

      </div>
    </div>


    <mat-accordion multi="true">
      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tätigkeitsart
          </mat-panel-title>
          <mat-panel-description>
            Kategorisierung nach Art
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutAlign="space-between start">

          <div class="sunburstParent" id="sunburstChart"></div>

          <!-- <highcharts-chart class="sunburstParent" id="sunburstChart"
           [Highcharts]="Highcharts"
           [options]="chartOptions"
           (drilldown)="onDrilldown()"
           (drillup)="onDrilldown()"
           ></highcharts-chart> -->

          <div *ngIf="tableDataSource" class="tasksTable" fxLayout="column" fxLayoutAlign="none">
            <table #table mat-table [dataSource]="tableDataSource" matSort class="mat-elevation-z8" class="table mat-elevation-z8">
              <ng-container matColumnDef="taskName">
                <th mat-header-cell *matHeaderCellDef> Tätigkeit </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="taskType1">
                <th mat-header-cell *matHeaderCellDef> Typ </th>
                <td mat-cell *matCellDef="let element"> {{element.taskType1}} </td>
              </ng-container>

              <ng-container matColumnDef="taskType2">
                <th mat-header-cell *matHeaderCellDef> Untertyp </th>
                <td mat-cell *matCellDef="let element"> {{element.taskType2}} </td>
              </ng-container>

              <ng-container matColumnDef="taskDescription">
                <th mat-header-cell *matHeaderCellDef> Beschreibung </th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>

              <ng-container matColumnDef="taskDateFrom">
                <th mat-header-cell *matHeaderCellDef> Datum </th>
                <td mat-cell *matCellDef="let element">
                  {{element.dateFrom | date:'dd.MM.yyyy'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="taskDateTo">
                <th mat-header-cell *matHeaderCellDef> Ende </th>
                <td mat-cell *matCellDef="let element">
                  {{element.dateTo | date:'dd.MM.yyyy'}}
                </td>
              </ng-container>

              <ng-container matColumnDef="taskDuration">
                <th mat-header-cell *matHeaderCellDef> Dauer </th>
                <td class="right" mat-cell *matCellDef="let element"> {{element.duration}}h
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let element; let row; columns: displayedColumns;" [ngClass]="{
                'is-Veranstaltung': element.taskType1 === 'Veranstaltung',
                'is-Ausbildung': element.taskType1 === 'Ausbildung (aktiv)',
                'is-Jugendarbeit': element.taskType1 === 'Jugendarbeit',
                'is-Taetigkeit': element.taskType1 === 'Tätigkeit',
                'is-Bewerb': element.taskType1 === 'Bewerb',
                'is-Einsatz': element.taskType1 === 'Einsatz',
                'is-Probe': element.taskType1 === 'Probe',
                'is-Ausrueckung': element.taskType1 === 'Ausrückung'
              }"></tr>
            </table>
            <mat-paginator [pageSize]="18" showFirstLastButtons></mat-paginator>
          </div>
        </div>

        <div fxLayout="row">
          <app-share-menu [label]="'Zweck'" (export)="exportChart($event)">
          </app-share-menu>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel [expanded]="false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Zeit, Ort und Rang
          </mat-panel-title>
          <mat-panel-description>
            Kategorisierung nach Zeit, Ort und Rang
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="secondRow" fxLayout="row" fxLayoutAlign="space-evenly center">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <h2>Wochentag:</h2>
              <app-share-menu [label]="'Wochentag'" (export)="exportChart($event, 'Wochentag')">
              </app-share-menu>
            </div>
            <div class="donut-parent">
              <ngx-charts-pie-chart class="chart-container" [view]="[600, 600]" [results]="weekdayData" [animations]="animations" [labels]="true" [tooltipDisabled]="false" [legend]="false" [explodeSlices]="false" [doughnut]="true" arcWidth="0.6" scheme="cool" (select)="onDonutSelect($event)">
              </ngx-charts-pie-chart>
            </div>
          </div>

          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <h2>Tageszeit:</h2>
              <app-share-menu [label]="'Tageszeit'" (export)="exportChart($event, 'Tageszeit')">
              </app-share-menu>
            </div>
            <div class="donut-parent">
              <ngx-charts-pie-chart class="chart-container" [view]="[600, 600]" [results]="dayNightData" [animations]="animations" [labels]="true" [tooltipDisabled]="false" [legend]="false" [explodeSlices]="false" [doughnut]="true" arcWidth="0.6" scheme="cool" (select)="onDonutSelect($event)">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>

        <div class="secondRow" fxLayout="row" fxLayoutAlign="space-evenly center">
          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <h2>Orte:</h2>
              <app-share-menu [label]="'Orte'" (export)="exportChart($event, 'Orte')">
              </app-share-menu>
            </div>
            <div class="donut-parent">
              <ngx-charts-pie-chart class="chart-container" [view]="[600, 600]" [results]="locationData" [animations]="animations" [labels]="true" [tooltipDisabled]="false" [legend]="false" [explodeSlices]="false" [doughnut]="true" arcWidth="0.6" scheme="cool" (select)="onDonutSelect($event)">
              </ngx-charts-pie-chart>
            </div>
          </div>

          <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <h2>Rang:</h2>
              <app-share-menu [label]="'Rang'" (export)="exportChart($event, 'Rang')">
              </app-share-menu>
            </div>
            <div class="donut-parent">
              <ngx-charts-pie-chart class="chart-container" [view]="[600, 600]" [results]="rangData" [animations]="animations" [labels]="true" [tooltipDisabled]="false" [legend]="false" [explodeSlices]="false" [doughnut]="true" arcWidth="0.6" scheme="cool" (select)="onDonutSelect($event)">
              </ngx-charts-pie-chart>
            </div>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>