<div class="page-layout blank right-sidenav p-24" fusePerfectScrollbar>

  <!-- <app-classes-list *ngIf="!configuratorOpened" [marketplace]="marketplace" [configurableClasses]="configurableClasses"></app-classes-list> -->

  <app-classes-overview [marketplace]="marketplace" [configurableClasses]="configurableClasses" [relationships]="relationships"></app-classes-overview>



  <!-- <app-classes-configurator *ngIf="configuratorOpened" [marketplace]="marketplace"></app-classes-configurator> -->





</div>