<div mat-dialog-title>
  <table>
    <tr>
      <td>
        <mat-icon>new</mat-icon>
      </td>
      <td>
        <h1>Neue Klassenkonfiguration</h1>
      </td>
    </tr>
  </table>
</div>
<mat-dialog-content *ngIf="loaded">

  <mat-form-field style="width: 100%" appearance="outline">
    <input matInput placeholder=" Bezeichnung" [(ngModel)]="data.label" name="label" required>
  </mat-form-field>



  <!-- <div *ngIf="showErrors" style="color: red">
      <div *ngIf="!data.producerClassConfiguration"> Konfigurator für das Werkunternehmen wählen</div>
      <div *ngIf="!data.consumerClassConfiguration"> Konfigurator für den Werkbesteller wählen</div>
      <div *ngIf="data.consumerClassConfiguration === data.producerClassConfiguration"> Zwei verschiedene Konfiguratoren
        wählen</div>
      <div *ngIf="showDuplicateError"> Matching existiert bereits für gewählte Konfiguratoren</div>
    </div> -->



</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button [disabled]="browseMode" (click)="onOKClick()">OK</button>
  <button mat-button [mat-dialog-close]="undefined">Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
</mat-dialog-actions>