<div class="page-layout blank p-24" fusePerfectScrollbar>

  <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <h1>Task Templates</h1>
  </div>

  <div class="p-8 pt-16" fxLayout="row" fxLayoutAlign="end end">
    <button mat-fab class="mat-warn" (click)="addTaskTemplate()" aria-label="Add task template" *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <h3>Standard Templates</h3>

  <mat-table #table [dataSource]="dataSource" *ngIf="dataSource.data.length != 0">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let taskTemplate">{{taskTemplate.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let taskTemplate">{{taskTemplate.description | truncate:[20]}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="requiredCompetences">
      <mat-header-cell *matHeaderCellDef>Required Competences</mat-header-cell>
      <mat-cell *matCellDef="let taskTemplate">
        <span *ngFor="let requiredCompetence of taskTemplate.requiredCompetences; let last = last">
          {{requiredCompetence.name}}<span *ngIf="!last">, </span>
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acquirableCompetences">
      <mat-header-cell *matHeaderCellDef>Acquirable Competences</mat-header-cell>
      <mat-cell *matCellDef="let taskTemplate">
        <span *ngFor="let acquirableCompetence of taskTemplate.acquirableCompetences; let last = last">
          {{acquirableCompetence.name}}<span *ngIf="!last">, </span>
        </span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
      <mat-cell *matCellDef="let taskTemplate">
        <mat-icon style="cursor: pointer" routerLink="/main/task-template-form/{{taskTemplate.id}}">edit</mat-icon>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div class="no-data" *ngIf="dataSource.data.length === 0">
    No Task Templates found!
  </div>

  <h3>Minimal Templates</h3>

  <mat-table #table [dataSource]="dataSourceMinimal" *ngIf="dataSourceMinimal.data.length != 0">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>id</mat-header-cell>
      <mat-cell *matCellDef="let taskTemplate">{{taskTemplate.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let taskTemplate">{{taskTemplate.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let taskTemplate">{{taskTemplate.description | truncate:[20]}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsMinimal"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsMinimal;"></mat-row>

  </mat-table>

  <div class="no-data" *ngIf="dataSourceMinimal.data.length === 0">
    No Task Templates found!
  </div>

</div>