<!-- HEADER -->
<div class="header mat-accent-bg p-24" fxHide fxLayout="column" fxLayoutAlign="space-between">

</div>
<!-- / HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content p-12 mat-white-bg" fusePerfectScrollbar>

  <div *ngFor="let day of days">
    <header fxLayout="row" fxLayoutAlign="space-between start">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column">
          <div class="time p-12" style="font-weight: bold; padding-left: 0 !important">{{day}}</div>
        </div>
      </div>
    </header>

    <div class="content" style="position: relative; border-radius: 0;">
      <div class="timeline">
        <div class="timeline-item" *ngFor="let interaction of getTaskInteractionsByDay(day)">
          <span class="timeline-item-time" style="color: #898b96">{{interaction.timestamp | date: 'hh:mm'}}</span>
          <div class="timeline-item-cricle alert-warning">
            <mat-icon>change_history</mat-icon>
          </div>
          <div class="timeline-item-text" [ngSwitch]="interaction.operation">
            <span *ngSwitchCase="'CREATED'">Task is <b>created</b></span>
            <span *ngSwitchCase="'PUBLISHED'">Task is <b>published.</b></span>
            <span *ngSwitchCase="'RESERVED'">{{interaction.participant.username}} is <b>reserved.</b></span>
            <span *ngSwitchCase="'ASSIGNED'">{{interaction.participant.username}} is <b>assigned.</b></span>
            <span *ngSwitchCase="'RUNNING'">Task is <b>running.</b></span>
            <span *ngSwitchCase="'SUSPENDED'">Task is <b>suspended.</b></span>
            <span *ngSwitchCase="'FINISHED'">Task is <b>finished.</b></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / SIDENAV CONTENT -->
