<div class="page-layout blank p-24" fusePerfectScrollbar>
  <div class= "content" fxLayout="column" fxLayoutAlign="none">
      <div class="managmentSum" fxLayout="column" fxLayoutAlign="space-between none">
          <h1>Management Summary</h1>  
      </div>

      <div class="timeline" fxLayout="column" fxLayoutAlign="none">      
        <h1>Timeline</h1>  
        <div fxLayout="row" fxLayoutAlign="space-around center" >
            <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedYaxis" (change)="onYaxisChange(group.value)">
                <mat-button-toggle value="Dauer">Dauer
                </mat-button-toggle>
                <mat-button-toggle value="Anzahl">Anzahl
                </mat-button-toggle>
                <mat-button-toggle value="Distanz">Distanz
                </mat-button-toggle>
              </mat-button-toggle-group>

              <mat-form-field>
                <mat-label>Jahr</mat-label>
                  <mat-select [value]="selectedYear" (selectionChange)="onYearChange($event.value)">
                  <mat-option value="2017">  2017  </mat-option>
                  <mat-option value="2018">  2018  </mat-option>
                  <mat-option value="2019">  2019  </mat-option>
                  <mat-option value="gesamt">  Gesamt  </mat-option>
               </mat-select>
              </mat-form-field>         
        </div>
        
          <div class="timeline">
          <ngx-charts-timeline-filter-bar-chart
            class="chart-container"
            [scheme]="colorScheme"
            [schemeType]="schemeType"
            [results]="timelineData"
            [animations]="animations"
            [gradient]="gradient"
            [xAxis]="showXAxis"
            [yAxis]="showYAxis"
            [showXAxisLabel]="showYAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [showGridLines]="showGridLines"
            [noBarWhenZero]="noBarWhenZero"
            (onFilter)="onTimelineFilter($event)">
          </ngx-charts-timeline-filter-bar-chart>
        </div>
      </div>
        
      <div class="firstRow" fxLayout="row" fxLayoutAlign="space-between none">
          <div fxLayout="column" fxLayoutAlign="start none" >
              <h2>Zweck:</h2>
              <ngx-sunburst-chart 
              [width]="700"
              [data]="sunburstChartData" 
              colorScheme="cool"
              (click)="onClick($event)"
              (select)="onSelect($event)"
              (deactivate)="onSelect()"> 
              </ngx-sunburst-chart>
          </div>

          <div fxLayout="column" fxLayoutAlign="start none" >
              <h2>Arbeitsteilung:</h2>
              <div class="donut-parent">
              <ngx-charts-pie-chart
                class="chart-container"
                [view] = "[600, 600]"
                [results]="arbeitsteilungData"
                [animations]="animations"
                [labels]="true"
                [tooltipDisabled]="false"
                [legend]="false"
                [explodeSlices]="true"
                [doughnut]="true"
                arcWidth="0.6"
                scheme="cool">
              </ngx-charts-pie-chart>
              </div>
          </div>

          
      </div>
      <div class="secondRow" fxLayout="row" fxLayoutAlign="space-between none">
            <div fxLayout="column" fxLayoutAlign="start none" >
                <h2>Ebene:</h2>
                <div class="donut-parent">
                <ngx-charts-pie-chart
                class="chart-container"
                [view] = "[600, 600]"
                [results]="arbeitsteilungData"
                [animations]="animations"
                [labels]="true"
                [tooltipDisabled]="false"
                [legend]="false"
                [explodeSlices]="true"
                [doughnut]="true"
                arcWidth="0.6"
                scheme="cool">
              </ngx-charts-pie-chart>
              </div>
            </div>

            <div fxLayout="column" fxLayoutAlign="start none" >
                <h2>Wochentag:</h2>
                <div class="donut-parent">
                <ngx-charts-pie-chart
                class="chart-container"
                [view] = "[600, 600]"
                [results]="arbeitsteilungData"
                [animations]="animations"
                [labels]="true"
                [tooltipDisabled]="false"
                [legend]="false"
                [explodeSlices]="true"
                [doughnut]="true"
                arcWidth="0.6"
                scheme="cool"
                (select)="onSelect($event)">
              </ngx-charts-pie-chart>
              </div>
            </div>
    </div>
    <div class="thirdRow" fxLayout="row" fxLayoutAlign="space-between none">
        <div fxLayout="column" fxLayoutAlign="start none" >
            <h2>Rang:</h2>
            <div class="donut-parent">
            <ngx-charts-pie-chart
              class="chart-container"
              [view] = "[600, 600]"
              [results]="arbeitsteilungData"
              [animations]="animations"
              [labels]="true"
              [tooltipDisabled]="false"
              [legend]="false"
              [explodeSlices]="true"
              [doughnut]="true"
              arcWidth="0.6"
              scheme="cool">
          </ngx-charts-pie-chart>
        </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="start none" >
            <h2>Phase:</h2>
            <div class="donut-parent">
            <ngx-charts-pie-chart
              class="chart-container"
              [view] = "[600, 600]"
              [results]="arbeitsteilungData"
              [animations]="animations"
              [labels]="true"
              [tooltipDisabled]="false"
              [legend]="false"
              [explodeSlices]="true"
              [doughnut]="true"
              arcWidth="0.6"
              scheme="cool">
            </ngx-charts-pie-chart>
            </div>
        </div>
  </div>

</div>

  
<!--
  <mat-card class="example-card">
              <mat-card-header>
                <mat-card-title>Zweck:</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <ngx-sunburst-chart 
                [width]="600"
                [data]="sunburstChartData" 
                colorScheme="cool">
                </ngx-sunburst-chart>
              </mat-card-content>
          </mat-card>
-->