.example-card {
  //  max-width: 300px;
  background-color: rgb(245, 245, 245);

  mat-card-header {
    background-color: rgb(238, 238, 238);
    vertical-align: bottom;    
}   
}
  
table {
    font-size: larger;
    width: 400pt;
    margin-bottom: 30pt;
  }

.donut-parent{
    margin-top: -50px;
    min-height: 350px;
    min-width: 350px;
}

.timeline {
    height: 600px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}
