.example-card {
  //  max-width: 300px;
  background-color: rgb(245, 245, 245);

  mat-card-header {
    background-color: rgb(238, 238, 238);
    vertical-align: bottom;    
}   
}

.donut-parent{
    margin-top: -50px;
    min-height: 350px;
    min-width: 350px;
}

.timeline {
    height: 550px;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.filterButton {
  margin-left: 60px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 130px;
}

.sunburstParent {
width: 70%;
}

.tasksTable {
width: 30%;
}

.selector {
  width: 100px;
  margin-left: 50px;
}
