.example-card {
  //  max-width: 300px;
  background-color: rgb(245, 245, 245);

  mat-card-header {
    background-color: rgb(238, 238, 238);
    vertical-align: bottom;    
}   
}

.donut-parent{
    margin-top: -50px;
    min-height: 350px;
    min-width: 350px;
}

.timeline {
    height: 550px;
}

table {
  width: 100%;
}

.right {
  text-align: right
}

th.mat-sort-header-sorted {
  color: black;
}

.filterButton {
  margin-left: 60px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 130px;
}

.filterChip {
  margin-top: 8px;
}

.sunburstParent {
width: 70%;
}

.tasksTable {
width: 30%;
}

.selector {
  width: 100px;
  margin-left: 50px;
}


tr.is-Veranstaltung {
  background: rgba(rgb(168, 56, 93), $alpha: 0.7);
}
tr.is-Ausbildung {
  background: rgba(rgb(122, 163, 229), $alpha: 0.7);
}
tr.is-Jugendarbeit {
  background: rgba(rgb(162, 126, 168), $alpha: 0.7);
}
tr.is-Taetigkeit {
  background: rgba(rgb(170, 227, 245), $alpha: 0.7);
}
tr.is-Bewerb {
  background: rgba(rgb(173, 205, 237), $alpha: 0.7);
}
tr.is-Einsatz {
  background: rgba(rgb(169, 89, 99), $alpha: 0.7);
}

.highcharts-drillup-button {
  display: none !important;
  
}


