<div class="profile-box latest-activity" fxLayout="column">

  <div class="content" fxLayout="row wrap">
    <div class="activities">
      <div class="activity" fxLayout="row" fxLayoutAlign="start start" *ngFor="let activity of timeline.activities">
        <img [src]="activity.user.avatar" class="avatar" alt="{{activity.user.name}}" />

        <div fxLayout="column">
          <div>
            <span class="username">{{activity.user.name}}</span>
            <span class="message"> {{activity.message}}</span>
          </div>
          <span class="time secondary-text">{{activity.time}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
