<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli|Roboto:300,400,500,700|Google+Sans" />

<div class="page-layout blank p-24" fusePerfectScrollbar>
  <customizable-header *ngIf="tenant" [tenant]="tenant" [displayNavigateBack]="false" headerText="Herzlich Willkommen bei iVolunteer"></customizable-header>

  <!-- Landing Pages.. TODO Remove/Replace someday -->

  <div *ngIf="this.user && isFF()">
    <section fxLayout="column" class="p-40">
      <h2 class="verein-heading">Freiwillige Feuerwehr Eidenberg</h2>

      <img src="assets/images/FF_Eidenberg.png" alt="FF Eidenberg" />
    </section>
  </div>

  <div *ngIf="this.user && isMV()">
    <section fxLayout="column" class="p-40">
      <h2 class="verein-heading">Musikverein Schwertberg</h2>
      <img src="assets/images/musicverein.jpg" alt="Musikverein Schwertberg" />
    </section>
  </div>
</div>