<div style="width: 100%;" class="pb-4 pr-4">
  <div *ngIf="formEntry.questions.length <= 0">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>subdirectory_arrow_right</mat-icon>
      <h1 class="no-padding-margin pl-4">
        {{ formEntry.classDefinitions[0].name }}
      </h1>
    </div>
    <div *ngFor="let entry of formEntry.subEntries">
      <app-form-entry-view [formEntry]="entry" [formConfiguration]="formConfiguration" [finishClicked]="finishClicked"
        [ignoreValidity]="ignoreValidity" (result)="handleResultEvent($event)"></app-form-entry-view>
    </div>
  </div>

  <div *ngIf="formEntry.questions.length > 0" fxLayout="row" fxLayoutAlign="center center" class="m-12">
    <!-- <mat-icon>chevron_right</mat-icon> -->

    <mat-expansion-panel [expanded]="expanded" style="width: 100%;">
      <mat-expansion-panel-header expandedHeight="40px">
        <mat-panel-title>
          {{ formEntry.classDefinitions[0].name }}
        </mat-panel-title>

        <!-- <mat-panel-description style="width: 80%; text-align: start">
                {{demoClassPaths[0]}}
            </mat-panel-description> -->
      </mat-expansion-panel-header>

      <div class="m-12">
        <app-dynamic-class-instance-creation-form *ngIf="formEntry.questions.length > 0"
          [questions]="formEntry.questions" hideButtons="true" [formConfigurationId]="formConfiguration.id"
          [form]="formEntry.formGroup" lastEntry="false" [finishClicked]="finishClicked"
          [ignoreValidity]="ignoreValidity" (resultEvent)="handleResultEvent($event)"
          (cancelEvent)="handleCancelEvent()" (tupleSelected)="handleTupleSelection($event)">
        </app-dynamic-class-instance-creation-form>
      </div>
      <div *ngFor="let entry of formEntry.subEntries">
        <app-form-entry-view [formEntry]="entry" [formConfiguration]="formConfiguration" [finishClicked]="finishClicked"
          expanded="false" [ignoreValidity]="ignoreValidity" (result)="handleResultEvent($event)"
          (tupleSelected)="handleTupleSelection($event)">
        </app-form-entry-view>
      </div>
    </mat-expansion-panel>
  </div>
</div>