@import "src/@fuse/scss/fuse";

  mat-expansion-panel {
    box-shadow: none;
    border: 2px black solid;
  }

  mat-expansion-panel-header:hover, mat-expansion-panel-header.mat-expanded {
    background-color: rgb(4, 123, 202) !important;
    border-radius: 0;

    mat-panel-title {
      color: white;
    }
    
    mat-panel-description {
      color: white;
    }
  }

  .form-with-border {
    border: black 2px solid; 
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
  }


