<div id="get-engaged" class="page-layout blank p-24" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header p-16 p-sm-24" fxLayout="column" fxLayoutAlign="center center">
    <h1>Get Engaged</h1>
    <img class="header-icon" src="assets/icons/get-engaged.svg">
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content">

    <mat-tab-group dynamicHeight="true">
      <mat-tab label="Recommendations">
        <fuse-recommendations></fuse-recommendations>
      </mat-tab>

      <mat-tab label="Suggestions">
        <fuse-suggestions></fuse-suggestions>
      </mat-tab>

      <mat-tab label="Manual Search">
        <fuse-search></fuse-search>
      </mat-tab>

      <mat-tab label="Preferences">
        <fuse-preferences></fuse-preferences>
      </mat-tab>

    </mat-tab-group>

  </div>
  <!-- / CONTENT -->

</div>
