<div mat-dialog-title>
  <table>
    <tr>
      <td>
        <mat-icon>add</mat-icon>
      </td>
      <td>
        <h1>Neue Klassenkonfiguration</h1>
      </td>
    </tr>
  </table>
</div>
<mat-dialog-content *ngIf="loaded">
  <form [formGroup]="dialogForm">
    <mat-label>Bezeichnung Konfiguration*</mat-label>
    <mat-form-field style="width: 100%;" appearance="outline" #label>
      <input
        matInput
        name="label"
        class="form-control"
        formControlName="label"
        required
      />
    </mat-form-field>

    <mat-label>Beschreibung (optional)</mat-label>
    <mat-form-field style="width: 100%;" appearance="outline">
      <textarea
        matInput
        name="description"
        formControlName="description"
        matTextareaAutosize
        matAutosizeMinRows="3"
        matAutosizeMaxRows="3"
      ></textarea>
    </mat-form-field>

    <!-- <div class="pt-20 pb-16">
      <mat-divider></mat-divider>
    </div>

    <mat-label>Bezeichnung Wurzelknoten*</mat-label>
    <mat-form-field style="width: 100%" appearance="outline" #rootLabel>
      <input matInput name="rootLabel" formControlName="rootLabel" required />
    </mat-form-field> -->
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onOKClick()">Bestätigen</button>
  <button mat-button [mat-dialog-close]="undefined">Abbrechen</button>
</mat-dialog-actions>
