<div>

  <mat-radio-group aria-label="Auswählen" [(ngModel)]="selectionValue">
    <mat-radio-button value="property">Property erstellen</mat-radio-button>
    <mat-radio-button value="enum">Enum erstellen</mat-radio-button>
  </mat-radio-group>

  <div class="m-8">
    <mat-divider></mat-divider>
  </div>

  <div *ngIf="selectionValue == 'property'">
    <app-single-property-builder [marketplace]="marketplace" [helpseeker]="helpseeker"
      (result)="handleResultEvent($event)">
    </app-single-property-builder>
  </div>

  <div *ngIf="selectionValue == 'enum'">
    <app-enum-builder [marketplace]="marketplace" [helpseeker]="helpseeker" (result)="handleResultEvent($event)">
    </app-enum-builder>
  </div>

</div>