<link type="text/css" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Muli|Roboto:300,400,500,700|Google+Sans">


<div class="page-layout blank p-24" fusePerfectScrollbar style="overflow: scroll">

    <div style="padding-top: 12px"></div>

    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Dashboard</h1>
        <h1 style="margin-top: 0; font-size: 18px; padding-top:50px; padding-left:220px; text-align: left;">Welcome
            Back</h1>

        <div style=" position: relative; width: 120px; height: 120px; padding-top: 0px;">
            <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                src="../../../../assets/images/avatars/joyce.jpg">
        </div>
    </div>

    <div style="padding-top: 20px"></div>

    <div></div>

    <div style="padding-top: 10px"></div>



    <!--TOP WIDGET ROW-->
    
    <!--TODO ReInsert Widget row-->

    <!--END TOP WIDGET ROW-->

    <mat-divider></mat-divider>
    <!-- <mat-tab-group selectedIndex=4 color="primary">
        <mat-tab label="Fulfilled Tasks">Content 1 </mat-tab>
        <mat-tab label="Competences"> Content 1 </mat-tab>
        <mat-tab label="Accomplishments"> Content 1 </mat-tab>
        <mat-tab label="Feedback"> Content 1 </mat-tab>
        <mat-tab label="Recent"> -->

    <div style="padding-top: 10px"></div>
    
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div></div>
        <button *ngIf="!showInbox" mat-stroked-button type="button" color="accent" matBadge="8" matBadgePosition="before" (click)="showInbox=true" style="width: 120px">Show Inbox</button>
        <div></div>
    </div>

    <!--Asset Inbox-->
    <div *ngIf=showInbox>
        <asset-inbox (showInbox)="showInbox=$event"></asset-inbox>
    </div>
    <div style="padding-top: 25px"></div>
    <!--END Asset Inbox-->

    <div class="mat-card" fxLayout="column">

        <div style="padding-top: 10px;"></div>

        <!-- First row -->
        <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-left: 5px">
            <div fxLayout=row fxLayoutAlign="start center">
                <div style=" z-index: 255; position: relative; width: 35px; height: 35px;">
                    <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                        src="../../../../assets/Vault.png">
                </div>
                <div style="padding-left: 5px"></div>
                <div
                    style="font-size: 20px; padding-top: 3px; padding-right: 3px; font-weight: 300px; font-variant:small-caps">
                    Your Private Engagement Asset Repository</div>
            </div>

            <div></div>

            <!--Share Icon and Menu-->
            <div style="padding-right: 20px; padding-top: 5px">
                <button mat-mini-fab type="button" color="primary" [matMenuTriggerFor]="shareMenu">
                    <mat-icon>share</mat-icon>
                </button>

                <mat-menu #shareMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
                    <button mat-menu-item (click)="triggerShareDialog()" style="width: 220px">
                        <div fxLayout="row" fxLayoutAlign="start center">

                            <img class="avatar" src="../../../../assets/images/logos/OERK_Sonderlogo_rgb.jpg">
                            <div style="padding-left: 10px"></div>
                            <div>ÖRK</div>
                        </div>
                    </button>
                    <button mat-menu-item (click)="triggerShareDialog()" style="width: 220px">
                        <div fxLayout="row" fxLayoutAlign="start center">

                            <img class="avatar" src="../../../../assets/images/logos/FF_Altenberg.jpg">
                            <div style="padding-left: 10px"></div>
                            <div>FF Altenberg</div>
                        </div>
                    </button>
                    <button mat-menu-item (click)="triggerShareDialog()" style="width: 220px">
                        <div fxLayout="row" fxLayoutAlign="start center">

                            <img class="avatar" src="../../../../assets/images/logos/neighborhelp.jpg">
                            <div style="padding-left: 10px"></div>
                            <div>Forum Alpbach</div>
                        </div>
                    </button>
                    <button mat-menu-item (click)="triggerShareDialog()" style="width: 220px"
                        matTooltip="Recruiter: 'Best Jobs'">
                        <div fxLayout="row" fxLayoutAlign="start center">

                            <img class="avatar" src="../../../../assets/images/logos/recruiter.jpg">
                            <div style="padding-left: 10px"></div>
                            <div>Recruiter: 'Best Jobs'</div>
                        </div>
                    </button>
                </mat-menu>
            </div>
        </div>
        <!--END Share Icon and Menu-->

        <!-- END First row -->

        <div style="padding-top: 10px"></div>

        <!---FILTER BY ORGANIZATION ROW-->
        <div style="font-size: 16px; padding-left: 10px">
            <div>Filter by Organization</div>
            <div fxLayout="row" fxLayoutAlign="start start">

                <button mat-stroked-button type="button" color="accent" style="height: 60px; min-width: 60px;"
                    fxLayout="row" fxLayoutAlign="start center">
                    <div style=" position: relative; width: 50px; height: 50px; padding-top: 5px;">
                        <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                            src="../../../../assets/images/logos/OERK_Sonderlogo_rgb_cropped.jpg">
                    </div>
                </button>

                <div style="padding:1px"></div>
                <button mat-stroked-button type="button" color="accent" style="height: 60px; min-width: 60px;"
                    fxLayout="row" fxLayoutAlign="start center">
                    <div style=" position: relative; width: 50px; height: 50px; padding-top: 5px;">
                        <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                            src="../../../../assets/images/logos/FF_Altenberg.jpg">
                    </div>
                </button>

                <div style="padding:1px"></div>
                <button mat-stroked-button type="button" color="accent" style="height: 60px; min-width: 60px;"
                    fxLayout="row" fxLayoutAlign="start center">
                    <div style=" position: relative; width: 50px; height: 50px; padding-top: 5px;">
                        <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                            src="../../../../assets/images/logos/neighborhelp.jpg">
                    </div>
                </button>

                <div style="padding:1px"></div>
                <button mat-flat-button type="button" color="accent" style="height: 60px; min-width: 60px;"
                    fxLayout="row" fxLayoutAlign="start center">
                    <div style=" position: relative; width: 50px; height: 50px; padding-top: 7px;">
                        All
                    </div>
                </button>
            </div>
        </div>

        <!---FILTER BY ORGANIZATION ROW-->

        <div style="padding-top: 10px"></div>

        <!--TABLE HEADERS-->
        <div fxLayout="row" style="width: 100%">
            <div fxFlex="2"></div>
            <div fxFlex=31>
                <div fxLayout="row" fxLayoutAlign="start start">
                    <div style=" z-index: 255; position: relative; width: 22px; height: 22px; padding-top: 7px">
                        <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                            src="../../../../assets/cog.png">
                    </div>
                    <div style="font-size: 18px">Recent Tasks</div>
                </div>
            </div>

            <div fxFlex="0.5"></div>
            <mat-divider fxFlex=0.01 vertical="true"></mat-divider>
            <div fxFlex="0.5"></div>

            <div fxFlex=31 style="font-size: 18px">
                <div fxLayout=row fxLayoutAlign="start center">
                    <mat-icon inline="true" style="font-size: 18px;">feedback</mat-icon>
                    <div style="font-size: 18px">Recent Feedback</div>
                </div>
            </div>


            <div fxFlex="0.5"></div>
            <mat-divider fxFlex=0.01 vertical="true"></mat-divider>
            <div fxFlex="0.5"></div>

            <div fxFlex=31 style="font-size: 18px">
                <div fxLayout=row fxLayoutAlign="start start">
                    <div style=" z-index: 255; position: relative; width: 22px; height: 22px; padding-top: 7px">
                        <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                            src="../../../../assets/competence.jpg">
                    </div>
                    <div style="font-size: 18px">Recent Competences</div>
                </div>
            </div>
            <div fxFlex="2"></div>
        </div>
        <!--END TABLE HEADERS-->


        <!--DIVIDER-->
        <div fxLayout="row" style="width: 100%">
            <div fxFlex="3"></div>
            <mat-divider fxFlex></mat-divider>
            <div fxFlex="3"></div>
        </div>
        <!--END DIVIDER-->

        <div fxLayout="row" style="width: 100%">
            <div fxFlex="2"></div>

            <!--TASK COLUMN-->
            <mat-table fxFlex="31" #tableTasks [dataSource]="dataSourceTasks">
                <ng-container matColumnDef="label_tasks">
                    <mat-header-cell *matHeaderCellDef>Label</mat-header-cell>
                    <mat-cell *matCellDef="let entry">
                        <div fxLayout="column" fxLayoutAlign="start start">
                            <div>{{entry.label}}</div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="issuer">
                    <mat-header-cell *matHeaderCellDef>Issuer</mat-header-cell>
                    <mat-cell *matCellDef="let entry">

                        <img *ngIf="entry.issuer == 'ÖRK'" class="avatar"
                            src="../../../../assets/images/logos/OERK_Sonderlogo_rgb.jpg">
                        <img *ngIf="entry.issuer == 'FF Altenberg'" class="avatar"
                            src="../../../../assets/images/logos/FF_Altenberg.jpg">
                        <img *ngIf="entry.issuer == 'HelpYourNeighbor'" class="avatar"
                            src="../../../../assets/images/logos/neighborhelp.jpg">

                        <!-- <div>{{entry.issuer}}</div>  -->
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="date1">
                    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                    <mat-cell *matCellDef="let entry">
                        {{entry.date1}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="details">
                    <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
                    <mat-cell *matCellDef="let entry">

                        <mat-icon [matMenuTriggerFor]="newMenu" style="cursor: pointer">more_vert</mat-icon>

                        <mat-menu #newMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
                            <button mat-menu-item routerLink="/task/add">Details</button>
                            <button mat-menu-item>Evidence</button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
                <mat-row *matRowDef="let row; columns: displayedColumnsTasks;"
                    [ngClass]="{ 'highlighted_new': row.status == 'new' }"></mat-row>
            </mat-table>
            <!--END TASK COLUMN-->

            <!--MID DIVIDER-->
            <div fxFlex="0.5"></div>
            <mat-divider fxFlex=0.01 vertical="true"></mat-divider>
            <div fxFlex="0.5"></div>
            <!--END MID DIVIDER-->

            <!--FEEDBACK COLUMN-->
            <mat-table fxFlex="31" #tableFeedback [dataSource]="dataSourceFeedback">

                <ng-container matColumnDef="issuer">
                    <mat-header-cell *matHeaderCellDef>Issuer</mat-header-cell>
                    <mat-cell *matCellDef="let entry">

                        <img *ngIf="entry.issuer == 'ÖRK'" class="avatar"
                            src="../../../../assets/images/logos/OERK_Sonderlogo_rgb.jpg">
                        <img *ngIf="entry.issuer == 'FF Altenberg'" class="avatar"
                            src="../../../../assets/images/logos/FF_Altenberg.jpg">

                        <!-- <div>{{entry.issuer}}</div>  -->
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="label_feedback">
                    <mat-header-cell *matHeaderCellDef>Label</mat-header-cell>
                    <mat-cell *matCellDef="let entry">
                        <div *ngIf="entry.type == 'star'" fxLayout="column" fxLayoutAlign="start start">
                            <div>{{entry.label}}</div>
                            <!-- <div style="padding-top: 4px"></div> -->
                            <div fxLayout="row" fyLayoutAlign="start center">
                                <div style="padding-left: 5px"></div>
                                <mat-icon class="amber-fg">star_rate</mat-icon>
                                <mat-icon class="amber-fg">star_rate</mat-icon>
                                <mat-icon class="amber-fg">star_rate</mat-icon>
                                <mat-icon class="amber-fg">star_rate</mat-icon>
                                <mat-icon class="amber-fg">star_rate</mat-icon>
                            </div>
                        </div>

                        <div *ngIf="entry.type =='kudos'" fxLayout="column" fxLayoutAlign="start center">
                            <div>{{entry.label}}</div>
                            <mat-icon *ngIf="entry.status!='new'" class="green-fg">thumb_up</mat-icon>
                            <mat-icon *ngIf="entry.status=='new'" class="white-fg">thumb_up</mat-icon>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="date1">
                    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                    <mat-cell *matCellDef="let entry">
                        {{entry.date1}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="details">
                    <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
                    <mat-cell *matCellDef="let entry">

                        <mat-icon [matMenuTriggerFor]="newMenu" style="cursor: pointer">more_vert</mat-icon>

                        <mat-menu #newMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
                            <button mat-menu-item routerLink="/task/add">Details</button>
                            <button mat-menu-item>Evidence</button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
                <mat-row *matRowDef="let row; columns: displayedColumnsFeedback;"
                    [ngClass]="{ 'highlighted_new': row.status == 'new', 'highlighted_increased': row.status == 'increased'}">
                </mat-row>
            </mat-table>
            <!--END FEEDBACK COLUMN-->

            <!--MID DIVIDER-->
            <div fxFlex="0.5"></div>
            <mat-divider fxFlex=0.01 vertical="true"></mat-divider>
            <div fxFlex="0.5"></div>
            <!--END MID DIVIDER-->

            <!--COMPETENCE COLUMN-->
            <mat-table fxFlex="31" #tableComp [dataSource]="dataSourceComp">
                <ng-container matColumnDef="label_competence">
                    <mat-header-cell *matHeaderCellDef>Label</mat-header-cell>
                    <mat-cell *matCellDef="let entry">
                        {{entry.label}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="issuer">
                    <mat-header-cell *matHeaderCellDef>Issuer</mat-header-cell>
                    <mat-cell *matCellDef="let entry">

                        <img *ngIf="entry.issuer == 'ÖRK'" class="avatar"
                            src="../../../../assets/images/logos/OERK_Sonderlogo_rgb.jpg">
                        <img *ngIf="entry.issuer == 'FF Altenberg'" class="avatar"
                            src="../../../../assets/images/logos/FF_Altenberg.jpg">

                        <!-- <div>{{entry.issuer}}</div>  -->
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="date1">
                    <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                    <mat-cell *matCellDef="let entry">
                        {{entry.date1}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="details">
                    <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
                    <mat-cell *matCellDef="let entry">

                        <mat-icon [matMenuTriggerFor]="newMenu" style="cursor: pointer">more_vert</mat-icon>


                        <mat-menu #newMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
                            <button mat-menu-item routerLink="/task/add">Details</button>
                            <button mat-menu-item>Evidence</button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>


                <!-- <mat-header-row *matHeaderRowDef="displayedColumnsAll"></mat-header-row> -->
                <mat-row *matRowDef="let row; columns: displayedColumnsCompetence;"
                    [ngClass]="{ 'highlighted_new': row.status == 'new', 'highlighted_increased': row.status == 'increased'}">
                </mat-row>
            </mat-table>
            <!--END COMPETENCE COLUMN-->

            <div fxFlex="2"></div>
        </div>

        <!--DIVIDER-->
        <div fxLayout="row" style="width: 100%; padding-top: 2px">
            <div fxFlex="2"></div>
            <mat-divider fxFlex></mat-divider>
            <div fxFlex="2"></div>
        </div>
        <!--END DIVIDER-->

        <button mat-stroked-button type="button" color="accent">More in History</button>

    </div>



    <!-- </mat-tab>
        <mat-tab label="History">
            content
        </mat-tab>
    </mat-tab-group> -->

</div>