<link type="text/css" rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Muli|Roboto:300,400,500,700|Google+Sans">


<div class="page-layout blank p-24" fusePerfectScrollbar style="overflow: scroll" *ngIf="isLoaded">

    <div style="padding-top: 12px"></div>

    <div class="header mat-accent-bg p-16 p-sm-24" fxLayout="row" fxLayoutAlign="space-between center">
        <h1>Dashboard</h1>
        <h1 style="margin-top: 0; font-size: 18px; padding-top:50px; padding-left:220px; text-align: left;">Welcome
            Back</h1>

        <div style=" position: relative; width: 120px; height: 120px; padding-top: 0px;">
            <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                src="../../../../assets/images/avatars/joyce.jpg">
        </div>
    </div>

    <div style="padding-top: 20px"></div>

    <div></div>

    <div style="padding-top: 10px"></div>



    <!--TOP WIDGET ROW-->

    <!--TODO ReInsert Widget row-->

    <!--END TOP WIDGET ROW-->

    <mat-divider></mat-divider>
    <!-- <mat-tab-group selectedIndex=4 color="primary">
        <mat-tab label="Fulfilled Tasks">Content 1 </mat-tab>
        <mat-tab label="Competences"> Content 1 </mat-tab>
        <mat-tab label="Accomplishments"> Content 1 </mat-tab>
        <mat-tab label="Feedback"> Content 1 </mat-tab>
        <mat-tab label="Recent"> -->

    <div style="padding-top: 10px"></div>



    <div class="mat-card" fxLayout="column">

        <div style="padding-top: 10px;"></div>

        <!-- First row -->
        <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-left: 5px">
            <div fxLayout=row fxLayoutAlign="start center">
                <div style=" z-index: 255; position: relative; width: 35px; height: 35px;">
                    <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                        src="../../../../assets/Vault.png">
                </div>
                <div style="padding-left: 5px"></div>
                <div
                    style="font-size: 20px; padding-top: 3px; padding-right: 3px; font-weight: 300px; font-variant:small-caps">
                    Your Private Engagement Asset Repository</div>
            </div>

            <div></div>

            <!--Share Icon and Menu-->
            <div style="padding-right: 20px; padding-top: 5px">
                <button mat-mini-fab type="button" color="primary" [matMenuTriggerFor]="shareMenu">
                    <mat-icon>share</mat-icon>
                </button>

                <mat-menu #shareMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
                    <mat-label mat-menu-item disabled style="color: black">Share with...</mat-label>

                    <button mat-menu-item (click)="triggerShareDialog()" style="width: 220px">
                        <div fxLayout="row" fxLayoutAlign="start center">

                            <img class="avatar" src="../../../../assets/images/logos/OERK_Sonderlogo_rgb.jpg">
                            <div style="padding-left: 10px"></div>
                            <div>ÖRK</div>
                        </div>
                    </button>
                    <button mat-menu-item (click)="triggerShareDialog()" style="width: 220px">
                        <div fxLayout="row" fxLayoutAlign="start center">

                            <img class="avatar" src="../../../../assets/images/logos/FF_Altenberg.jpg">
                            <div style="padding-left: 10px"></div>
                            <div>FF Altenberg</div>
                        </div>
                    </button>
                    <button mat-menu-item (click)="triggerShareDialog()" style="width: 220px">
                        <div fxLayout="row" fxLayoutAlign="start center">

                            <img class="avatar" src="../../../../assets/images/logos/neighborhelp.jpg">
                            <div style="padding-left: 10px"></div>
                            <div>Forum Alpbach</div>
                        </div>
                    </button>
                    <button mat-menu-item (click)="triggerShareDialog()" style="width: 220px"
                        matTooltip="Recruiter: 'Best Jobs'">
                        <div fxLayout="row" fxLayoutAlign="start center">

                            <img class="avatar" src="../../../../assets/images/logos/recruiter.jpg">
                            <div style="padding-left: 10px"></div>
                            <div>Recruiter: 'Best Jobs'</div>
                        </div>
                    </button>
                </mat-menu>
            </div>
        </div>
        <!--END Share Icon and Menu-->

        <!-- END First row -->

        <div style="padding-top: 10px"></div>

        <!---FILTER BY ORGANIZATION ROW-->
        <div style="font-size: 16px; padding-left: 10px">
            <div>Filter by Organization</div>
            <div fxLayout="row" fxLayoutAlign="start start">

                <button mat-stroked-button type="button" color="accent" style="height: 60px; min-width: 60px;"
                    fxLayout="row" fxLayoutAlign="start center">
                    <div style=" position: relative; width: 50px; height: 50px; padding-top: 5px;">
                        <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                            src="../../../../assets/images/logos/OERK_Sonderlogo_rgb_cropped.jpg">
                    </div>
                </button>

                <div style="padding:1px"></div>
                <button mat-stroked-button type="button" color="accent" style="height: 60px; min-width: 60px;"
                    fxLayout="row" fxLayoutAlign="start center">
                    <div style=" position: relative; width: 50px; height: 50px; padding-top: 5px;">
                        <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                            src="../../../../assets/images/logos/FF_Altenberg.jpg">
                    </div>
                </button>

                <div style="padding:1px"></div>
                <button mat-stroked-button type="button" color="accent" style="height: 60px; min-width: 60px;"
                    fxLayout="row" fxLayoutAlign="start center">
                    <div style=" position: relative; width: 50px; height: 50px; padding-top: 5px;">
                        <img style="object-fit: contain; max-width: 100%; max-height: 100%"
                            src="../../../../assets/images/logos/neighborhelp.jpg">
                    </div>
                </button>

                <div style="padding:1px"></div>
                <button mat-flat-button type="button" color="accent" style="height: 60px; min-width: 60px;"
                    fxLayout="row" fxLayoutAlign="start center">
                    <div style=" position: relative; width: 50px; height: 50px; padding-top: 7px;">
                        All
                    </div>
                </button>
            </div>
        </div>

        <!--END -FILTER BY ORGANIZATION ROW-->

        <div style="padding-top: 10px"></div>

        <div fxLayout="row" style="width: 100%" fxLayoutAlign="start center">
            <div class="p-32"></div>

            <!--ASSET TABLE-->
            <mat-table #tableRepository [dataSource]="dataSourceRepository" style="width: 100%">

                <ng-container matColumnDef="issuer">
                    <mat-header-cell *matHeaderCellDef>Organisation</mat-header-cell>
                    <mat-cell *matCellDef="let entry">
                        <div fxLayout="row" fxLayoutAligne="start center">
                            <img class="avatar" [src]="getImagePathById(entry.issuerId)">
                            <div>{{getIssuerName(entry.issuerId)}}</div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="asset">
                    <mat-header-cell *matHeaderCellDef>Asset</mat-header-cell>
                    <mat-cell *matCellDef="let entry">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <div *ngIf="entry.classArchetype=='COMPETENCE'" fxLayout="row" fxLayoutAlign="start center">
                                <div style=" z-index: 255; position: relative; width: 25px; height: 25px;"
                                    mat-tooltip="Competence">
                                    <img style="object-fit: contain; max-width: 100%; width: 100%; max-height: 100%; height: 100%;"
                                        src="/assets/competence.jpg">
                                </div>


                            </div>

                            <div *ngIf="entry.classArchetype=='FUNCTION'" fxLayout="row" fxLayoutAlign="start center">
                                <div style=" z-index: 255; position: relative; width: 25px; height: 25px;"
                                    mat-tooltip="Competence">
                                    <img style="object-fit: contain; max-width: 100%; width: 100%; max-height: 100%; height: 100%;"
                                        src="/assets/TODO">
                                </div>

                            </div>

                            <div *ngIf="entry.classArchetype=='TASK'" fxLayout="row" fxLayoutAlign="start center">
                                <div style=" z-index: 255; position: relative; width: 25px; height: 25px;"
                                    mat-tooltip="Competence">
                                    <img style="object-fit: contain; max-width: 100%; width: 100%; max-height: 100%; height: 100%;"
                                        src="/assets/cog.png">
                                </div>

                            </div>

                            <div *ngIf="entry.classArchetype=='ACHIEVEMENT'">

                                <div *ngIf="entry.feedbackType==null" fxLayout="row" fxLayoutAlign="start center">
                                    <div style=" z-index: 255; position: relative; width: 25px; height: 25px;"
                                        mat-tooltip="Competence">
                                        <img style="object-fit: contain; max-width: 100%; width: 100%; max-height: 100%; height: 100%;"
                                            src="/assets/icons/achievements_black.png">
                                    </div>


                                </div>

                                <div *ngIf="entry.feedbackType!=null" fxLayout="row" fxLayoutAlign="start center">
                                    <div style=" z-index: 255; position: relative; width: 25px; height: 25px;"
                                        mat-tooltip="Competence">
                                        <mat-icon inline="true" style="font-size: 25px; line-height: normal">feedback
                                        </mat-icon>
                                    </div>


                                </div>

                              

                            </div>

                            <div class="pr-4"></div>

                            <div>{{entry.name}} </div>
                            <div>{{findNameProperty(entry)}}</div>
                        </div>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                    <mat-header-cell *matHeaderCellDef>Datum bekommen</mat-header-cell>
                    <mat-cell *matCellDef="let entry">
                        {{getDateString(entry.timestamp)}}
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
                    <mat-cell *matCellDef="let entry">

                        <mat-icon [matMenuTriggerFor]="newMenu" style="cursor: pointer">more_vert</mat-icon>

                        <mat-menu #newMenu="matMenu" xPosition="after" yPosition="below" [overlapTrigger]="false">
                            <button mat-menu-item routerLink="/task/add">Details</button>
                            <button mat-menu-item>Evidence</button>
                        </mat-menu>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumnsRepository"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsRepository;"
                    [ngClass]="{ 'highlighted_new': row.status == 'new' }"></mat-row>
            </mat-table>

            <div class="p-32"></div>

        </div>

        <button mat-stroked-button type="button" color="accent">More in History</button>




        <!-- </mat-tab>
        <mat-tab label="History">
            content
        </mat-tab>
    </mat-tab-group> -->

    </div>